reference-apps/iot-trucking-app/trucking-data-simulator/src/main/resources/nifi-flows/Nifi_and_Schema_Registry_Integration_End_to_End_Example_V2.xml
<?xml version="1.0" ?>
<template encoding-version="1.1">
  <description></description>
  <groupId>7c84501d-d10c-407c-b9f3-1d80e38fe36a</groupId>
  <name>Nifi_and_Schema_Registry_Integration_End_to_End_Example_V2</name>
  <snippet>
    <controllerServices>
      <id>d259d1d3-5055-36f7-0000-000000000000</id>
      <parentGroupId>46f95fe5-3024-31d8-0000-000000000000</parentGroupId>
      <bundle>
        <artifact>nifi-record-serialization-services-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.2.0-SNAPSHOT</version>
      </bundle>
      <comments></comments>
      <descriptors>
        <entry>
          <key>Schema Write Strategy</key>
          <value>
            <name>Schema Write Strategy</name>
          </value>
        </entry>
        <entry>
          <key>schema-access-strategy</key>
          <value>
            <name>schema-access-strategy</name>
          </value>
        </entry>
        <entry>
          <key>schema-registry</key>
          <value>
            <identifiesControllerService>org.apache.nifi.schemaregistry.services.SchemaRegistry</identifiesControllerService>
            <name>schema-registry</name>
          </value>
        </entry>
        <entry>
          <key>schema-name</key>
          <value>
            <name>schema-name</name>
          </value>
        </entry>
        <entry>
          <key>schema-text</key>
          <value>
            <name>schema-text</name>
          </value>
        </entry>
      </descriptors>
      <name>AvroRecordSetWriter</name>
      <persistsState>false</persistsState>
      <properties>
        <entry>
          <key>Schema Write Strategy</key>
          <value>hwx-content-encoded-schema</value>
        </entry>
        <entry>
          <key>schema-access-strategy</key>
          <value>hwx-schema-ref-attributes</value>
        </entry>
        <entry>
          <key>schema-registry</key>
          <value>f74f8508-631a-361e-0000-000000000000</value>
        </entry>
        <entry>
          <key>schema-name</key>
          <value>${schema.name}</value>
        </entry>
        <entry>
          <key>schema-text</key>
          <value>${avro.schema}</value>
        </entry>
      </properties>
      <state>ENABLED</state>
      <type>org.apache.nifi.avro.AvroRecordSetWriter</type>
    </controllerServices>
    <controllerServices>
      <id>e0b3c2d8-11a9-3657-0000-000000000000</id>
      <parentGroupId>46f95fe5-3024-31d8-0000-000000000000</parentGroupId>
      <bundle>
        <artifact>nifi-record-serialization-services-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.2.0-SNAPSHOT</version>
      </bundle>
      <comments></comments>
      <descriptors>
        <entry>
          <key>Schema Write Strategy</key>
          <value>
            <name>Schema Write Strategy</name>
          </value>
        </entry>
        <entry>
          <key>schema-access-strategy</key>
          <value>
            <name>schema-access-strategy</name>
          </value>
        </entry>
        <entry>
          <key>schema-registry</key>
          <value>
            <identifiesControllerService>org.apache.nifi.schemaregistry.services.SchemaRegistry</identifiesControllerService>
            <name>schema-registry</name>
          </value>
        </entry>
        <entry>
          <key>schema-name</key>
          <value>
            <name>schema-name</name>
          </value>
        </entry>
        <entry>
          <key>schema-text</key>
          <value>
            <name>schema-text</name>
          </value>
        </entry>
        <entry>
          <key>Date Format</key>
          <value>
            <name>Date Format</name>
          </value>
        </entry>
        <entry>
          <key>Time Format</key>
          <value>
            <name>Time Format</name>
          </value>
        </entry>
        <entry>
          <key>Timestamp Format</key>
          <value>
            <name>Timestamp Format</name>
          </value>
        </entry>
        <entry>
          <key>CSV Format</key>
          <value>
            <name>CSV Format</name>
          </value>
        </entry>
        <entry>
          <key>Value Separator</key>
          <value>
            <name>Value Separator</name>
          </value>
        </entry>
        <entry>
          <key>Include Header Line</key>
          <value>
            <name>Include Header Line</name>
          </value>
        </entry>
        <entry>
          <key>Quote Character</key>
          <value>
            <name>Quote Character</name>
          </value>
        </entry>
        <entry>
          <key>Escape Character</key>
          <value>
            <name>Escape Character</name>
          </value>
        </entry>
        <entry>
          <key>Comment Marker</key>
          <value>
            <name>Comment Marker</name>
          </value>
        </entry>
        <entry>
          <key>Null String</key>
          <value>
            <name>Null String</name>
          </value>
        </entry>
        <entry>
          <key>Trim Fields</key>
          <value>
            <name>Trim Fields</name>
          </value>
        </entry>
        <entry>
          <key>Quote Mode</key>
          <value>
            <name>Quote Mode</name>
          </value>
        </entry>
        <entry>
          <key>Record Separator</key>
          <value>
            <name>Record Separator</name>
          </value>
        </entry>
        <entry>
          <key>Include Trailing Delimiter</key>
          <value>
            <name>Include Trailing Delimiter</name>
          </value>
        </entry>
      </descriptors>
      <name>CSVRecordSetWriter-Read-Schema-From-HWX-Embedded</name>
      <persistsState>false</persistsState>
      <properties>
        <entry>
          <key>Schema Write Strategy</key>
          <value>hwx-schema-ref-attributes</value>
        </entry>
        <entry>
          <key>schema-access-strategy</key>
          <value>hwx-content-encoded-schema</value>
        </entry>
        <entry>
          <key>schema-registry</key>
          <value>f74f8508-631a-361e-0000-000000000000</value>
        </entry>
        <entry>
          <key>schema-name</key>
        </entry>
        <entry>
          <key>schema-text</key>
        </entry>
        <entry>
          <key>Date Format</key>
        </entry>
        <entry>
          <key>Time Format</key>
        </entry>
        <entry>
          <key>Timestamp Format</key>
        </entry>
        <entry>
          <key>CSV Format</key>
        </entry>
        <entry>
          <key>Value Separator</key>
          <value>|</value>
        </entry>
        <entry>
          <key>Include Header Line</key>
          <value>false</value>
        </entry>
        <entry>
          <key>Quote Character</key>
        </entry>
        <entry>
          <key>Escape Character</key>
        </entry>
        <entry>
          <key>Comment Marker</key>
        </entry>
        <entry>
          <key>Null String</key>
        </entry>
        <entry>
          <key>Trim Fields</key>
        </entry>
        <entry>
          <key>Quote Mode</key>
        </entry>
        <entry>
          <key>Record Separator</key>
        </entry>
        <entry>
          <key>Include Trailing Delimiter</key>
          <value>true</value>
        </entry>
      </properties>
      <state>ENABLED</state>
      <type>org.apache.nifi.csv.CSVRecordSetWriter</type>
    </controllerServices>
    <controllerServices>
      <id>f74f8508-631a-361e-0000-000000000000</id>
      <parentGroupId>46f95fe5-3024-31d8-0000-000000000000</parentGroupId>
      <bundle>
        <artifact>nifi-hwx-schema-registry-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.2.0-SNAPSHOT</version>
      </bundle>
      <comments></comments>
      <descriptors>
        <entry>
          <key>url</key>
          <value>
            <name>url</name>
          </value>
        </entry>
      </descriptors>
      <name>HWX Schema Registry</name>
      <persistsState>false</persistsState>
      <properties>
        <entry>
          <key>url</key>
          <value>http://fenton-hdf13.field.hortonworks.com:7788/api/v1</value>
        </entry>
      </properties>
      <state>ENABLED</state>
      <type>org.apache.nifi.schemaregistry.hortonworks.HortonworksSchemaRegistry</type>
    </controllerServices>
    <controllerServices>
      <id>f7e4e7dd-96cb-382f-0000-000000000000</id>
      <parentGroupId>46f95fe5-3024-31d8-0000-000000000000</parentGroupId>
      <bundle>
        <artifact>nifi-record-serialization-services-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.2.0-SNAPSHOT</version>
      </bundle>
      <comments></comments>
      <descriptors>
        <entry>
          <key>Schema Write Strategy</key>
          <value>
            <name>Schema Write Strategy</name>
          </value>
        </entry>
        <entry>
          <key>schema-access-strategy</key>
          <value>
            <name>schema-access-strategy</name>
          </value>
        </entry>
        <entry>
          <key>schema-registry</key>
          <value>
            <identifiesControllerService>org.apache.nifi.schemaregistry.services.SchemaRegistry</identifiesControllerService>
            <name>schema-registry</name>
          </value>
        </entry>
        <entry>
          <key>schema-name</key>
          <value>
            <name>schema-name</name>
          </value>
        </entry>
        <entry>
          <key>schema-text</key>
          <value>
            <name>schema-text</name>
          </value>
        </entry>
        <entry>
          <key>Date Format</key>
          <value>
            <name>Date Format</name>
          </value>
        </entry>
        <entry>
          <key>Time Format</key>
          <value>
            <name>Time Format</name>
          </value>
        </entry>
        <entry>
          <key>Timestamp Format</key>
          <value>
            <name>Timestamp Format</name>
          </value>
        </entry>
        <entry>
          <key>CSV Format</key>
          <value>
            <name>CSV Format</name>
          </value>
        </entry>
        <entry>
          <key>Value Separator</key>
          <value>
            <name>Value Separator</name>
          </value>
        </entry>
        <entry>
          <key>Include Header Line</key>
          <value>
            <name>Include Header Line</name>
          </value>
        </entry>
        <entry>
          <key>Quote Character</key>
          <value>
            <name>Quote Character</name>
          </value>
        </entry>
        <entry>
          <key>Escape Character</key>
          <value>
            <name>Escape Character</name>
          </value>
        </entry>
        <entry>
          <key>Comment Marker</key>
          <value>
            <name>Comment Marker</name>
          </value>
        </entry>
        <entry>
          <key>Null String</key>
          <value>
            <name>Null String</name>
          </value>
        </entry>
        <entry>
          <key>Trim Fields</key>
          <value>
            <name>Trim Fields</name>
          </value>
        </entry>
        <entry>
          <key>Quote Mode</key>
          <value>
            <name>Quote Mode</name>
          </value>
        </entry>
        <entry>
          <key>Record Separator</key>
          <value>
            <name>Record Separator</name>
          </value>
        </entry>
        <entry>
          <key>Include Trailing Delimiter</key>
          <value>
            <name>Include Trailing Delimiter</name>
          </value>
        </entry>
      </descriptors>
      <name>CSVRecordSetWriter</name>
      <persistsState>false</persistsState>
      <properties>
        <entry>
          <key>Schema Write Strategy</key>
          <value>hwx-schema-ref-attributes</value>
        </entry>
        <entry>
          <key>schema-access-strategy</key>
          <value>hwx-schema-ref-attributes</value>
        </entry>
        <entry>
          <key>schema-registry</key>
          <value>f74f8508-631a-361e-0000-000000000000</value>
        </entry>
        <entry>
          <key>schema-name</key>
        </entry>
        <entry>
          <key>schema-text</key>
        </entry>
        <entry>
          <key>Date Format</key>
        </entry>
        <entry>
          <key>Time Format</key>
        </entry>
        <entry>
          <key>Timestamp Format</key>
        </entry>
        <entry>
          <key>CSV Format</key>
        </entry>
        <entry>
          <key>Value Separator</key>
          <value>|</value>
        </entry>
        <entry>
          <key>Include Header Line</key>
          <value>false</value>
        </entry>
        <entry>
          <key>Quote Character</key>
        </entry>
        <entry>
          <key>Escape Character</key>
        </entry>
        <entry>
          <key>Comment Marker</key>
        </entry>
        <entry>
          <key>Null String</key>
        </entry>
        <entry>
          <key>Trim Fields</key>
        </entry>
        <entry>
          <key>Quote Mode</key>
        </entry>
        <entry>
          <key>Record Separator</key>
          <value>|</value>
        </entry>
        <entry>
          <key>Include Trailing Delimiter</key>
        </entry>
      </properties>
      <state>ENABLED</state>
      <type>org.apache.nifi.csv.CSVRecordSetWriter</type>
    </controllerServices>
    <controllerServices>
      <id>39de508a-8cac-3edb-0000-000000000000</id>
      <parentGroupId>46f95fe5-3024-31d8-0000-000000000000</parentGroupId>
      <bundle>
        <artifact>nifi-record-serialization-services-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.2.0-SNAPSHOT</version>
      </bundle>
      <comments></comments>
      <descriptors>
        <entry>
          <key>schema-access-strategy</key>
          <value>
            <name>schema-access-strategy</name>
          </value>
        </entry>
        <entry>
          <key>schema-registry</key>
          <value>
            <identifiesControllerService>org.apache.nifi.schemaregistry.services.SchemaRegistry</identifiesControllerService>
            <name>schema-registry</name>
          </value>
        </entry>
        <entry>
          <key>schema-name</key>
          <value>
            <name>schema-name</name>
          </value>
        </entry>
        <entry>
          <key>schema-text</key>
          <value>
            <name>schema-text</name>
          </value>
        </entry>
      </descriptors>
      <name>Avro Truck Events</name>
      <persistsState>false</persistsState>
      <properties>
        <entry>
          <key>schema-access-strategy</key>
          <value>hwx-content-encoded-schema</value>
        </entry>
        <entry>
          <key>schema-registry</key>
          <value>f74f8508-631a-361e-0000-000000000000</value>
        </entry>
        <entry>
          <key>schema-name</key>
        </entry>
        <entry>
          <key>schema-text</key>
        </entry>
      </properties>
      <state>ENABLED</state>
      <type>org.apache.nifi.avro.AvroReader</type>
    </controllerServices>
    <controllerServices>
      <id>78001276-2e9f-34f3-0000-000000000000</id>
      <parentGroupId>46f95fe5-3024-31d8-0000-000000000000</parentGroupId>
      <bundle>
        <artifact>nifi-record-serialization-services-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.2.0-SNAPSHOT</version>
      </bundle>
      <comments></comments>
      <descriptors>
        <entry>
          <key>schema-access-strategy</key>
          <value>
            <name>schema-access-strategy</name>
          </value>
        </entry>
        <entry>
          <key>schema-registry</key>
          <value>
            <identifiesControllerService>org.apache.nifi.schemaregistry.services.SchemaRegistry</identifiesControllerService>
            <name>schema-registry</name>
          </value>
        </entry>
        <entry>
          <key>schema-name</key>
          <value>
            <name>schema-name</name>
          </value>
        </entry>
        <entry>
          <key>schema-text</key>
          <value>
            <name>schema-text</name>
          </value>
        </entry>
        <entry>
          <key>Date Format</key>
          <value>
            <name>Date Format</name>
          </value>
        </entry>
        <entry>
          <key>Time Format</key>
          <value>
            <name>Time Format</name>
          </value>
        </entry>
        <entry>
          <key>Timestamp Format</key>
          <value>
            <name>Timestamp Format</name>
          </value>
        </entry>
        <entry>
          <key>CSV Format</key>
          <value>
            <name>CSV Format</name>
          </value>
        </entry>
        <entry>
          <key>Value Separator</key>
          <value>
            <name>Value Separator</name>
          </value>
        </entry>
        <entry>
          <key>Skip Header Line</key>
          <value>
            <name>Skip Header Line</name>
          </value>
        </entry>
        <entry>
          <key>Quote Character</key>
          <value>
            <name>Quote Character</name>
          </value>
        </entry>
        <entry>
          <key>Escape Character</key>
          <value>
            <name>Escape Character</name>
          </value>
        </entry>
        <entry>
          <key>Comment Marker</key>
          <value>
            <name>Comment Marker</name>
          </value>
        </entry>
        <entry>
          <key>Null String</key>
          <value>
            <name>Null String</name>
          </value>
        </entry>
        <entry>
          <key>Trim Fields</key>
          <value>
            <name>Trim Fields</name>
          </value>
        </entry>
      </descriptors>
      <name>CSV Truck Events</name>
      <persistsState>false</persistsState>
      <properties>
        <entry>
          <key>schema-access-strategy</key>
          <value>hwx-schema-ref-attributes</value>
        </entry>
        <entry>
          <key>schema-registry</key>
          <value>f74f8508-631a-361e-0000-000000000000</value>
        </entry>
        <entry>
          <key>schema-name</key>
          <value>${schema.name}</value>
        </entry>
        <entry>
          <key>schema-text</key>
          <value>${avro.schema}</value>
        </entry>
        <entry>
          <key>Date Format</key>
        </entry>
        <entry>
          <key>Time Format</key>
        </entry>
        <entry>
          <key>Timestamp Format</key>
        </entry>
        <entry>
          <key>CSV Format</key>
          <value>custom</value>
        </entry>
        <entry>
          <key>Value Separator</key>
          <value>|</value>
        </entry>
        <entry>
          <key>Skip Header Line</key>
          <value>false</value>
        </entry>
        <entry>
          <key>Quote Character</key>
          <value>"</value>
        </entry>
        <entry>
          <key>Escape Character</key>
          <value>\</value>
        </entry>
        <entry>
          <key>Comment Marker</key>
        </entry>
        <entry>
          <key>Null String</key>
        </entry>
        <entry>
          <key>Trim Fields</key>
          <value>true</value>
        </entry>
      </properties>
      <state>ENABLED</state>
      <type>org.apache.nifi.csv.CSVReader</type>
    </controllerServices>
    <labels>
      <id>957b8132-d10b-368a-0000-000000000000</id>
      <parentGroupId>46f95fe5-3024-31d8-0000-000000000000</parentGroupId>
      <position>
        <x>0.0</x>
        <y>0.0</y>
      </position>
      <height>266.6058044433594</height>
      <label>1. Nifi ingest HWX Registry serialized Avro events. 
The HWX registry will put the schema identifier in beginning
bytes of each payload

2. Nifi extracts the schema key and fetches schema from the 
HWX Schema Registry and then converts from AVro to CSV. 

3. These CSV records are then enriched and converted into Avro Records 
and pushed into a Kafka Topic. 
 
When publishing to Kafka Topic, Nifi will look up the schema associated
with the kafka topic and then use it to serialize into Avro before
publishing into Kafka
</label>
      <style>
        <entry>
          <key>font-size</key>
          <value>20px</value>
        </entry>
      </style>
      <width>704.3400268554688</width>
    </labels>
    <labels>
      <id>b188c0ae-e7bb-3f55-0000-000000000000</id>
      <parentGroupId>46f95fe5-3024-31d8-0000-000000000000</parentGroupId>
      <position>
        <x>4.578291893005371</x>
        <y>1095.1533508300781</y>
      </position>
      <height>239.05677795410156</height>
      <label>1. Nifi ingest CSV events with schema identifier embedded
2. Nifi converts them to CSV records using schema fetched from HWX Schema Registry.
3. These CSV records are then enriched and converted into Avro Records 
and pushed into a Kafka Topic. 
 
The schema associated with the Avro objects is retrieved from the 
HWX Schema Registry based on the schema registered for the Kafka topic.
 
In this approach, each event is converted into a single CSV Process Record
and then Nifi uses SQL to filter different events to different Kafka topics. 
Each of these CSV events are converted into Avro before being pushed
into Kafka topic

</label>
      <style>
        <entry>
          <key>font-size</key>
          <value>16px</value>
        </entry>
      </style>
      <width>696.9364013671875</width>
    </labels>
    <labels>
      <id>00841c7a-b998-3c60-0000-000000000000</id>
      <parentGroupId>46f95fe5-3024-31d8-0000-000000000000</parentGroupId>
      <position>
        <x>9.156633377075195</x>
        <y>578.0346984863281</y>
      </position>
      <height>239.05677795410156</height>
      <label>1. Nifi ingest CSV events with schema identifier embedded
2. Nifi converts them to CSV records using schema fetched from HWX Schema Registry.
3. These CSV records are then enriched and converted into Avro Records 
and pushed into a Kafka Topic. 
 
The schema associated with the Avro objects is retrieved from the 
HWX Schema Registry based on the schema registered for the Kafka topic.
 
In this approach events associated with the the same schema are 
grouped together as Process Records into a single File and each of those
process records are pushed into Kafka Topic in Avro format


</label>
      <style>
        <entry>
          <key>font-size</key>
          <value>16px</value>
        </entry>
      </style>
      <width>696.9364013671875</width>
    </labels>
    <processGroups>
      <id>a1f06410-94b4-3171-0000-000000000000</id>
      <parentGroupId>46f95fe5-3024-31d8-0000-000000000000</parentGroupId>
      <position>
        <x>164.38508272280137</x>
        <y>1380.2611208518301</y>
      </position>
      <comments></comments>
      <contents>
        <connections>
          <id>e740ba17-ffc1-33f8-0000-000000000000</id>
          <parentGroupId>a1f06410-94b4-3171-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <destination>
            <groupId>a1f06410-94b4-3171-0000-000000000000</groupId>
            <id>b8e2b478-cfda-3701-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>success</selectedRelationships>
          <source>
            <groupId>a1f06410-94b4-3171-0000-000000000000</groupId>
            <id>c87b70f7-34be-387c-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>0eb33d7e-9228-35c5-0000-000000000000</id>
          <parentGroupId>a1f06410-94b4-3171-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <destination>
            <groupId>a1f06410-94b4-3171-0000-000000000000</groupId>
            <id>6a7d7f69-9772-3803-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <source>
            <groupId>80554b23-9340-3778-0000-000000000000</groupId>
            <id>6e8cf0e2-b080-3124-0000-000000000000</id>
            <type>OUTPUT_PORT</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>2a272c34-a04b-3430-0000-000000000000</id>
          <parentGroupId>a1f06410-94b4-3171-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <destination>
            <groupId>a1f06410-94b4-3171-0000-000000000000</groupId>
            <id>8bc1535e-bead-3f9e-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>success</selectedRelationships>
          <source>
            <groupId>a1f06410-94b4-3171-0000-000000000000</groupId>
            <id>6a7d7f69-9772-3803-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>2de83678-692d-348d-0000-000000000000</id>
          <parentGroupId>a1f06410-94b4-3171-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <destination>
            <groupId>a1f06410-94b4-3171-0000-000000000000</groupId>
            <id>b8e2b478-cfda-3701-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>success</selectedRelationships>
          <source>
            <groupId>a1f06410-94b4-3171-0000-000000000000</groupId>
            <id>8bc1535e-bead-3f9e-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>4eeae489-0031-33a9-0000-000000000000</id>
          <parentGroupId>a1f06410-94b4-3171-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <bends>
            <x>1211.0447148908875</x>
            <y>463.467917062308</y>
          </bends>
          <bends>
            <x>1316.6106023420593</x>
            <y>555.8380743041293</y>
          </bends>
          <destination>
            <groupId>a1f06410-94b4-3171-0000-000000000000</groupId>
            <id>c87b70f7-34be-387c-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <source>
            <groupId>80554b23-9340-3778-0000-000000000000</groupId>
            <id>b558e968-e71b-3c83-0000-000000000000</id>
            <type>OUTPUT_PORT</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <labels>
          <id>bbe3e1f1-fb2b-3c93-0000-000000000000</id>
          <parentGroupId>a1f06410-94b4-3171-0000-000000000000</parentGroupId>
          <position>
            <x>560.8052965336119</x>
            <y>301.78472233006846</y>
          </position>
          <height>57.396385192871094</height>
          <label>Go Get the Data</label>
          <style>
            <entry>
              <key>font-size</key>
              <value>24px</value>
            </entry>
          </style>
          <width>221.0823516845703</width>
        </labels>
        <labels>
          <id>cc5688ca-05c8-31e3-0000-000000000000</id>
          <parentGroupId>a1f06410-94b4-3171-0000-000000000000</parentGroupId>
          <position>
            <x>202.23737832065598</x>
            <y>716.5298255340506</y>
          </position>
          <height>102.78064727783203</height>
          <label>Setup the schema keys for the 
Kafka Topicthat we are publishing to.</label>
          <style>
            <entry>
              <key>font-size</key>
              <value>24px</value>
            </entry>
          </style>
          <width>434.3003845214844</width>
        </labels>
        <labels>
          <id>156f7973-39b9-393d-0000-000000000000</id>
          <parentGroupId>a1f06410-94b4-3171-0000-000000000000</parentGroupId>
          <position>
            <x>202.29585995916636</x>
            <y>972.9440529777598</y>
          </position>
          <height>92.15825653076172</height>
          <label>Serialize CSV into Avro by fetching  Schema 
associated with kafka topic from the HWX Schema REgistry.
</label>
          <style>
            <entry>
              <key>font-size</key>
              <value>24px</value>
            </entry>
          </style>
          <width>669.0045776367188</width>
        </labels>
        <labels>
          <id>273eb5f9-3e43-34d9-0000-000000000000</id>
          <parentGroupId>a1f06410-94b4-3171-0000-000000000000</parentGroupId>
          <position>
            <x>429.3314945315935</x>
            <y>545.0001014129568</y>
          </position>
          <height>44.64159393310547</height>
          <label>Enrich the Data</label>
          <style>
            <entry>
              <key>font-size</key>
              <value>24px</value>
            </entry>
          </style>
          <width>196.63572692871094</width>
        </labels>
        <processGroups>
          <id>80554b23-9340-3778-0000-000000000000</id>
          <parentGroupId>a1f06410-94b4-3171-0000-000000000000</parentGroupId>
          <position>
            <x>900.6595677961609</x>
            <y>250.00100765373867</y>
          </position>
          <comments></comments>
          <contents>
            <connections>
              <id>b622b7ef-31cc-343e-0000-000000000000</id>
              <parentGroupId>80554b23-9340-3778-0000-000000000000</parentGroupId>
              <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
              <backPressureObjectThreshold>10000</backPressureObjectThreshold>
              <destination>
                <groupId>80554b23-9340-3778-0000-000000000000</groupId>
                <id>97109d00-9a4b-3c02-0000-000000000000</id>
                <type>PROCESSOR</type>
              </destination>
              <flowFileExpiration>0 sec</flowFileExpiration>
              <labelIndex>1</labelIndex>
              <name></name>
              <selectedRelationships>splits</selectedRelationships>
              <source>
                <groupId>80554b23-9340-3778-0000-000000000000</groupId>
                <id>71b19842-d7f7-3e1e-0000-000000000000</id>
                <type>PROCESSOR</type>
              </source>
              <zIndex>0</zIndex>
            </connections>
            <connections>
              <id>d15c76d5-2912-3b4b-0000-000000000000</id>
              <parentGroupId>80554b23-9340-3778-0000-000000000000</parentGroupId>
              <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
              <backPressureObjectThreshold>10000</backPressureObjectThreshold>
              <destination>
                <groupId>80554b23-9340-3778-0000-000000000000</groupId>
                <id>2f626497-b4a5-3534-0000-000000000000</id>
                <type>PROCESSOR</type>
              </destination>
              <flowFileExpiration>0 sec</flowFileExpiration>
              <labelIndex>1</labelIndex>
              <name></name>
              <selectedRelationships>matched</selectedRelationships>
              <source>
                <groupId>80554b23-9340-3778-0000-000000000000</groupId>
                <id>97109d00-9a4b-3c02-0000-000000000000</id>
                <type>PROCESSOR</type>
              </source>
              <zIndex>0</zIndex>
            </connections>
            <connections>
              <id>fff80d13-b1c9-3b5c-0000-000000000000</id>
              <parentGroupId>80554b23-9340-3778-0000-000000000000</parentGroupId>
              <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
              <backPressureObjectThreshold>10000</backPressureObjectThreshold>
              <destination>
                <groupId>80554b23-9340-3778-0000-000000000000</groupId>
                <id>86d46848-2cf3-3ce7-0000-000000000000</id>
                <type>PROCESSOR</type>
              </destination>
              <flowFileExpiration>0 sec</flowFileExpiration>
              <labelIndex>1</labelIndex>
              <name></name>
              <selectedRelationships>success</selectedRelationships>
              <source>
                <groupId>80554b23-9340-3778-0000-000000000000</groupId>
                <id>2f626497-b4a5-3534-0000-000000000000</id>
                <type>PROCESSOR</type>
              </source>
              <zIndex>0</zIndex>
            </connections>
            <connections>
              <id>17e2ed9e-008d-3338-0000-000000000000</id>
              <parentGroupId>80554b23-9340-3778-0000-000000000000</parentGroupId>
              <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
              <backPressureObjectThreshold>10000</backPressureObjectThreshold>
              <destination>
                <groupId>80554b23-9340-3778-0000-000000000000</groupId>
                <id>b558e968-e71b-3c83-0000-000000000000</id>
                <type>OUTPUT_PORT</type>
              </destination>
              <flowFileExpiration>0 sec</flowFileExpiration>
              <labelIndex>1</labelIndex>
              <name></name>
              <selectedRelationships>truck_speed_event</selectedRelationships>
              <source>
                <groupId>80554b23-9340-3778-0000-000000000000</groupId>
                <id>e2f76aff-7e0c-388a-0000-000000000000</id>
                <type>PROCESSOR</type>
              </source>
              <zIndex>0</zIndex>
            </connections>
            <connections>
              <id>1a814923-376e-3c34-0000-000000000000</id>
              <parentGroupId>80554b23-9340-3778-0000-000000000000</parentGroupId>
              <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
              <backPressureObjectThreshold>10000</backPressureObjectThreshold>
              <destination>
                <groupId>80554b23-9340-3778-0000-000000000000</groupId>
                <id>e2f76aff-7e0c-388a-0000-000000000000</id>
                <type>PROCESSOR</type>
              </destination>
              <flowFileExpiration>0 sec</flowFileExpiration>
              <labelIndex>1</labelIndex>
              <name></name>
              <selectedRelationships>success</selectedRelationships>
              <source>
                <groupId>80554b23-9340-3778-0000-000000000000</groupId>
                <id>86d46848-2cf3-3ce7-0000-000000000000</id>
                <type>PROCESSOR</type>
              </source>
              <zIndex>0</zIndex>
            </connections>
            <connections>
              <id>30f4a8e4-bddb-33de-0000-000000000000</id>
              <parentGroupId>80554b23-9340-3778-0000-000000000000</parentGroupId>
              <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
              <backPressureObjectThreshold>10000</backPressureObjectThreshold>
              <destination>
                <groupId>80554b23-9340-3778-0000-000000000000</groupId>
                <id>6e8cf0e2-b080-3124-0000-000000000000</id>
                <type>OUTPUT_PORT</type>
              </destination>
              <flowFileExpiration>0 sec</flowFileExpiration>
              <labelIndex>1</labelIndex>
              <name></name>
              <selectedRelationships>truck_geo_event</selectedRelationships>
              <source>
                <groupId>80554b23-9340-3778-0000-000000000000</groupId>
                <id>e2f76aff-7e0c-388a-0000-000000000000</id>
                <type>PROCESSOR</type>
              </source>
              <zIndex>0</zIndex>
            </connections>
            <connections>
              <id>4bbfae63-c953-351d-0000-000000000000</id>
              <parentGroupId>80554b23-9340-3778-0000-000000000000</parentGroupId>
              <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
              <backPressureObjectThreshold>10000</backPressureObjectThreshold>
              <destination>
                <groupId>80554b23-9340-3778-0000-000000000000</groupId>
                <id>71b19842-d7f7-3e1e-0000-000000000000</id>
                <type>PROCESSOR</type>
              </destination>
              <flowFileExpiration>0 sec</flowFileExpiration>
              <labelIndex>1</labelIndex>
              <name></name>
              <selectedRelationships>success</selectedRelationships>
              <source>
                <groupId>80554b23-9340-3778-0000-000000000000</groupId>
                <id>3923336a-fd22-30f7-0000-000000000000</id>
                <type>PROCESSOR</type>
              </source>
              <zIndex>0</zIndex>
            </connections>
            <outputPorts>
              <id>b558e968-e71b-3c83-0000-000000000000</id>
              <parentGroupId>80554b23-9340-3778-0000-000000000000</parentGroupId>
              <position>
                <x>621.6219866643096</x>
                <y>1433.1113289556813</y>
              </position>
              <comments></comments>
              <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
              <name>Truck Speed Events</name>
              <state>STOPPED</state>
              <type>OUTPUT_PORT</type>
            </outputPorts>
            <outputPorts>
              <id>6e8cf0e2-b080-3124-0000-000000000000</id>
              <parentGroupId>80554b23-9340-3778-0000-000000000000</parentGroupId>
              <position>
                <x>284.02124813891896</x>
                <y>1433.9699715338063</y>
              </position>
              <comments></comments>
              <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
              <name>Truck Geo Events</name>
              <state>STOPPED</state>
              <type>OUTPUT_PORT</type>
            </outputPorts>
            <processors>
              <id>86d46848-2cf3-3ce7-0000-000000000000</id>
              <parentGroupId>80554b23-9340-3778-0000-000000000000</parentGroupId>
              <position>
                <x>409.0</x>
                <y>1005.000015434651</y>
              </position>
              <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.2.0-SNAPSHOT</version>
              </bundle>
              <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                  <entry>
                    <key>Regular Expression</key>
                    <value>
                      <name>Regular Expression</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Replacement Value</key>
                    <value>
                      <name>Replacement Value</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Character Set</key>
                    <value>
                      <name>Character Set</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Maximum Buffer Size</key>
                    <value>
                      <name>Maximum Buffer Size</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Replacement Strategy</key>
                    <value>
                      <name>Replacement Strategy</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Evaluation Mode</key>
                    <value>
                      <name>Evaluation Mode</name>
                    </value>
                  </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                  <entry>
                    <key>Regular Expression</key>
                    <value>(?:.*?\|)(.*)</value>
                  </entry>
                  <entry>
                    <key>Replacement Value</key>
                    <value>$1</value>
                  </entry>
                  <entry>
                    <key>Character Set</key>
                    <value>UTF-8</value>
                  </entry>
                  <entry>
                    <key>Maximum Buffer Size</key>
                    <value>1 MB</value>
                  </entry>
                  <entry>
                    <key>Replacement Strategy</key>
                    <value>Regex Replace</value>
                  </entry>
                  <entry>
                    <key>Evaluation Mode</key>
                    <value>Line-by-Line</value>
                  </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
              </config>
              <name>Remove Line Headers and Trailing Pipe</name>
              <relationships>
                <autoTerminate>true</autoTerminate>
                <name>failure</name>
              </relationships>
              <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
              </relationships>
              <style></style>
              <type>org.apache.nifi.processors.standard.ReplaceText</type>
            </processors>
            <processors>
              <id>97109d00-9a4b-3c02-0000-000000000000</id>
              <parentGroupId>80554b23-9340-3778-0000-000000000000</parentGroupId>
              <position>
                <x>408.0</x>
                <y>604.000015434651</y>
              </position>
              <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.2.0-SNAPSHOT</version>
              </bundle>
              <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                  <entry>
                    <key>Character Set</key>
                    <value>
                      <name>Character Set</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Maximum Buffer Size</key>
                    <value>
                      <name>Maximum Buffer Size</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Maximum Capture Group Length</key>
                    <value>
                      <name>Maximum Capture Group Length</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Enable Canonical Equivalence</key>
                    <value>
                      <name>Enable Canonical Equivalence</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Enable Case-insensitive Matching</key>
                    <value>
                      <name>Enable Case-insensitive Matching</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Permit Whitespace and Comments in Pattern</key>
                    <value>
                      <name>Permit Whitespace and Comments in Pattern</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Enable DOTALL Mode</key>
                    <value>
                      <name>Enable DOTALL Mode</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Enable Literal Parsing of the Pattern</key>
                    <value>
                      <name>Enable Literal Parsing of the Pattern</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Enable Multiline Mode</key>
                    <value>
                      <name>Enable Multiline Mode</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Enable Unicode-aware Case Folding</key>
                    <value>
                      <name>Enable Unicode-aware Case Folding</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Enable Unicode Predefined Character Classes</key>
                    <value>
                      <name>Enable Unicode Predefined Character Classes</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Enable Unix Lines Mode</key>
                    <value>
                      <name>Enable Unix Lines Mode</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Include Capture Group 0</key>
                    <value>
                      <name>Include Capture Group 0</name>
                    </value>
                  </entry>
                  <entry>
                    <key>extract-text-enable-repeating-capture-group</key>
                    <value>
                      <name>extract-text-enable-repeating-capture-group</name>
                    </value>
                  </entry>
                  <entry>
                    <key>schema.identifier</key>
                    <value>
                      <name>schema.identifier</name>
                    </value>
                  </entry>
                  <entry>
                    <key>schema.version</key>
                    <value>
                      <name>schema.version</name>
                    </value>
                  </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                  <entry>
                    <key>Character Set</key>
                    <value>UTF-8</value>
                  </entry>
                  <entry>
                    <key>Maximum Buffer Size</key>
                    <value>1 KB</value>
                  </entry>
                  <entry>
                    <key>Maximum Capture Group Length</key>
                    <value>1024</value>
                  </entry>
                  <entry>
                    <key>Enable Canonical Equivalence</key>
                    <value>false</value>
                  </entry>
                  <entry>
                    <key>Enable Case-insensitive Matching</key>
                    <value>false</value>
                  </entry>
                  <entry>
                    <key>Permit Whitespace and Comments in Pattern</key>
                    <value>false</value>
                  </entry>
                  <entry>
                    <key>Enable DOTALL Mode</key>
                    <value>false</value>
                  </entry>
                  <entry>
                    <key>Enable Literal Parsing of the Pattern</key>
                    <value>false</value>
                  </entry>
                  <entry>
                    <key>Enable Multiline Mode</key>
                    <value>false</value>
                  </entry>
                  <entry>
                    <key>Enable Unicode-aware Case Folding</key>
                    <value>false</value>
                  </entry>
                  <entry>
                    <key>Enable Unicode Predefined Character Classes</key>
                    <value>false</value>
                  </entry>
                  <entry>
                    <key>Enable Unix Lines Mode</key>
                    <value>false</value>
                  </entry>
                  <entry>
                    <key>Include Capture Group 0</key>
                    <value>false</value>
                  </entry>
                  <entry>
                    <key>extract-text-enable-repeating-capture-group</key>
                    <value>false</value>
                  </entry>
                  <entry>
                    <key>schema.identifier</key>
                    <value>.*?\&lt;schema-id&gt;(.*?)\&lt;schema-id&gt;.*</value>
                  </entry>
                  <entry>
                    <key>schema.version</key>
                    <value>.*?\&lt;schema-version&gt;(.*?)\&lt;schema-version&gt;.*</value>
                  </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
              </config>
              <name>Extract Schema Reference</name>
              <relationships>
                <autoTerminate>false</autoTerminate>
                <name>matched</name>
              </relationships>
              <relationships>
                <autoTerminate>true</autoTerminate>
                <name>unmatched</name>
              </relationships>
              <style></style>
              <type>org.apache.nifi.processors.standard.ExtractText</type>
            </processors>
            <processors>
              <id>e2f76aff-7e0c-388a-0000-000000000000</id>
              <parentGroupId>80554b23-9340-3778-0000-000000000000</parentGroupId>
              <position>
                <x>417.8637039447758</x>
                <y>1208.0031260064022</y>
              </position>
              <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.2.0-SNAPSHOT</version>
              </bundle>
              <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                  <entry>
                    <key>record-reader</key>
                    <value>
                      <identifiesControllerService>org.apache.nifi.serialization.RecordReaderFactory</identifiesControllerService>
                      <name>record-reader</name>
                    </value>
                  </entry>
                  <entry>
                    <key>record-writer</key>
                    <value>
                      <identifiesControllerService>org.apache.nifi.serialization.RecordSetWriterFactory</identifiesControllerService>
                      <name>record-writer</name>
                    </value>
                  </entry>
                  <entry>
                    <key>include-zero-record-flowfiles</key>
                    <value>
                      <name>include-zero-record-flowfiles</name>
                    </value>
                  </entry>
                  <entry>
                    <key>cache-schema</key>
                    <value>
                      <name>cache-schema</name>
                    </value>
                  </entry>
                  <entry>
                    <key>truck_geo_event</key>
                    <value>
                      <name>truck_geo_event</name>
                    </value>
                  </entry>
                  <entry>
                    <key>truck_speed_event</key>
                    <value>
                      <name>truck_speed_event</name>
                    </value>
                  </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                  <entry>
                    <key>record-reader</key>
                    <value>78001276-2e9f-34f3-0000-000000000000</value>
                  </entry>
                  <entry>
                    <key>record-writer</key>
                    <value>f7e4e7dd-96cb-382f-0000-000000000000</value>
                  </entry>
                  <entry>
                    <key>include-zero-record-flowfiles</key>
                    <value>false</value>
                  </entry>
                  <entry>
                    <key>cache-schema</key>
                    <value>false</value>
                  </entry>
                  <entry>
                    <key>truck_geo_event</key>
                    <value>SELECT * FROM FLOWFILE where eventSource = 'truck_geo_event'</value>
                  </entry>
                  <entry>
                    <key>truck_speed_event</key>
                    <value>SELECT * FROM FLOWFILE where eventSource = 'truck_speed_event'</value>
                  </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
              </config>
              <name>Route Telemetry Events</name>
              <relationships>
                <autoTerminate>true</autoTerminate>
                <name>failure</name>
              </relationships>
              <relationships>
                <autoTerminate>true</autoTerminate>
                <name>original</name>
              </relationships>
              <relationships>
                <autoTerminate>false</autoTerminate>
                <name>truck_geo_event</name>
              </relationships>
              <relationships>
                <autoTerminate>false</autoTerminate>
                <name>truck_speed_event</name>
              </relationships>
              <style></style>
              <type>org.apache.nifi.processors.standard.QueryRecord</type>
            </processors>
            <processors>
              <id>2f626497-b4a5-3534-0000-000000000000</id>
              <parentGroupId>80554b23-9340-3778-0000-000000000000</parentGroupId>
              <position>
                <x>409.0</x>
                <y>806.000015434651</y>
              </position>
              <bundle>
                <artifact>nifi-update-attribute-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.2.0-SNAPSHOT</version>
              </bundle>
              <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                  <entry>
                    <key>Delete Attributes Expression</key>
                    <value>
                      <name>Delete Attributes Expression</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Store State</key>
                    <value>
                      <name>Store State</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Stateful Variables Initial Value</key>
                    <value>
                      <name>Stateful Variables Initial Value</name>
                    </value>
                  </entry>
                  <entry>
                    <key>schema.protocol.version</key>
                    <value>
                      <name>schema.protocol.version</name>
                    </value>
                  </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                  <entry>
                    <key>Delete Attributes Expression</key>
                  </entry>
                  <entry>
                    <key>Store State</key>
                    <value>Do not store state</value>
                  </entry>
                  <entry>
                    <key>Stateful Variables Initial Value</key>
                  </entry>
                  <entry>
                    <key>schema.protocol.version</key>
                    <value>1</value>
                  </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
              </config>
              <name>Add Schema Reference Protocol Version</name>
              <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
              </relationships>
              <style></style>
              <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
            </processors>
            <processors>
              <id>3923336a-fd22-30f7-0000-000000000000</id>
              <parentGroupId>80554b23-9340-3778-0000-000000000000</parentGroupId>
              <position>
                <x>404.50037434084663</x>
                <y>149.38899565620542</y>
              </position>
              <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.2.0-SNAPSHOT</version>
              </bundle>
              <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                  <entry>
                    <key>tail-mode</key>
                    <value>
                      <name>tail-mode</name>
                    </value>
                  </entry>
                  <entry>
                    <key>File to Tail</key>
                    <value>
                      <name>File to Tail</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Rolling Filename Pattern</key>
                    <value>
                      <name>Rolling Filename Pattern</name>
                    </value>
                  </entry>
                  <entry>
                    <key>tail-base-directory</key>
                    <value>
                      <name>tail-base-directory</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Initial Start Position</key>
                    <value>
                      <name>Initial Start Position</name>
                    </value>
                  </entry>
                  <entry>
                    <key>File Location</key>
                    <value>
                      <name>File Location</name>
                    </value>
                  </entry>
                  <entry>
                    <key>tailfile-recursive-lookup</key>
                    <value>
                      <name>tailfile-recursive-lookup</name>
                    </value>
                  </entry>
                  <entry>
                    <key>tailfile-rolling-strategy</key>
                    <value>
                      <name>tailfile-rolling-strategy</name>
                    </value>
                  </entry>
                  <entry>
                    <key>tailfile-lookup-frequency</key>
                    <value>
                      <name>tailfile-lookup-frequency</name>
                    </value>
                  </entry>
                  <entry>
                    <key>tailfile-maximum-age</key>
                    <value>
                      <name>tailfile-maximum-age</name>
                    </value>
                  </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                  <entry>
                    <key>tail-mode</key>
                    <value>Single file</value>
                  </entry>
                  <entry>
                    <key>File to Tail</key>
                    <value>/tmp/truck-sensor-data/all-streams-with-schemaid-embedded-1b.txt</value>
                  </entry>
                  <entry>
                    <key>Rolling Filename Pattern</key>
                  </entry>
                  <entry>
                    <key>tail-base-directory</key>
                  </entry>
                  <entry>
                    <key>Initial Start Position</key>
                    <value>Beginning of File</value>
                  </entry>
                  <entry>
                    <key>File Location</key>
                    <value>Local</value>
                  </entry>
                  <entry>
                    <key>tailfile-recursive-lookup</key>
                    <value>false</value>
                  </entry>
                  <entry>
                    <key>tailfile-rolling-strategy</key>
                    <value>Fixed name</value>
                  </entry>
                  <entry>
                    <key>tailfile-lookup-frequency</key>
                    <value>10 minutes</value>
                  </entry>
                  <entry>
                    <key>tailfile-maximum-age</key>
                    <value>24 hours</value>
                  </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
              </config>
              <name>TruckStreams</name>
              <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
              </relationships>
              <style></style>
              <type>org.apache.nifi.processors.standard.TailFile</type>
            </processors>
            <processors>
              <id>71b19842-d7f7-3e1e-0000-000000000000</id>
              <parentGroupId>80554b23-9340-3778-0000-000000000000</parentGroupId>
              <position>
                <x>405.44474692546794</x>
                <y>387.6851758408749</y>
              </position>
              <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.2.0-SNAPSHOT</version>
              </bundle>
              <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                  <entry>
                    <key>Line Split Count</key>
                    <value>
                      <name>Line Split Count</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Maximum Fragment Size</key>
                    <value>
                      <name>Maximum Fragment Size</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Header Line Count</key>
                    <value>
                      <name>Header Line Count</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Header Line Marker Characters</key>
                    <value>
                      <name>Header Line Marker Characters</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Remove Trailing Newlines</key>
                    <value>
                      <name>Remove Trailing Newlines</name>
                    </value>
                  </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                  <entry>
                    <key>Line Split Count</key>
                    <value>1</value>
                  </entry>
                  <entry>
                    <key>Maximum Fragment Size</key>
                  </entry>
                  <entry>
                    <key>Header Line Count</key>
                    <value>0</value>
                  </entry>
                  <entry>
                    <key>Header Line Marker Characters</key>
                  </entry>
                  <entry>
                    <key>Remove Trailing Newlines</key>
                    <value>true</value>
                  </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
              </config>
              <name>SplitText</name>
              <relationships>
                <autoTerminate>true</autoTerminate>
                <name>failure</name>
              </relationships>
              <relationships>
                <autoTerminate>true</autoTerminate>
                <name>original</name>
              </relationships>
              <relationships>
                <autoTerminate>false</autoTerminate>
                <name>splits</name>
              </relationships>
              <style></style>
              <type>org.apache.nifi.processors.standard.SplitText</type>
            </processors>
          </contents>
          <name>Acquire Events</name>
        </processGroups>
        <processors>
          <id>8bc1535e-bead-3f9e-0000-000000000000</id>
          <parentGroupId>a1f06410-94b4-3171-0000-000000000000</parentGroupId>
          <position>
            <x>665.8958818317703</x>
            <y>713.3622010260376</y>
          </position>
          <bundle>
            <artifact>nifi-update-attribute-nar</artifact>
            <group>org.apache.nifi</group>
            <version>1.2.0-SNAPSHOT</version>
          </bundle>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>Delete Attributes Expression</key>
                <value>
                  <name>Delete Attributes Expression</name>
                </value>
              </entry>
              <entry>
                <key>Store State</key>
                <value>
                  <name>Store State</name>
                </value>
              </entry>
              <entry>
                <key>Stateful Variables Initial Value</key>
                <value>
                  <name>Stateful Variables Initial Value</name>
                </value>
              </entry>
              <entry>
                <key>kafka.topic</key>
                <value>
                  <name>kafka.topic</name>
                </value>
              </entry>
              <entry>
                <key>schema.identifier</key>
                <value>
                  <name>schema.identifier</name>
                </value>
              </entry>
              <entry>
                <key>schema.protocol.version</key>
                <value>
                  <name>schema.protocol.version</name>
                </value>
              </entry>
              <entry>
                <key>schema.version</key>
                <value>
                  <name>schema.version</name>
                </value>
              </entry>
            </descriptors>
            <executionNode>ALL</executionNode>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>Delete Attributes Expression</key>
              </entry>
              <entry>
                <key>Store State</key>
                <value>Do not store state</value>
              </entry>
              <entry>
                <key>Stateful Variables Initial Value</key>
              </entry>
              <entry>
                <key>kafka.topic</key>
                <value>truck_events_avro</value>
              </entry>
              <entry>
                <key>schema.identifier</key>
                <value>5</value>
              </entry>
              <entry>
                <key>schema.protocol.version</key>
                <value>1</value>
              </entry>
              <entry>
                <key>schema.version</key>
                <value>1</value>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>Specify Schema and Destination</name>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>success</name>
          </relationships>
          <style></style>
          <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
        </processors>
        <processors>
          <id>b8e2b478-cfda-3701-0000-000000000000</id>
          <parentGroupId>a1f06410-94b4-3171-0000-000000000000</parentGroupId>
          <position>
            <x>909.1922793677413</x>
            <y>950.0607574216406</y>
          </position>
          <bundle>
            <artifact>nifi-kafka-0-10-nar</artifact>
            <group>org.apache.nifi</group>
            <version>1.2.0-SNAPSHOT</version>
          </bundle>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>bootstrap.servers</key>
                <value>
                  <name>bootstrap.servers</name>
                </value>
              </entry>
              <entry>
                <key>topic</key>
                <value>
                  <name>topic</name>
                </value>
              </entry>
              <entry>
                <key>record-reader</key>
                <value>
                  <identifiesControllerService>org.apache.nifi.serialization.RecordReaderFactory</identifiesControllerService>
                  <name>record-reader</name>
                </value>
              </entry>
              <entry>
                <key>record-writer</key>
                <value>
                  <identifiesControllerService>org.apache.nifi.serialization.RecordSetWriterFactory</identifiesControllerService>
                  <name>record-writer</name>
                </value>
              </entry>
              <entry>
                <key>security.protocol</key>
                <value>
                  <name>security.protocol</name>
                </value>
              </entry>
              <entry>
                <key>sasl.kerberos.service.name</key>
                <value>
                  <name>sasl.kerberos.service.name</name>
                </value>
              </entry>
              <entry>
                <key>sasl.kerberos.principal</key>
                <value>
                  <name>sasl.kerberos.principal</name>
                </value>
              </entry>
              <entry>
                <key>sasl.kerberos.keytab</key>
                <value>
                  <name>sasl.kerberos.keytab</name>
                </value>
              </entry>
              <entry>
                <key>ssl.context.service</key>
                <value>
                  <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
                  <name>ssl.context.service</name>
                </value>
              </entry>
              <entry>
                <key>acks</key>
                <value>
                  <name>acks</name>
                </value>
              </entry>
              <entry>
                <key>message-key-field</key>
                <value>
                  <name>message-key-field</name>
                </value>
              </entry>
              <entry>
                <key>max.request.size</key>
                <value>
                  <name>max.request.size</name>
                </value>
              </entry>
              <entry>
                <key>ack.wait.time</key>
                <value>
                  <name>ack.wait.time</name>
                </value>
              </entry>
              <entry>
                <key>max.block.ms</key>
                <value>
                  <name>max.block.ms</name>
                </value>
              </entry>
              <entry>
                <key>partitioner.class</key>
                <value>
                  <name>partitioner.class</name>
                </value>
              </entry>
              <entry>
                <key>compression.type</key>
                <value>
                  <name>compression.type</name>
                </value>
              </entry>
            </descriptors>
            <executionNode>ALL</executionNode>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>bootstrap.servers</key>
                <value>fenton-hdf6.field.hortonworks.com:6667</value>
              </entry>
              <entry>
                <key>topic</key>
                <value>${kafka.topic}</value>
              </entry>
              <entry>
                <key>record-reader</key>
                <value>78001276-2e9f-34f3-0000-000000000000</value>
              </entry>
              <entry>
                <key>record-writer</key>
                <value>d259d1d3-5055-36f7-0000-000000000000</value>
              </entry>
              <entry>
                <key>security.protocol</key>
                <value>PLAINTEXT</value>
              </entry>
              <entry>
                <key>sasl.kerberos.service.name</key>
              </entry>
              <entry>
                <key>sasl.kerberos.principal</key>
              </entry>
              <entry>
                <key>sasl.kerberos.keytab</key>
              </entry>
              <entry>
                <key>ssl.context.service</key>
              </entry>
              <entry>
                <key>acks</key>
                <value>0</value>
              </entry>
              <entry>
                <key>message-key-field</key>
              </entry>
              <entry>
                <key>max.request.size</key>
                <value>1 MB</value>
              </entry>
              <entry>
                <key>ack.wait.time</key>
                <value>5 secs</value>
              </entry>
              <entry>
                <key>max.block.ms</key>
                <value>5 sec</value>
              </entry>
              <entry>
                <key>partitioner.class</key>
                <value>org.apache.kafka.clients.producer.internals.DefaultPartitioner</value>
              </entry>
              <entry>
                <key>compression.type</key>
                <value>none</value>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>Publish Events to Truck Stream Topics</name>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>failure</name>
          </relationships>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>success</name>
          </relationships>
          <style></style>
          <type>org.apache.nifi.processors.kafka.pubsub.PublishKafkaRecord_0_10</type>
        </processors>
        <processors>
          <id>c87b70f7-34be-387c-0000-000000000000</id>
          <parentGroupId>a1f06410-94b4-3171-0000-000000000000</parentGroupId>
          <position>
            <x>1145.8907857649033</x>
            <y>710.8879825131966</y>
          </position>
          <bundle>
            <artifact>nifi-update-attribute-nar</artifact>
            <group>org.apache.nifi</group>
            <version>1.2.0-SNAPSHOT</version>
          </bundle>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>Delete Attributes Expression</key>
                <value>
                  <name>Delete Attributes Expression</name>
                </value>
              </entry>
              <entry>
                <key>Store State</key>
                <value>
                  <name>Store State</name>
                </value>
              </entry>
              <entry>
                <key>Stateful Variables Initial Value</key>
                <value>
                  <name>Stateful Variables Initial Value</name>
                </value>
              </entry>
              <entry>
                <key>kafka.topic</key>
                <value>
                  <name>kafka.topic</name>
                </value>
              </entry>
              <entry>
                <key>schema.identifier</key>
                <value>
                  <name>schema.identifier</name>
                </value>
              </entry>
              <entry>
                <key>schema.protocol.version</key>
                <value>
                  <name>schema.protocol.version</name>
                </value>
              </entry>
              <entry>
                <key>schema.version</key>
                <value>
                  <name>schema.version</name>
                </value>
              </entry>
            </descriptors>
            <executionNode>ALL</executionNode>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>Delete Attributes Expression</key>
              </entry>
              <entry>
                <key>Store State</key>
                <value>Do not store state</value>
              </entry>
              <entry>
                <key>Stateful Variables Initial Value</key>
              </entry>
              <entry>
                <key>kafka.topic</key>
                <value>truck_speed_events_avro</value>
              </entry>
              <entry>
                <key>schema.identifier</key>
                <value>6</value>
              </entry>
              <entry>
                <key>schema.protocol.version</key>
                <value>1</value>
              </entry>
              <entry>
                <key>schema.version</key>
                <value>1</value>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>Specify Schema and Destination</name>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>success</name>
          </relationships>
          <style></style>
          <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
        </processors>
        <processors>
          <id>6a7d7f69-9772-3803-0000-000000000000</id>
          <parentGroupId>a1f06410-94b4-3171-0000-000000000000</parentGroupId>
          <position>
            <x>665.0710894984766</x>
            <y>508.8282381494111</y>
          </position>
          <bundle>
            <artifact>nifi-scripting-nar</artifact>
            <group>org.apache.nifi</group>
            <version>1.2.0-SNAPSHOT</version>
          </bundle>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>Script Engine</key>
                <value>
                  <name>Script Engine</name>
                </value>
              </entry>
              <entry>
                <key>Script File</key>
                <value>
                  <name>Script File</name>
                </value>
              </entry>
              <entry>
                <key>Script Body</key>
                <value>
                  <name>Script Body</name>
                </value>
              </entry>
              <entry>
                <key>Module Directory</key>
                <value>
                  <name>Module Directory</name>
                </value>
              </entry>
            </descriptors>
            <executionNode>ALL</executionNode>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>Script Engine</key>
                <value>Groovy</value>
              </entry>
              <entry>
                <key>Script File</key>
              </entry>
              <entry>
                <key>Script Body</key>
                <value>import java.nio.charset.StandardCharsets


def flowFile = session.get()
if(!flowFile) return

lat =  flowFile.getAttribute('latitudeForGeoCodeEnrichment')
lng =  flowFile.getAttribute('longitudeForGeoCodeEnrichment')


flowFile = session.write(flowFile, {inputStream, outputStream -&gt;
   inputStream.eachLine { line -&gt;
      fmt_addr = "2106 Morton Ave, Des Moines, IA 50317, USA\n"
      outputStream.write("$line$fmt_addr".toString().getBytes(StandardCharsets.UTF_8))
   }
} as StreamCallback)

session.transfer(flowFile, REL_SUCCESS)</value>
              </entry>
              <entry>
                <key>Module Directory</key>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>GeoCode Enrichment</name>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>failure</name>
          </relationships>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>success</name>
          </relationships>
          <style></style>
          <type>org.apache.nifi.processors.script.ExecuteScript</type>
        </processors>
      </contents>
      <name>Use Case 2 - Approach B (George)</name>
    </processGroups>
    <processGroups>
      <id>f22b2009-653e-3ef2-0000-000000000000</id>
      <parentGroupId>46f95fe5-3024-31d8-0000-000000000000</parentGroupId>
      <position>
        <x>115.07784223665635</x>
        <y>347.1381960471426</y>
      </position>
      <comments></comments>
      <contents>
        <connections>
          <id>997ff65a-66c1-3c17-0000-000000000000</id>
          <parentGroupId>f22b2009-653e-3ef2-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <destination>
            <groupId>f22b2009-653e-3ef2-0000-000000000000</groupId>
            <id>c0dc9c53-4ea1-32be-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>success</selectedRelationships>
          <source>
            <groupId>f22b2009-653e-3ef2-0000-000000000000</groupId>
            <id>b15d3c03-ed3c-337a-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>ce03b13c-35e3-3b01-0000-000000000000</id>
          <parentGroupId>f22b2009-653e-3ef2-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <destination>
            <groupId>f22b2009-653e-3ef2-0000-000000000000</groupId>
            <id>c0dc9c53-4ea1-32be-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>success</selectedRelationships>
          <source>
            <groupId>f22b2009-653e-3ef2-0000-000000000000</groupId>
            <id>ad73052f-e4a7-3440-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>dc94e508-52b9-323e-0000-000000000000</id>
          <parentGroupId>f22b2009-653e-3ef2-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <bends>
            <x>1211.0447148908875</x>
            <y>463.467917062308</y>
          </bends>
          <bends>
            <x>1316.6106023420593</x>
            <y>555.8380743041293</y>
          </bends>
          <destination>
            <groupId>f22b2009-653e-3ef2-0000-000000000000</groupId>
            <id>ad73052f-e4a7-3440-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <source>
            <groupId>d2f8a3fe-4d57-31c5-0000-000000000000</groupId>
            <id>f46249b5-842b-3225-0000-000000000000</id>
            <type>OUTPUT_PORT</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>48b31c5d-ee2d-3c40-0000-000000000000</id>
          <parentGroupId>f22b2009-653e-3ef2-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <destination>
            <groupId>f22b2009-653e-3ef2-0000-000000000000</groupId>
            <id>bb32a6ff-f360-3a3d-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <source>
            <groupId>d2f8a3fe-4d57-31c5-0000-000000000000</groupId>
            <id>fa3bb102-fce9-31af-0000-000000000000</id>
            <type>OUTPUT_PORT</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>58a804e7-52ca-3bdc-0000-000000000000</id>
          <parentGroupId>f22b2009-653e-3ef2-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <destination>
            <groupId>f22b2009-653e-3ef2-0000-000000000000</groupId>
            <id>b15d3c03-ed3c-337a-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>success</selectedRelationships>
          <source>
            <groupId>f22b2009-653e-3ef2-0000-000000000000</groupId>
            <id>bb32a6ff-f360-3a3d-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <labels>
          <id>d3b5f850-ffbb-3ec2-0000-000000000000</id>
          <parentGroupId>f22b2009-653e-3ef2-0000-000000000000</parentGroupId>
          <position>
            <x>560.8052965336119</x>
            <y>301.78472233006846</y>
          </position>
          <height>57.396385192871094</height>
          <label>Go Get the Data</label>
          <style>
            <entry>
              <key>font-size</key>
              <value>24px</value>
            </entry>
          </style>
          <width>221.0823516845703</width>
        </labels>
        <labels>
          <id>00fc5941-35e0-304f-0000-000000000000</id>
          <parentGroupId>f22b2009-653e-3ef2-0000-000000000000</parentGroupId>
          <position>
            <x>412.0000125979997</x>
            <y>663.1692298309256</y>
          </position>
          <height>44.64159393310547</height>
          <label>Enrich the Data</label>
          <style>
            <entry>
              <key>font-size</key>
              <value>24px</value>
            </entry>
          </style>
          <width>196.63572692871094</width>
        </labels>
        <labels>
          <id>6ddc15ed-0010-3bfa-0000-000000000000</id>
          <parentGroupId>f22b2009-653e-3ef2-0000-000000000000</parentGroupId>
          <position>
            <x>181.81319394354136</x>
            <y>955.6125100090098</y>
          </position>
          <height>128.3921356201172</height>
          <label>Serialize CSV into Avro by fetching  Schema 
associated with kafka topic from the HWX Schema REgistry.
</label>
          <style>
            <entry>
              <key>font-size</key>
              <value>24px</value>
            </entry>
          </style>
          <width>673.6242065429688</width>
        </labels>
        <processGroups>
          <id>d2f8a3fe-4d57-31c5-0000-000000000000</id>
          <parentGroupId>f22b2009-653e-3ef2-0000-000000000000</parentGroupId>
          <position>
            <x>900.6595677961609</x>
            <y>250.00100765373867</y>
          </position>
          <comments></comments>
          <contents>
            <connections>
              <id>a88dbfcf-7dd4-3703-0000-000000000000</id>
              <parentGroupId>d2f8a3fe-4d57-31c5-0000-000000000000</parentGroupId>
              <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
              <backPressureObjectThreshold>10000</backPressureObjectThreshold>
              <destination>
                <groupId>d2f8a3fe-4d57-31c5-0000-000000000000</groupId>
                <id>f46249b5-842b-3225-0000-000000000000</id>
                <type>OUTPUT_PORT</type>
              </destination>
              <flowFileExpiration>0 sec</flowFileExpiration>
              <labelIndex>1</labelIndex>
              <name></name>
              <selectedRelationships>success</selectedRelationships>
              <source>
                <groupId>d2f8a3fe-4d57-31c5-0000-000000000000</groupId>
                <id>d6286206-2229-333f-0000-000000000000</id>
                <type>PROCESSOR</type>
              </source>
              <zIndex>0</zIndex>
            </connections>
            <connections>
              <id>e86b5900-291a-3191-0000-000000000000</id>
              <parentGroupId>d2f8a3fe-4d57-31c5-0000-000000000000</parentGroupId>
              <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
              <backPressureObjectThreshold>10000</backPressureObjectThreshold>
              <destination>
                <groupId>d2f8a3fe-4d57-31c5-0000-000000000000</groupId>
                <id>fa3bb102-fce9-31af-0000-000000000000</id>
                <type>OUTPUT_PORT</type>
              </destination>
              <flowFileExpiration>0 sec</flowFileExpiration>
              <labelIndex>1</labelIndex>
              <name></name>
              <selectedRelationships>success</selectedRelationships>
              <source>
                <groupId>d2f8a3fe-4d57-31c5-0000-000000000000</groupId>
                <id>401eed49-95e5-3522-0000-000000000000</id>
                <type>PROCESSOR</type>
              </source>
              <zIndex>0</zIndex>
            </connections>
            <labels>
              <id>5550b8e5-e599-394d-0000-000000000000</id>
              <parentGroupId>d2f8a3fe-4d57-31c5-0000-000000000000</parentGroupId>
              <position>
                <x>525.4642227588656</x>
                <y>389.4875654679138</y>
              </position>
              <height>214.21615600585938</height>
              <label>Upstream app is sending avro objects serialized 
via HWX Schema REgistry into kafka topics

Use ConsumeKafkaRecord to read Avro and convert to CSV by 
doing the following:
1. Get schemaId from beginning bytes of serialized AVro object
2. Use the schemaId to lookup the schema
3. Convert Avro object to CSV Records using the schema
</label>
              <style>
                <entry>
                  <key>font-size</key>
                  <value>22px</value>
                </entry>
              </style>
              <width>647.0797119140625</width>
            </labels>
            <outputPorts>
              <id>f46249b5-842b-3225-0000-000000000000</id>
              <parentGroupId>d2f8a3fe-4d57-31c5-0000-000000000000</parentGroupId>
              <position>
                <x>907.7151873479033</x>
                <y>911.8526619634938</y>
              </position>
              <comments></comments>
              <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
              <name>Truck Speed Events</name>
              <state>RUNNING</state>
              <type>OUTPUT_PORT</type>
            </outputPorts>
            <outputPorts>
              <id>fa3bb102-fce9-31af-0000-000000000000</id>
              <parentGroupId>d2f8a3fe-4d57-31c5-0000-000000000000</parentGroupId>
              <position>
                <x>490.72727230884084</x>
                <y>908.2175911627126</y>
              </position>
              <comments></comments>
              <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
              <name>Truck Geo Events</name>
              <state>RUNNING</state>
              <type>OUTPUT_PORT</type>
            </outputPorts>
            <processors>
              <id>d6286206-2229-333f-0000-000000000000</id>
              <parentGroupId>d2f8a3fe-4d57-31c5-0000-000000000000</parentGroupId>
              <position>
                <x>844.0467531833801</x>
                <y>654.1467673252282</y>
              </position>
              <bundle>
                <artifact>nifi-kafka-0-10-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.2.0-SNAPSHOT</version>
              </bundle>
              <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                  <entry>
                    <key>bootstrap.servers</key>
                    <value>
                      <name>bootstrap.servers</name>
                    </value>
                  </entry>
                  <entry>
                    <key>topic</key>
                    <value>
                      <name>topic</name>
                    </value>
                  </entry>
                  <entry>
                    <key>topic_type</key>
                    <value>
                      <name>topic_type</name>
                    </value>
                  </entry>
                  <entry>
                    <key>record-reader</key>
                    <value>
                      <identifiesControllerService>org.apache.nifi.serialization.RecordReaderFactory</identifiesControllerService>
                      <name>record-reader</name>
                    </value>
                  </entry>
                  <entry>
                    <key>record-writer</key>
                    <value>
                      <identifiesControllerService>org.apache.nifi.serialization.RecordSetWriterFactory</identifiesControllerService>
                      <name>record-writer</name>
                    </value>
                  </entry>
                  <entry>
                    <key>security.protocol</key>
                    <value>
                      <name>security.protocol</name>
                    </value>
                  </entry>
                  <entry>
                    <key>sasl.kerberos.service.name</key>
                    <value>
                      <name>sasl.kerberos.service.name</name>
                    </value>
                  </entry>
                  <entry>
                    <key>sasl.kerberos.principal</key>
                    <value>
                      <name>sasl.kerberos.principal</name>
                    </value>
                  </entry>
                  <entry>
                    <key>sasl.kerberos.keytab</key>
                    <value>
                      <name>sasl.kerberos.keytab</name>
                    </value>
                  </entry>
                  <entry>
                    <key>ssl.context.service</key>
                    <value>
                      <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
                      <name>ssl.context.service</name>
                    </value>
                  </entry>
                  <entry>
                    <key>group.id</key>
                    <value>
                      <name>group.id</name>
                    </value>
                  </entry>
                  <entry>
                    <key>auto.offset.reset</key>
                    <value>
                      <name>auto.offset.reset</name>
                    </value>
                  </entry>
                  <entry>
                    <key>max.poll.records</key>
                    <value>
                      <name>max.poll.records</name>
                    </value>
                  </entry>
                  <entry>
                    <key>max-uncommit-offset-wait</key>
                    <value>
                      <name>max-uncommit-offset-wait</name>
                    </value>
                  </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                  <entry>
                    <key>bootstrap.servers</key>
                    <value>fenton-hdf6.field.hortonworks.com:6667</value>
                  </entry>
                  <entry>
                    <key>topic</key>
                    <value>raw-truck_speed_events_avro</value>
                  </entry>
                  <entry>
                    <key>topic_type</key>
                    <value>names</value>
                  </entry>
                  <entry>
                    <key>record-reader</key>
                    <value>39de508a-8cac-3edb-0000-000000000000</value>
                  </entry>
                  <entry>
                    <key>record-writer</key>
                    <value>e0b3c2d8-11a9-3657-0000-000000000000</value>
                  </entry>
                  <entry>
                    <key>security.protocol</key>
                    <value>PLAINTEXT</value>
                  </entry>
                  <entry>
                    <key>sasl.kerberos.service.name</key>
                  </entry>
                  <entry>
                    <key>sasl.kerberos.principal</key>
                  </entry>
                  <entry>
                    <key>sasl.kerberos.keytab</key>
                  </entry>
                  <entry>
                    <key>ssl.context.service</key>
                  </entry>
                  <entry>
                    <key>group.id</key>
                    <value>1</value>
                  </entry>
                  <entry>
                    <key>auto.offset.reset</key>
                    <value>latest</value>
                  </entry>
                  <entry>
                    <key>max.poll.records</key>
                    <value>10000</value>
                  </entry>
                  <entry>
                    <key>max-uncommit-offset-wait</key>
                    <value>1 secs</value>
                  </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
              </config>
              <name>Truck Speed Kafka Stream</name>
              <relationships>
                <autoTerminate>true</autoTerminate>
                <name>parse.failure</name>
              </relationships>
              <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
              </relationships>
              <style></style>
              <type>org.apache.nifi.processors.kafka.pubsub.ConsumeKafkaRecord_0_10</type>
            </processors>
            <processors>
              <id>401eed49-95e5-3522-0000-000000000000</id>
              <parentGroupId>d2f8a3fe-4d57-31c5-0000-000000000000</parentGroupId>
              <position>
                <x>440.0856325779114</x>
                <y>653.1126486728845</y>
              </position>
              <bundle>
                <artifact>nifi-kafka-0-10-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.2.0-SNAPSHOT</version>
              </bundle>
              <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                  <entry>
                    <key>bootstrap.servers</key>
                    <value>
                      <name>bootstrap.servers</name>
                    </value>
                  </entry>
                  <entry>
                    <key>topic</key>
                    <value>
                      <name>topic</name>
                    </value>
                  </entry>
                  <entry>
                    <key>topic_type</key>
                    <value>
                      <name>topic_type</name>
                    </value>
                  </entry>
                  <entry>
                    <key>record-reader</key>
                    <value>
                      <identifiesControllerService>org.apache.nifi.serialization.RecordReaderFactory</identifiesControllerService>
                      <name>record-reader</name>
                    </value>
                  </entry>
                  <entry>
                    <key>record-writer</key>
                    <value>
                      <identifiesControllerService>org.apache.nifi.serialization.RecordSetWriterFactory</identifiesControllerService>
                      <name>record-writer</name>
                    </value>
                  </entry>
                  <entry>
                    <key>security.protocol</key>
                    <value>
                      <name>security.protocol</name>
                    </value>
                  </entry>
                  <entry>
                    <key>sasl.kerberos.service.name</key>
                    <value>
                      <name>sasl.kerberos.service.name</name>
                    </value>
                  </entry>
                  <entry>
                    <key>sasl.kerberos.principal</key>
                    <value>
                      <name>sasl.kerberos.principal</name>
                    </value>
                  </entry>
                  <entry>
                    <key>sasl.kerberos.keytab</key>
                    <value>
                      <name>sasl.kerberos.keytab</name>
                    </value>
                  </entry>
                  <entry>
                    <key>ssl.context.service</key>
                    <value>
                      <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
                      <name>ssl.context.service</name>
                    </value>
                  </entry>
                  <entry>
                    <key>group.id</key>
                    <value>
                      <name>group.id</name>
                    </value>
                  </entry>
                  <entry>
                    <key>auto.offset.reset</key>
                    <value>
                      <name>auto.offset.reset</name>
                    </value>
                  </entry>
                  <entry>
                    <key>max.poll.records</key>
                    <value>
                      <name>max.poll.records</name>
                    </value>
                  </entry>
                  <entry>
                    <key>max-uncommit-offset-wait</key>
                    <value>
                      <name>max-uncommit-offset-wait</name>
                    </value>
                  </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                  <entry>
                    <key>bootstrap.servers</key>
                    <value>fenton-hdf6.field.hortonworks.com:6667</value>
                  </entry>
                  <entry>
                    <key>topic</key>
                    <value>raw-truck_events_avro</value>
                  </entry>
                  <entry>
                    <key>topic_type</key>
                    <value>names</value>
                  </entry>
                  <entry>
                    <key>record-reader</key>
                    <value>39de508a-8cac-3edb-0000-000000000000</value>
                  </entry>
                  <entry>
                    <key>record-writer</key>
                    <value>e0b3c2d8-11a9-3657-0000-000000000000</value>
                  </entry>
                  <entry>
                    <key>security.protocol</key>
                    <value>PLAINTEXT</value>
                  </entry>
                  <entry>
                    <key>sasl.kerberos.service.name</key>
                  </entry>
                  <entry>
                    <key>sasl.kerberos.principal</key>
                  </entry>
                  <entry>
                    <key>sasl.kerberos.keytab</key>
                  </entry>
                  <entry>
                    <key>ssl.context.service</key>
                  </entry>
                  <entry>
                    <key>group.id</key>
                    <value>1</value>
                  </entry>
                  <entry>
                    <key>auto.offset.reset</key>
                    <value>latest</value>
                  </entry>
                  <entry>
                    <key>max.poll.records</key>
                    <value>10000</value>
                  </entry>
                  <entry>
                    <key>max-uncommit-offset-wait</key>
                    <value>1 secs</value>
                  </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
              </config>
              <name>Truck Geo Kafka Stream</name>
              <relationships>
                <autoTerminate>true</autoTerminate>
                <name>parse.failure</name>
              </relationships>
              <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
              </relationships>
              <style></style>
              <type>org.apache.nifi.processors.kafka.pubsub.ConsumeKafkaRecord_0_10</type>
            </processors>
          </contents>
          <name>Acquire Events</name>
        </processGroups>
        <processors>
          <id>ad73052f-e4a7-3440-0000-000000000000</id>
          <parentGroupId>f22b2009-653e-3ef2-0000-000000000000</parentGroupId>
          <position>
            <x>1145.8907857649033</x>
            <y>710.8879825131966</y>
          </position>
          <bundle>
            <artifact>nifi-update-attribute-nar</artifact>
            <group>org.apache.nifi</group>
            <version>1.2.0-SNAPSHOT</version>
          </bundle>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>Delete Attributes Expression</key>
                <value>
                  <name>Delete Attributes Expression</name>
                </value>
              </entry>
              <entry>
                <key>Store State</key>
                <value>
                  <name>Store State</name>
                </value>
              </entry>
              <entry>
                <key>Stateful Variables Initial Value</key>
                <value>
                  <name>Stateful Variables Initial Value</name>
                </value>
              </entry>
              <entry>
                <key>kafka.topic</key>
                <value>
                  <name>kafka.topic</name>
                </value>
              </entry>
              <entry>
                <key>schema.identifier</key>
                <value>
                  <name>schema.identifier</name>
                </value>
              </entry>
              <entry>
                <key>schema.protocol.version</key>
                <value>
                  <name>schema.protocol.version</name>
                </value>
              </entry>
              <entry>
                <key>schema.version</key>
                <value>
                  <name>schema.version</name>
                </value>
              </entry>
            </descriptors>
            <executionNode>ALL</executionNode>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>Delete Attributes Expression</key>
              </entry>
              <entry>
                <key>Store State</key>
                <value>Do not store state</value>
              </entry>
              <entry>
                <key>Stateful Variables Initial Value</key>
              </entry>
              <entry>
                <key>kafka.topic</key>
                <value>truck_speed_events_avro</value>
              </entry>
              <entry>
                <key>schema.identifier</key>
                <value>6</value>
              </entry>
              <entry>
                <key>schema.protocol.version</key>
                <value>1</value>
              </entry>
              <entry>
                <key>schema.version</key>
                <value>1</value>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>Specify Schema and Destination</name>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>success</name>
          </relationships>
          <style></style>
          <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
        </processors>
        <processors>
          <id>b15d3c03-ed3c-337a-0000-000000000000</id>
          <parentGroupId>f22b2009-653e-3ef2-0000-000000000000</parentGroupId>
          <position>
            <x>665.8958818317703</x>
            <y>713.3622010260376</y>
          </position>
          <bundle>
            <artifact>nifi-update-attribute-nar</artifact>
            <group>org.apache.nifi</group>
            <version>1.2.0-SNAPSHOT</version>
          </bundle>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>Delete Attributes Expression</key>
                <value>
                  <name>Delete Attributes Expression</name>
                </value>
              </entry>
              <entry>
                <key>Store State</key>
                <value>
                  <name>Store State</name>
                </value>
              </entry>
              <entry>
                <key>Stateful Variables Initial Value</key>
                <value>
                  <name>Stateful Variables Initial Value</name>
                </value>
              </entry>
              <entry>
                <key>kafka.topic</key>
                <value>
                  <name>kafka.topic</name>
                </value>
              </entry>
              <entry>
                <key>schema.identifier</key>
                <value>
                  <name>schema.identifier</name>
                </value>
              </entry>
              <entry>
                <key>schema.protocol.version</key>
                <value>
                  <name>schema.protocol.version</name>
                </value>
              </entry>
              <entry>
                <key>schema.version</key>
                <value>
                  <name>schema.version</name>
                </value>
              </entry>
            </descriptors>
            <executionNode>ALL</executionNode>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>Delete Attributes Expression</key>
              </entry>
              <entry>
                <key>Store State</key>
                <value>Do not store state</value>
              </entry>
              <entry>
                <key>Stateful Variables Initial Value</key>
              </entry>
              <entry>
                <key>kafka.topic</key>
                <value>truck_events_avro</value>
              </entry>
              <entry>
                <key>schema.identifier</key>
                <value>5</value>
              </entry>
              <entry>
                <key>schema.protocol.version</key>
                <value>1</value>
              </entry>
              <entry>
                <key>schema.version</key>
                <value>1</value>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>Specify Schema and Destination</name>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>success</name>
          </relationships>
          <style></style>
          <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
        </processors>
        <processors>
          <id>bb32a6ff-f360-3a3d-0000-000000000000</id>
          <parentGroupId>f22b2009-653e-3ef2-0000-000000000000</parentGroupId>
          <position>
            <x>666.3000934047266</x>
            <y>530.9509798486299</y>
          </position>
          <bundle>
            <artifact>nifi-scripting-nar</artifact>
            <group>org.apache.nifi</group>
            <version>1.2.0-SNAPSHOT</version>
          </bundle>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>Script Engine</key>
                <value>
                  <name>Script Engine</name>
                </value>
              </entry>
              <entry>
                <key>Script File</key>
                <value>
                  <name>Script File</name>
                </value>
              </entry>
              <entry>
                <key>Script Body</key>
                <value>
                  <name>Script Body</name>
                </value>
              </entry>
              <entry>
                <key>Module Directory</key>
                <value>
                  <name>Module Directory</name>
                </value>
              </entry>
            </descriptors>
            <executionNode>ALL</executionNode>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>Script Engine</key>
                <value>Groovy</value>
              </entry>
              <entry>
                <key>Script File</key>
              </entry>
              <entry>
                <key>Script Body</key>
                <value>import java.nio.charset.StandardCharsets


def flowFile = session.get()
if(!flowFile) return

lat =  flowFile.getAttribute('latitudeForGeoCodeEnrichment')
lng =  flowFile.getAttribute('longitudeForGeoCodeEnrichment')


flowFile = session.write(flowFile, {inputStream, outputStream -&gt;
   inputStream.eachLine { line -&gt;
      fmt_addr = "2106 Morton Ave, Des Moines, IA 50317, USA\n"
      outputStream.write("$line$fmt_addr".toString().getBytes(StandardCharsets.UTF_8))
   }
} as StreamCallback)

session.transfer(flowFile, REL_SUCCESS)</value>
              </entry>
              <entry>
                <key>Module Directory</key>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>GeoCode Enrichment</name>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>failure</name>
          </relationships>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>success</name>
          </relationships>
          <style></style>
          <type>org.apache.nifi.processors.script.ExecuteScript</type>
        </processors>
        <processors>
          <id>c0dc9c53-4ea1-32be-0000-000000000000</id>
          <parentGroupId>f22b2009-653e-3ef2-0000-000000000000</parentGroupId>
          <position>
            <x>909.1922793677413</x>
            <y>950.0607574216406</y>
          </position>
          <bundle>
            <artifact>nifi-kafka-0-10-nar</artifact>
            <group>org.apache.nifi</group>
            <version>1.2.0-SNAPSHOT</version>
          </bundle>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>bootstrap.servers</key>
                <value>
                  <name>bootstrap.servers</name>
                </value>
              </entry>
              <entry>
                <key>topic</key>
                <value>
                  <name>topic</name>
                </value>
              </entry>
              <entry>
                <key>record-reader</key>
                <value>
                  <identifiesControllerService>org.apache.nifi.serialization.RecordReaderFactory</identifiesControllerService>
                  <name>record-reader</name>
                </value>
              </entry>
              <entry>
                <key>record-writer</key>
                <value>
                  <identifiesControllerService>org.apache.nifi.serialization.RecordSetWriterFactory</identifiesControllerService>
                  <name>record-writer</name>
                </value>
              </entry>
              <entry>
                <key>security.protocol</key>
                <value>
                  <name>security.protocol</name>
                </value>
              </entry>
              <entry>
                <key>sasl.kerberos.service.name</key>
                <value>
                  <name>sasl.kerberos.service.name</name>
                </value>
              </entry>
              <entry>
                <key>sasl.kerberos.principal</key>
                <value>
                  <name>sasl.kerberos.principal</name>
                </value>
              </entry>
              <entry>
                <key>sasl.kerberos.keytab</key>
                <value>
                  <name>sasl.kerberos.keytab</name>
                </value>
              </entry>
              <entry>
                <key>ssl.context.service</key>
                <value>
                  <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
                  <name>ssl.context.service</name>
                </value>
              </entry>
              <entry>
                <key>acks</key>
                <value>
                  <name>acks</name>
                </value>
              </entry>
              <entry>
                <key>message-key-field</key>
                <value>
                  <name>message-key-field</name>
                </value>
              </entry>
              <entry>
                <key>max.request.size</key>
                <value>
                  <name>max.request.size</name>
                </value>
              </entry>
              <entry>
                <key>ack.wait.time</key>
                <value>
                  <name>ack.wait.time</name>
                </value>
              </entry>
              <entry>
                <key>max.block.ms</key>
                <value>
                  <name>max.block.ms</name>
                </value>
              </entry>
              <entry>
                <key>partitioner.class</key>
                <value>
                  <name>partitioner.class</name>
                </value>
              </entry>
              <entry>
                <key>compression.type</key>
                <value>
                  <name>compression.type</name>
                </value>
              </entry>
            </descriptors>
            <executionNode>ALL</executionNode>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>bootstrap.servers</key>
                <value>fenton-hdf6.field.hortonworks.com:6667</value>
              </entry>
              <entry>
                <key>topic</key>
                <value>${kafka.topic}</value>
              </entry>
              <entry>
                <key>record-reader</key>
                <value>78001276-2e9f-34f3-0000-000000000000</value>
              </entry>
              <entry>
                <key>record-writer</key>
                <value>d259d1d3-5055-36f7-0000-000000000000</value>
              </entry>
              <entry>
                <key>security.protocol</key>
                <value>PLAINTEXT</value>
              </entry>
              <entry>
                <key>sasl.kerberos.service.name</key>
              </entry>
              <entry>
                <key>sasl.kerberos.principal</key>
              </entry>
              <entry>
                <key>sasl.kerberos.keytab</key>
              </entry>
              <entry>
                <key>ssl.context.service</key>
              </entry>
              <entry>
                <key>acks</key>
                <value>0</value>
              </entry>
              <entry>
                <key>message-key-field</key>
              </entry>
              <entry>
                <key>max.request.size</key>
                <value>1 MB</value>
              </entry>
              <entry>
                <key>ack.wait.time</key>
                <value>5 secs</value>
              </entry>
              <entry>
                <key>max.block.ms</key>
                <value>5 sec</value>
              </entry>
              <entry>
                <key>partitioner.class</key>
                <value>org.apache.kafka.clients.producer.internals.DefaultPartitioner</value>
              </entry>
              <entry>
                <key>compression.type</key>
                <value>none</value>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>Publish Events to Truck Stream Topics</name>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>failure</name>
          </relationships>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>success</name>
          </relationships>
          <style></style>
          <type>org.apache.nifi.processors.kafka.pubsub.PublishKafkaRecord_0_10</type>
        </processors>
      </contents>
      <name>Use Case 1</name>
    </processGroups>
    <processGroups>
      <id>6ccd25db-3dc2-3524-0000-000000000000</id>
      <parentGroupId>46f95fe5-3024-31d8-0000-000000000000</parentGroupId>
      <position>
        <x>144.85354566683213</x>
        <y>850.1154909690176</y>
      </position>
      <comments></comments>
      <contents>
        <connections>
          <id>821af3b9-90af-3372-0000-000000000000</id>
          <parentGroupId>6ccd25db-3dc2-3524-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <destination>
            <groupId>6ccd25db-3dc2-3524-0000-000000000000</groupId>
            <id>fff990c4-3a84-3dab-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>success</selectedRelationships>
          <source>
            <groupId>6ccd25db-3dc2-3524-0000-000000000000</groupId>
            <id>52162b31-6a82-3868-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>8ce5f2c0-a31b-3ede-0000-000000000000</id>
          <parentGroupId>6ccd25db-3dc2-3524-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <bends>
            <x>1211.0447148908875</x>
            <y>463.467917062308</y>
          </bends>
          <bends>
            <x>1316.6106023420593</x>
            <y>555.8380743041293</y>
          </bends>
          <destination>
            <groupId>6ccd25db-3dc2-3524-0000-000000000000</groupId>
            <id>52162b31-6a82-3868-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <source>
            <groupId>6342353d-cc99-3d63-0000-000000000000</groupId>
            <id>6b26f23d-4d01-3bd7-0000-000000000000</id>
            <type>OUTPUT_PORT</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>52947c0f-91f8-3ea7-0000-000000000000</id>
          <parentGroupId>6ccd25db-3dc2-3524-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <destination>
            <groupId>6ccd25db-3dc2-3524-0000-000000000000</groupId>
            <id>3af97004-74ca-35b9-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <source>
            <groupId>6342353d-cc99-3d63-0000-000000000000</groupId>
            <id>35eb79be-4c8d-32a9-0000-000000000000</id>
            <type>OUTPUT_PORT</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>6e260a44-4a7d-387e-0000-000000000000</id>
          <parentGroupId>6ccd25db-3dc2-3524-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <destination>
            <groupId>6ccd25db-3dc2-3524-0000-000000000000</groupId>
            <id>7526ca45-9eaf-3d70-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>success</selectedRelationships>
          <source>
            <groupId>6ccd25db-3dc2-3524-0000-000000000000</groupId>
            <id>3af97004-74ca-35b9-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>78d5024e-533d-38da-0000-000000000000</id>
          <parentGroupId>6ccd25db-3dc2-3524-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <destination>
            <groupId>6ccd25db-3dc2-3524-0000-000000000000</groupId>
            <id>fff990c4-3a84-3dab-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>success</selectedRelationships>
          <source>
            <groupId>6ccd25db-3dc2-3524-0000-000000000000</groupId>
            <id>7526ca45-9eaf-3d70-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <labels>
          <id>d733145c-b17a-3b2b-0000-000000000000</id>
          <parentGroupId>6ccd25db-3dc2-3524-0000-000000000000</parentGroupId>
          <position>
            <x>181.81319394354136</x>
            <y>955.6125100090098</y>
          </position>
          <height>128.3921356201172</height>
          <label>Serialize CSV into Avro by fetching  Schema 
associated with kafka topic from the HWX Schema REgistry.
</label>
          <style>
            <entry>
              <key>font-size</key>
              <value>24px</value>
            </entry>
          </style>
          <width>673.6242065429688</width>
        </labels>
        <labels>
          <id>29f60c3c-e352-32c7-0000-000000000000</id>
          <parentGroupId>6ccd25db-3dc2-3524-0000-000000000000</parentGroupId>
          <position>
            <x>560.8052965336119</x>
            <y>301.78472233006846</y>
          </position>
          <height>57.396385192871094</height>
          <label>Go Get the Data</label>
          <style>
            <entry>
              <key>font-size</key>
              <value>24px</value>
            </entry>
          </style>
          <width>221.0823516845703</width>
        </labels>
        <labels>
          <id>6186c5dc-f419-3913-0000-000000000000</id>
          <parentGroupId>6ccd25db-3dc2-3524-0000-000000000000</parentGroupId>
          <position>
            <x>412.0000125979997</x>
            <y>663.1692298309256</y>
          </position>
          <height>44.64159393310547</height>
          <label>Enrich the Data</label>
          <style>
            <entry>
              <key>font-size</key>
              <value>24px</value>
            </entry>
          </style>
          <width>196.63572692871094</width>
        </labels>
        <processGroups>
          <id>6342353d-cc99-3d63-0000-000000000000</id>
          <parentGroupId>6ccd25db-3dc2-3524-0000-000000000000</parentGroupId>
          <position>
            <x>900.6595677961609</x>
            <y>250.00100765373867</y>
          </position>
          <comments></comments>
          <contents>
            <connections>
              <id>8235ccaf-7196-322d-0000-000000000000</id>
              <parentGroupId>6342353d-cc99-3d63-0000-000000000000</parentGroupId>
              <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
              <backPressureObjectThreshold>10000</backPressureObjectThreshold>
              <destination>
                <groupId>6342353d-cc99-3d63-0000-000000000000</groupId>
                <id>6b26f23d-4d01-3bd7-0000-000000000000</id>
                <type>OUTPUT_PORT</type>
              </destination>
              <flowFileExpiration>0 sec</flowFileExpiration>
              <labelIndex>1</labelIndex>
              <name></name>
              <selectedRelationships>truck_speed_event</selectedRelationships>
              <source>
                <groupId>6342353d-cc99-3d63-0000-000000000000</groupId>
                <id>381b2d24-6011-3ef6-0000-000000000000</id>
                <type>PROCESSOR</type>
              </source>
              <zIndex>0</zIndex>
            </connections>
            <connections>
              <id>8b518890-6484-305c-0000-000000000000</id>
              <parentGroupId>6342353d-cc99-3d63-0000-000000000000</parentGroupId>
              <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
              <backPressureObjectThreshold>10000</backPressureObjectThreshold>
              <destination>
                <groupId>6342353d-cc99-3d63-0000-000000000000</groupId>
                <id>381b2d24-6011-3ef6-0000-000000000000</id>
                <type>PROCESSOR</type>
              </destination>
              <flowFileExpiration>0 sec</flowFileExpiration>
              <labelIndex>1</labelIndex>
              <name></name>
              <selectedRelationships>success</selectedRelationships>
              <source>
                <groupId>6342353d-cc99-3d63-0000-000000000000</groupId>
                <id>58777802-84dc-3d8e-0000-000000000000</id>
                <type>PROCESSOR</type>
              </source>
              <zIndex>0</zIndex>
            </connections>
            <connections>
              <id>e7903443-6ace-35f9-0000-000000000000</id>
              <parentGroupId>6342353d-cc99-3d63-0000-000000000000</parentGroupId>
              <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
              <backPressureObjectThreshold>10000</backPressureObjectThreshold>
              <destination>
                <groupId>6342353d-cc99-3d63-0000-000000000000</groupId>
                <id>c2f28e26-7b0f-3354-0000-000000000000</id>
                <type>PROCESSOR</type>
              </destination>
              <flowFileExpiration>0 sec</flowFileExpiration>
              <labelIndex>1</labelIndex>
              <name></name>
              <selectedRelationships>all</selectedRelationships>
              <source>
                <groupId>6342353d-cc99-3d63-0000-000000000000</groupId>
                <id>d2b2e6c1-1f7c-3dd3-0000-000000000000</id>
                <type>PROCESSOR</type>
              </source>
              <zIndex>0</zIndex>
            </connections>
            <connections>
              <id>11603fba-4ae5-3629-0000-000000000000</id>
              <parentGroupId>6342353d-cc99-3d63-0000-000000000000</parentGroupId>
              <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
              <backPressureObjectThreshold>10000</backPressureObjectThreshold>
              <destination>
                <groupId>6342353d-cc99-3d63-0000-000000000000</groupId>
                <id>35eb79be-4c8d-32a9-0000-000000000000</id>
                <type>OUTPUT_PORT</type>
              </destination>
              <flowFileExpiration>0 sec</flowFileExpiration>
              <labelIndex>1</labelIndex>
              <name></name>
              <selectedRelationships>truck_geo_event</selectedRelationships>
              <source>
                <groupId>6342353d-cc99-3d63-0000-000000000000</groupId>
                <id>381b2d24-6011-3ef6-0000-000000000000</id>
                <type>PROCESSOR</type>
              </source>
              <zIndex>0</zIndex>
            </connections>
            <connections>
              <id>3b3d59f6-a157-3f43-0000-000000000000</id>
              <parentGroupId>6342353d-cc99-3d63-0000-000000000000</parentGroupId>
              <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
              <backPressureObjectThreshold>10000</backPressureObjectThreshold>
              <destination>
                <groupId>6342353d-cc99-3d63-0000-000000000000</groupId>
                <id>18a94a56-7011-3bcd-0000-000000000000</id>
                <type>PROCESSOR</type>
              </destination>
              <flowFileExpiration>0 sec</flowFileExpiration>
              <labelIndex>1</labelIndex>
              <name></name>
              <selectedRelationships>matched</selectedRelationships>
              <source>
                <groupId>6342353d-cc99-3d63-0000-000000000000</groupId>
                <id>c2f28e26-7b0f-3354-0000-000000000000</id>
                <type>PROCESSOR</type>
              </source>
              <zIndex>0</zIndex>
            </connections>
            <connections>
              <id>56c3060b-6647-3163-0000-000000000000</id>
              <parentGroupId>6342353d-cc99-3d63-0000-000000000000</parentGroupId>
              <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
              <backPressureObjectThreshold>10000</backPressureObjectThreshold>
              <destination>
                <groupId>6342353d-cc99-3d63-0000-000000000000</groupId>
                <id>d2b2e6c1-1f7c-3dd3-0000-000000000000</id>
                <type>PROCESSOR</type>
              </destination>
              <flowFileExpiration>0 sec</flowFileExpiration>
              <labelIndex>1</labelIndex>
              <name></name>
              <selectedRelationships>success</selectedRelationships>
              <source>
                <groupId>6342353d-cc99-3d63-0000-000000000000</groupId>
                <id>e7d18fdc-cbb8-3550-0000-000000000000</id>
                <type>PROCESSOR</type>
              </source>
              <zIndex>0</zIndex>
            </connections>
            <connections>
              <id>609db159-6d92-33d1-0000-000000000000</id>
              <parentGroupId>6342353d-cc99-3d63-0000-000000000000</parentGroupId>
              <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
              <backPressureObjectThreshold>10000</backPressureObjectThreshold>
              <destination>
                <groupId>6342353d-cc99-3d63-0000-000000000000</groupId>
                <id>58777802-84dc-3d8e-0000-000000000000</id>
                <type>PROCESSOR</type>
              </destination>
              <flowFileExpiration>0 sec</flowFileExpiration>
              <labelIndex>1</labelIndex>
              <name></name>
              <selectedRelationships>success</selectedRelationships>
              <source>
                <groupId>6342353d-cc99-3d63-0000-000000000000</groupId>
                <id>18a94a56-7011-3bcd-0000-000000000000</id>
                <type>PROCESSOR</type>
              </source>
              <zIndex>0</zIndex>
            </connections>
            <outputPorts>
              <id>35eb79be-4c8d-32a9-0000-000000000000</id>
              <parentGroupId>6342353d-cc99-3d63-0000-000000000000</parentGroupId>
              <position>
                <x>284.02124813891896</x>
                <y>1433.9699715338063</y>
              </position>
              <comments></comments>
              <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
              <name>Truck Geo Events</name>
              <state>STOPPED</state>
              <type>OUTPUT_PORT</type>
            </outputPorts>
            <outputPorts>
              <id>6b26f23d-4d01-3bd7-0000-000000000000</id>
              <parentGroupId>6342353d-cc99-3d63-0000-000000000000</parentGroupId>
              <position>
                <x>621.6219866643096</x>
                <y>1433.1113289556813</y>
              </position>
              <comments></comments>
              <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
              <name>Truck Speed Events</name>
              <state>STOPPED</state>
              <type>OUTPUT_PORT</type>
            </outputPorts>
            <processors>
              <id>c2f28e26-7b0f-3354-0000-000000000000</id>
              <parentGroupId>6342353d-cc99-3d63-0000-000000000000</parentGroupId>
              <position>
                <x>408.0</x>
                <y>604.000015434651</y>
              </position>
              <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.2.0-SNAPSHOT</version>
              </bundle>
              <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                  <entry>
                    <key>Character Set</key>
                    <value>
                      <name>Character Set</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Maximum Buffer Size</key>
                    <value>
                      <name>Maximum Buffer Size</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Maximum Capture Group Length</key>
                    <value>
                      <name>Maximum Capture Group Length</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Enable Canonical Equivalence</key>
                    <value>
                      <name>Enable Canonical Equivalence</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Enable Case-insensitive Matching</key>
                    <value>
                      <name>Enable Case-insensitive Matching</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Permit Whitespace and Comments in Pattern</key>
                    <value>
                      <name>Permit Whitespace and Comments in Pattern</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Enable DOTALL Mode</key>
                    <value>
                      <name>Enable DOTALL Mode</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Enable Literal Parsing of the Pattern</key>
                    <value>
                      <name>Enable Literal Parsing of the Pattern</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Enable Multiline Mode</key>
                    <value>
                      <name>Enable Multiline Mode</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Enable Unicode-aware Case Folding</key>
                    <value>
                      <name>Enable Unicode-aware Case Folding</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Enable Unicode Predefined Character Classes</key>
                    <value>
                      <name>Enable Unicode Predefined Character Classes</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Enable Unix Lines Mode</key>
                    <value>
                      <name>Enable Unix Lines Mode</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Include Capture Group 0</key>
                    <value>
                      <name>Include Capture Group 0</name>
                    </value>
                  </entry>
                  <entry>
                    <key>extract-text-enable-repeating-capture-group</key>
                    <value>
                      <name>extract-text-enable-repeating-capture-group</name>
                    </value>
                  </entry>
                  <entry>
                    <key>schema.identifier</key>
                    <value>
                      <name>schema.identifier</name>
                    </value>
                  </entry>
                  <entry>
                    <key>schema.version</key>
                    <value>
                      <name>schema.version</name>
                    </value>
                  </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                  <entry>
                    <key>Character Set</key>
                    <value>UTF-8</value>
                  </entry>
                  <entry>
                    <key>Maximum Buffer Size</key>
                    <value>1 KB</value>
                  </entry>
                  <entry>
                    <key>Maximum Capture Group Length</key>
                    <value>1024</value>
                  </entry>
                  <entry>
                    <key>Enable Canonical Equivalence</key>
                    <value>false</value>
                  </entry>
                  <entry>
                    <key>Enable Case-insensitive Matching</key>
                    <value>false</value>
                  </entry>
                  <entry>
                    <key>Permit Whitespace and Comments in Pattern</key>
                    <value>false</value>
                  </entry>
                  <entry>
                    <key>Enable DOTALL Mode</key>
                    <value>false</value>
                  </entry>
                  <entry>
                    <key>Enable Literal Parsing of the Pattern</key>
                    <value>false</value>
                  </entry>
                  <entry>
                    <key>Enable Multiline Mode</key>
                    <value>false</value>
                  </entry>
                  <entry>
                    <key>Enable Unicode-aware Case Folding</key>
                    <value>false</value>
                  </entry>
                  <entry>
                    <key>Enable Unicode Predefined Character Classes</key>
                    <value>false</value>
                  </entry>
                  <entry>
                    <key>Enable Unix Lines Mode</key>
                    <value>false</value>
                  </entry>
                  <entry>
                    <key>Include Capture Group 0</key>
                    <value>false</value>
                  </entry>
                  <entry>
                    <key>extract-text-enable-repeating-capture-group</key>
                    <value>false</value>
                  </entry>
                  <entry>
                    <key>schema.identifier</key>
                    <value>.*?\&lt;schema-id&gt;(.*?)\&lt;schema-id&gt;.*</value>
                  </entry>
                  <entry>
                    <key>schema.version</key>
                    <value>.*?\&lt;schema-version&gt;(.*?)\&lt;schema-version&gt;.*</value>
                  </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
              </config>
              <name>Extract Schema Reference</name>
              <relationships>
                <autoTerminate>false</autoTerminate>
                <name>matched</name>
              </relationships>
              <relationships>
                <autoTerminate>true</autoTerminate>
                <name>unmatched</name>
              </relationships>
              <style></style>
              <type>org.apache.nifi.processors.standard.ExtractText</type>
            </processors>
            <processors>
              <id>d2b2e6c1-1f7c-3dd3-0000-000000000000</id>
              <parentGroupId>6342353d-cc99-3d63-0000-000000000000</parentGroupId>
              <position>
                <x>407.0</x>
                <y>408.000015434651</y>
              </position>
              <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.2.0-SNAPSHOT</version>
              </bundle>
              <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                  <entry>
                    <key>Routing Strategy</key>
                    <value>
                      <name>Routing Strategy</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Matching Strategy</key>
                    <value>
                      <name>Matching Strategy</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Character Set</key>
                    <value>
                      <name>Character Set</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Ignore Leading/Trailing Whitespace</key>
                    <value>
                      <name>Ignore Leading/Trailing Whitespace</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Ignore Case</key>
                    <value>
                      <name>Ignore Case</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Grouping Regular Expression</key>
                    <value>
                      <name>Grouping Regular Expression</name>
                    </value>
                  </entry>
                  <entry>
                    <key>all</key>
                    <value>
                      <name>all</name>
                    </value>
                  </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>5 sec</penaltyDuration>
                <properties>
                  <entry>
                    <key>Routing Strategy</key>
                    <value>Route to each matching Property Name</value>
                  </entry>
                  <entry>
                    <key>Matching Strategy</key>
                    <value>Matches Regular Expression</value>
                  </entry>
                  <entry>
                    <key>Character Set</key>
                    <value>UTF-8</value>
                  </entry>
                  <entry>
                    <key>Ignore Leading/Trailing Whitespace</key>
                    <value>true</value>
                  </entry>
                  <entry>
                    <key>Ignore Case</key>
                    <value>false</value>
                  </entry>
                  <entry>
                    <key>Grouping Regular Expression</key>
                    <value>(.*?)\|.*?\|(.*?)\|.*</value>
                  </entry>
                  <entry>
                    <key>all</key>
                    <value>.*</value>
                  </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>1 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
              </config>
              <name>Group By Schema</name>
              <relationships>
                <autoTerminate>false</autoTerminate>
                <name>all</name>
              </relationships>
              <relationships>
                <autoTerminate>true</autoTerminate>
                <name>original</name>
              </relationships>
              <relationships>
                <autoTerminate>true</autoTerminate>
                <name>unmatched</name>
              </relationships>
              <style></style>
              <type>org.apache.nifi.processors.standard.RouteText</type>
            </processors>
            <processors>
              <id>e7d18fdc-cbb8-3550-0000-000000000000</id>
              <parentGroupId>6342353d-cc99-3d63-0000-000000000000</parentGroupId>
              <position>
                <x>404.50037434084663</x>
                <y>149.38899565620542</y>
              </position>
              <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.2.0-SNAPSHOT</version>
              </bundle>
              <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                  <entry>
                    <key>tail-mode</key>
                    <value>
                      <name>tail-mode</name>
                    </value>
                  </entry>
                  <entry>
                    <key>File to Tail</key>
                    <value>
                      <name>File to Tail</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Rolling Filename Pattern</key>
                    <value>
                      <name>Rolling Filename Pattern</name>
                    </value>
                  </entry>
                  <entry>
                    <key>tail-base-directory</key>
                    <value>
                      <name>tail-base-directory</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Initial Start Position</key>
                    <value>
                      <name>Initial Start Position</name>
                    </value>
                  </entry>
                  <entry>
                    <key>File Location</key>
                    <value>
                      <name>File Location</name>
                    </value>
                  </entry>
                  <entry>
                    <key>tailfile-recursive-lookup</key>
                    <value>
                      <name>tailfile-recursive-lookup</name>
                    </value>
                  </entry>
                  <entry>
                    <key>tailfile-rolling-strategy</key>
                    <value>
                      <name>tailfile-rolling-strategy</name>
                    </value>
                  </entry>
                  <entry>
                    <key>tailfile-lookup-frequency</key>
                    <value>
                      <name>tailfile-lookup-frequency</name>
                    </value>
                  </entry>
                  <entry>
                    <key>tailfile-maximum-age</key>
                    <value>
                      <name>tailfile-maximum-age</name>
                    </value>
                  </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                  <entry>
                    <key>tail-mode</key>
                    <value>Single file</value>
                  </entry>
                  <entry>
                    <key>File to Tail</key>
                    <value>/tmp/truck-sensor-data/all-streams-with-schemaid-embedded-1a.txt</value>
                  </entry>
                  <entry>
                    <key>Rolling Filename Pattern</key>
                  </entry>
                  <entry>
                    <key>tail-base-directory</key>
                  </entry>
                  <entry>
                    <key>Initial Start Position</key>
                    <value>Beginning of File</value>
                  </entry>
                  <entry>
                    <key>File Location</key>
                    <value>Local</value>
                  </entry>
                  <entry>
                    <key>tailfile-recursive-lookup</key>
                    <value>false</value>
                  </entry>
                  <entry>
                    <key>tailfile-rolling-strategy</key>
                    <value>Fixed name</value>
                  </entry>
                  <entry>
                    <key>tailfile-lookup-frequency</key>
                    <value>10 minutes</value>
                  </entry>
                  <entry>
                    <key>tailfile-maximum-age</key>
                    <value>24 hours</value>
                  </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
              </config>
              <name>TruckStreams</name>
              <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
              </relationships>
              <style></style>
              <type>org.apache.nifi.processors.standard.TailFile</type>
            </processors>
            <processors>
              <id>18a94a56-7011-3bcd-0000-000000000000</id>
              <parentGroupId>6342353d-cc99-3d63-0000-000000000000</parentGroupId>
              <position>
                <x>409.0</x>
                <y>806.000015434651</y>
              </position>
              <bundle>
                <artifact>nifi-update-attribute-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.2.0-SNAPSHOT</version>
              </bundle>
              <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                  <entry>
                    <key>Delete Attributes Expression</key>
                    <value>
                      <name>Delete Attributes Expression</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Store State</key>
                    <value>
                      <name>Store State</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Stateful Variables Initial Value</key>
                    <value>
                      <name>Stateful Variables Initial Value</name>
                    </value>
                  </entry>
                  <entry>
                    <key>schema.protocol.version</key>
                    <value>
                      <name>schema.protocol.version</name>
                    </value>
                  </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                  <entry>
                    <key>Delete Attributes Expression</key>
                  </entry>
                  <entry>
                    <key>Store State</key>
                    <value>Do not store state</value>
                  </entry>
                  <entry>
                    <key>Stateful Variables Initial Value</key>
                  </entry>
                  <entry>
                    <key>schema.protocol.version</key>
                    <value>1</value>
                  </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
              </config>
              <name>Add Schema Reference Protocol Version</name>
              <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
              </relationships>
              <style></style>
              <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
            </processors>
            <processors>
              <id>381b2d24-6011-3ef6-0000-000000000000</id>
              <parentGroupId>6342353d-cc99-3d63-0000-000000000000</parentGroupId>
              <position>
                <x>409.0</x>
                <y>1209.000015434651</y>
              </position>
              <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.2.0-SNAPSHOT</version>
              </bundle>
              <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                  <entry>
                    <key>Routing Strategy</key>
                    <value>
                      <name>Routing Strategy</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Matching Strategy</key>
                    <value>
                      <name>Matching Strategy</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Character Set</key>
                    <value>
                      <name>Character Set</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Ignore Leading/Trailing Whitespace</key>
                    <value>
                      <name>Ignore Leading/Trailing Whitespace</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Ignore Case</key>
                    <value>
                      <name>Ignore Case</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Grouping Regular Expression</key>
                    <value>
                      <name>Grouping Regular Expression</name>
                    </value>
                  </entry>
                  <entry>
                    <key>truck_geo_event</key>
                    <value>
                      <name>truck_geo_event</name>
                    </value>
                  </entry>
                  <entry>
                    <key>truck_speed_event</key>
                    <value>
                      <name>truck_speed_event</name>
                    </value>
                  </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                  <entry>
                    <key>Routing Strategy</key>
                    <value>Route to each matching Property Name</value>
                  </entry>
                  <entry>
                    <key>Matching Strategy</key>
                    <value>Contains</value>
                  </entry>
                  <entry>
                    <key>Character Set</key>
                    <value>UTF-8</value>
                  </entry>
                  <entry>
                    <key>Ignore Leading/Trailing Whitespace</key>
                    <value>true</value>
                  </entry>
                  <entry>
                    <key>Ignore Case</key>
                    <value>false</value>
                  </entry>
                  <entry>
                    <key>Grouping Regular Expression</key>
                  </entry>
                  <entry>
                    <key>truck_geo_event</key>
                    <value>truck_geo_event</value>
                  </entry>
                  <entry>
                    <key>truck_speed_event</key>
                    <value>truck_speed_event</value>
                  </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
              </config>
              <name>Route By Telemetry Events</name>
              <relationships>
                <autoTerminate>true</autoTerminate>
                <name>original</name>
              </relationships>
              <relationships>
                <autoTerminate>false</autoTerminate>
                <name>truck_geo_event</name>
              </relationships>
              <relationships>
                <autoTerminate>false</autoTerminate>
                <name>truck_speed_event</name>
              </relationships>
              <relationships>
                <autoTerminate>true</autoTerminate>
                <name>unmatched</name>
              </relationships>
              <style></style>
              <type>org.apache.nifi.processors.standard.RouteText</type>
            </processors>
            <processors>
              <id>58777802-84dc-3d8e-0000-000000000000</id>
              <parentGroupId>6342353d-cc99-3d63-0000-000000000000</parentGroupId>
              <position>
                <x>409.0</x>
                <y>1005.000015434651</y>
              </position>
              <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.2.0-SNAPSHOT</version>
              </bundle>
              <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                  <entry>
                    <key>Regular Expression</key>
                    <value>
                      <name>Regular Expression</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Replacement Value</key>
                    <value>
                      <name>Replacement Value</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Character Set</key>
                    <value>
                      <name>Character Set</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Maximum Buffer Size</key>
                    <value>
                      <name>Maximum Buffer Size</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Replacement Strategy</key>
                    <value>
                      <name>Replacement Strategy</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Evaluation Mode</key>
                    <value>
                      <name>Evaluation Mode</name>
                    </value>
                  </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                  <entry>
                    <key>Regular Expression</key>
                    <value>(?:.*?\|)(.*)</value>
                  </entry>
                  <entry>
                    <key>Replacement Value</key>
                    <value>$1</value>
                  </entry>
                  <entry>
                    <key>Character Set</key>
                    <value>UTF-8</value>
                  </entry>
                  <entry>
                    <key>Maximum Buffer Size</key>
                    <value>1 MB</value>
                  </entry>
                  <entry>
                    <key>Replacement Strategy</key>
                    <value>Regex Replace</value>
                  </entry>
                  <entry>
                    <key>Evaluation Mode</key>
                    <value>Line-by-Line</value>
                  </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
              </config>
              <name>Remove Line Headers and Trailing Pipe</name>
              <relationships>
                <autoTerminate>true</autoTerminate>
                <name>failure</name>
              </relationships>
              <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
              </relationships>
              <style></style>
              <type>org.apache.nifi.processors.standard.ReplaceText</type>
            </processors>
          </contents>
          <name>Acquire Events</name>
        </processGroups>
        <processors>
          <id>fff990c4-3a84-3dab-0000-000000000000</id>
          <parentGroupId>6ccd25db-3dc2-3524-0000-000000000000</parentGroupId>
          <position>
            <x>909.1922793677413</x>
            <y>950.0607574216406</y>
          </position>
          <bundle>
            <artifact>nifi-kafka-0-10-nar</artifact>
            <group>org.apache.nifi</group>
            <version>1.2.0-SNAPSHOT</version>
          </bundle>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>bootstrap.servers</key>
                <value>
                  <name>bootstrap.servers</name>
                </value>
              </entry>
              <entry>
                <key>topic</key>
                <value>
                  <name>topic</name>
                </value>
              </entry>
              <entry>
                <key>record-reader</key>
                <value>
                  <identifiesControllerService>org.apache.nifi.serialization.RecordReaderFactory</identifiesControllerService>
                  <name>record-reader</name>
                </value>
              </entry>
              <entry>
                <key>record-writer</key>
                <value>
                  <identifiesControllerService>org.apache.nifi.serialization.RecordSetWriterFactory</identifiesControllerService>
                  <name>record-writer</name>
                </value>
              </entry>
              <entry>
                <key>security.protocol</key>
                <value>
                  <name>security.protocol</name>
                </value>
              </entry>
              <entry>
                <key>sasl.kerberos.service.name</key>
                <value>
                  <name>sasl.kerberos.service.name</name>
                </value>
              </entry>
              <entry>
                <key>sasl.kerberos.principal</key>
                <value>
                  <name>sasl.kerberos.principal</name>
                </value>
              </entry>
              <entry>
                <key>sasl.kerberos.keytab</key>
                <value>
                  <name>sasl.kerberos.keytab</name>
                </value>
              </entry>
              <entry>
                <key>ssl.context.service</key>
                <value>
                  <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
                  <name>ssl.context.service</name>
                </value>
              </entry>
              <entry>
                <key>acks</key>
                <value>
                  <name>acks</name>
                </value>
              </entry>
              <entry>
                <key>message-key-field</key>
                <value>
                  <name>message-key-field</name>
                </value>
              </entry>
              <entry>
                <key>max.request.size</key>
                <value>
                  <name>max.request.size</name>
                </value>
              </entry>
              <entry>
                <key>ack.wait.time</key>
                <value>
                  <name>ack.wait.time</name>
                </value>
              </entry>
              <entry>
                <key>max.block.ms</key>
                <value>
                  <name>max.block.ms</name>
                </value>
              </entry>
              <entry>
                <key>partitioner.class</key>
                <value>
                  <name>partitioner.class</name>
                </value>
              </entry>
              <entry>
                <key>compression.type</key>
                <value>
                  <name>compression.type</name>
                </value>
              </entry>
            </descriptors>
            <executionNode>ALL</executionNode>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>bootstrap.servers</key>
                <value>fenton-hdf6.field.hortonworks.com:6667</value>
              </entry>
              <entry>
                <key>topic</key>
                <value>${kafka.topic}</value>
              </entry>
              <entry>
                <key>record-reader</key>
                <value>78001276-2e9f-34f3-0000-000000000000</value>
              </entry>
              <entry>
                <key>record-writer</key>
                <value>d259d1d3-5055-36f7-0000-000000000000</value>
              </entry>
              <entry>
                <key>security.protocol</key>
                <value>PLAINTEXT</value>
              </entry>
              <entry>
                <key>sasl.kerberos.service.name</key>
              </entry>
              <entry>
                <key>sasl.kerberos.principal</key>
              </entry>
              <entry>
                <key>sasl.kerberos.keytab</key>
              </entry>
              <entry>
                <key>ssl.context.service</key>
              </entry>
              <entry>
                <key>acks</key>
                <value>0</value>
              </entry>
              <entry>
                <key>message-key-field</key>
              </entry>
              <entry>
                <key>max.request.size</key>
                <value>1 MB</value>
              </entry>
              <entry>
                <key>ack.wait.time</key>
                <value>5 secs</value>
              </entry>
              <entry>
                <key>max.block.ms</key>
                <value>5 sec</value>
              </entry>
              <entry>
                <key>partitioner.class</key>
                <value>org.apache.kafka.clients.producer.internals.DefaultPartitioner</value>
              </entry>
              <entry>
                <key>compression.type</key>
                <value>none</value>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>Publish Events to Truck Stream Topics</name>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>failure</name>
          </relationships>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>success</name>
          </relationships>
          <style></style>
          <type>org.apache.nifi.processors.kafka.pubsub.PublishKafkaRecord_0_10</type>
        </processors>
        <processors>
          <id>3af97004-74ca-35b9-0000-000000000000</id>
          <parentGroupId>6ccd25db-3dc2-3524-0000-000000000000</parentGroupId>
          <position>
            <x>666.3000934047266</x>
            <y>530.9509798486299</y>
          </position>
          <bundle>
            <artifact>nifi-scripting-nar</artifact>
            <group>org.apache.nifi</group>
            <version>1.2.0-SNAPSHOT</version>
          </bundle>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>Script Engine</key>
                <value>
                  <name>Script Engine</name>
                </value>
              </entry>
              <entry>
                <key>Script File</key>
                <value>
                  <name>Script File</name>
                </value>
              </entry>
              <entry>
                <key>Script Body</key>
                <value>
                  <name>Script Body</name>
                </value>
              </entry>
              <entry>
                <key>Module Directory</key>
                <value>
                  <name>Module Directory</name>
                </value>
              </entry>
            </descriptors>
            <executionNode>ALL</executionNode>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>Script Engine</key>
                <value>Groovy</value>
              </entry>
              <entry>
                <key>Script File</key>
              </entry>
              <entry>
                <key>Script Body</key>
                <value>import java.nio.charset.StandardCharsets


def flowFile = session.get()
if(!flowFile) return

lat =  flowFile.getAttribute('latitudeForGeoCodeEnrichment')
lng =  flowFile.getAttribute('longitudeForGeoCodeEnrichment')


flowFile = session.write(flowFile, {inputStream, outputStream -&gt;
   inputStream.eachLine { line -&gt;
      fmt_addr = "2106 Morton Ave, Des Moines, IA 50317, USA\n"
      outputStream.write("$line$fmt_addr".toString().getBytes(StandardCharsets.UTF_8))
   }
} as StreamCallback)

session.transfer(flowFile, REL_SUCCESS)</value>
              </entry>
              <entry>
                <key>Module Directory</key>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>GeoCode Enrichment</name>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>failure</name>
          </relationships>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>success</name>
          </relationships>
          <style></style>
          <type>org.apache.nifi.processors.script.ExecuteScript</type>
        </processors>
        <processors>
          <id>52162b31-6a82-3868-0000-000000000000</id>
          <parentGroupId>6ccd25db-3dc2-3524-0000-000000000000</parentGroupId>
          <position>
            <x>1145.8907857649033</x>
            <y>710.8879825131966</y>
          </position>
          <bundle>
            <artifact>nifi-update-attribute-nar</artifact>
            <group>org.apache.nifi</group>
            <version>1.2.0-SNAPSHOT</version>
          </bundle>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>Delete Attributes Expression</key>
                <value>
                  <name>Delete Attributes Expression</name>
                </value>
              </entry>
              <entry>
                <key>Store State</key>
                <value>
                  <name>Store State</name>
                </value>
              </entry>
              <entry>
                <key>Stateful Variables Initial Value</key>
                <value>
                  <name>Stateful Variables Initial Value</name>
                </value>
              </entry>
              <entry>
                <key>kafka.topic</key>
                <value>
                  <name>kafka.topic</name>
                </value>
              </entry>
              <entry>
                <key>schema.identifier</key>
                <value>
                  <name>schema.identifier</name>
                </value>
              </entry>
              <entry>
                <key>schema.protocol.version</key>
                <value>
                  <name>schema.protocol.version</name>
                </value>
              </entry>
              <entry>
                <key>schema.version</key>
                <value>
                  <name>schema.version</name>
                </value>
              </entry>
            </descriptors>
            <executionNode>ALL</executionNode>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>Delete Attributes Expression</key>
              </entry>
              <entry>
                <key>Store State</key>
                <value>Do not store state</value>
              </entry>
              <entry>
                <key>Stateful Variables Initial Value</key>
              </entry>
              <entry>
                <key>kafka.topic</key>
                <value>truck_speed_events_avro</value>
              </entry>
              <entry>
                <key>schema.identifier</key>
                <value>6</value>
              </entry>
              <entry>
                <key>schema.protocol.version</key>
                <value>1</value>
              </entry>
              <entry>
                <key>schema.version</key>
                <value>1</value>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>Specify Schema and Destination</name>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>success</name>
          </relationships>
          <style></style>
          <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
        </processors>
        <processors>
          <id>7526ca45-9eaf-3d70-0000-000000000000</id>
          <parentGroupId>6ccd25db-3dc2-3524-0000-000000000000</parentGroupId>
          <position>
            <x>665.8958818317703</x>
            <y>713.3622010260376</y>
          </position>
          <bundle>
            <artifact>nifi-update-attribute-nar</artifact>
            <group>org.apache.nifi</group>
            <version>1.2.0-SNAPSHOT</version>
          </bundle>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>Delete Attributes Expression</key>
                <value>
                  <name>Delete Attributes Expression</name>
                </value>
              </entry>
              <entry>
                <key>Store State</key>
                <value>
                  <name>Store State</name>
                </value>
              </entry>
              <entry>
                <key>Stateful Variables Initial Value</key>
                <value>
                  <name>Stateful Variables Initial Value</name>
                </value>
              </entry>
              <entry>
                <key>kafka.topic</key>
                <value>
                  <name>kafka.topic</name>
                </value>
              </entry>
              <entry>
                <key>schema.identifier</key>
                <value>
                  <name>schema.identifier</name>
                </value>
              </entry>
              <entry>
                <key>schema.protocol.version</key>
                <value>
                  <name>schema.protocol.version</name>
                </value>
              </entry>
              <entry>
                <key>schema.version</key>
                <value>
                  <name>schema.version</name>
                </value>
              </entry>
            </descriptors>
            <executionNode>ALL</executionNode>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>Delete Attributes Expression</key>
              </entry>
              <entry>
                <key>Store State</key>
                <value>Do not store state</value>
              </entry>
              <entry>
                <key>Stateful Variables Initial Value</key>
              </entry>
              <entry>
                <key>kafka.topic</key>
                <value>truck_events_avro</value>
              </entry>
              <entry>
                <key>schema.identifier</key>
                <value>5</value>
              </entry>
              <entry>
                <key>schema.protocol.version</key>
                <value>1</value>
              </entry>
              <entry>
                <key>schema.version</key>
                <value>1</value>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>Specify Schema and Destination</name>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>success</name>
          </relationships>
          <style></style>
          <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
        </processors>
      </contents>
      <name>Use Case 2 - Approach A (Joe)</name>
    </processGroups>
  </snippet>
  <timestamp>05/04/2017 09:43:25 UTC</timestamp>
</template>