reference-apps/iot-trucking-app/trucking-data-simulator/src/main/resources/nifi-flows/Nifi_and_Schema_Registry_Integration_End_to_End_Example_V2.xml
<?xml version="1.0" ?>
<template encoding-version="1.1">
  <description></description>
  <groupId>7c84501d-d10c-407c-b9f3-1d80e38fe36a</groupId>
  <name>Nifi_and_Schema_Registry_Integration_End_to_End_Example_V2</name>
  <snippet>
    <controllerServices>
      <id>8b3247f0-d86b-3002-0000-000000000000</id>
      <parentGroupId>46f95fe5-3024-31d8-0000-000000000000</parentGroupId>
      <bundle>
        <artifact>nifi-record-serialization-services-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.2.0.3.0.0.0-264</version>
      </bundle>
      <comments></comments>
      <descriptors>
        <entry>
          <key>Schema Write Strategy</key>
          <value>
            <name>Schema Write Strategy</name>
          </value>
        </entry>
        <entry>
          <key>schema-access-strategy</key>
          <value>
            <name>schema-access-strategy</name>
          </value>
        </entry>
        <entry>
          <key>schema-registry</key>
          <value>
            <identifiesControllerService>org.apache.nifi.schemaregistry.services.SchemaRegistry</identifiesControllerService>
            <name>schema-registry</name>
          </value>
        </entry>
        <entry>
          <key>schema-name</key>
          <value>
            <name>schema-name</name>
          </value>
        </entry>
        <entry>
          <key>schema-text</key>
          <value>
            <name>schema-text</name>
          </value>
        </entry>
      </descriptors>
      <name>AvroRecordSetWriter</name>
      <persistsState>false</persistsState>
      <properties>
        <entry>
          <key>Schema Write Strategy</key>
          <value>hwx-content-encoded-schema</value>
        </entry>
        <entry>
          <key>schema-access-strategy</key>
          <value>hwx-schema-ref-attributes</value>
        </entry>
        <entry>
          <key>schema-registry</key>
          <value>5bbab1b5-691a-3a8d-0000-000000000000</value>
        </entry>
        <entry>
          <key>schema-name</key>
          <value>${schema.name}</value>
        </entry>
        <entry>
          <key>schema-text</key>
          <value>${avro.schema}</value>
        </entry>
      </properties>
      <state>DISABLED</state>
      <type>org.apache.nifi.avro.AvroRecordSetWriter</type>
    </controllerServices>
    <controllerServices>
      <id>94e20c6a-c1f6-3919-0000-000000000000</id>
      <parentGroupId>46f95fe5-3024-31d8-0000-000000000000</parentGroupId>
      <bundle>
        <artifact>nifi-record-serialization-services-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.2.0.3.0.0.0-264</version>
      </bundle>
      <comments></comments>
      <descriptors>
        <entry>
          <key>schema-access-strategy</key>
          <value>
            <name>schema-access-strategy</name>
          </value>
        </entry>
        <entry>
          <key>schema-registry</key>
          <value>
            <identifiesControllerService>org.apache.nifi.schemaregistry.services.SchemaRegistry</identifiesControllerService>
            <name>schema-registry</name>
          </value>
        </entry>
        <entry>
          <key>schema-name</key>
          <value>
            <name>schema-name</name>
          </value>
        </entry>
        <entry>
          <key>schema-text</key>
          <value>
            <name>schema-text</name>
          </value>
        </entry>
      </descriptors>
      <name>Avro Truck Events</name>
      <persistsState>false</persistsState>
      <properties>
        <entry>
          <key>schema-access-strategy</key>
          <value>hwx-content-encoded-schema</value>
        </entry>
        <entry>
          <key>schema-registry</key>
          <value>5bbab1b5-691a-3a8d-0000-000000000000</value>
        </entry>
        <entry>
          <key>schema-name</key>
        </entry>
        <entry>
          <key>schema-text</key>
        </entry>
      </properties>
      <state>DISABLED</state>
      <type>org.apache.nifi.avro.AvroReader</type>
    </controllerServices>
    <controllerServices>
      <id>ac8788ce-5f50-37fc-0000-000000000000</id>
      <parentGroupId>46f95fe5-3024-31d8-0000-000000000000</parentGroupId>
      <bundle>
        <artifact>nifi-record-serialization-services-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.2.0.3.0.0.0-264</version>
      </bundle>
      <comments></comments>
      <descriptors>
        <entry>
          <key>schema-access-strategy</key>
          <value>
            <name>schema-access-strategy</name>
          </value>
        </entry>
        <entry>
          <key>schema-registry</key>
          <value>
            <identifiesControllerService>org.apache.nifi.schemaregistry.services.SchemaRegistry</identifiesControllerService>
            <name>schema-registry</name>
          </value>
        </entry>
        <entry>
          <key>schema-name</key>
          <value>
            <name>schema-name</name>
          </value>
        </entry>
        <entry>
          <key>schema-text</key>
          <value>
            <name>schema-text</name>
          </value>
        </entry>
        <entry>
          <key>Date Format</key>
          <value>
            <name>Date Format</name>
          </value>
        </entry>
        <entry>
          <key>Time Format</key>
          <value>
            <name>Time Format</name>
          </value>
        </entry>
        <entry>
          <key>Timestamp Format</key>
          <value>
            <name>Timestamp Format</name>
          </value>
        </entry>
        <entry>
          <key>CSV Format</key>
          <value>
            <name>CSV Format</name>
          </value>
        </entry>
        <entry>
          <key>Value Separator</key>
          <value>
            <name>Value Separator</name>
          </value>
        </entry>
        <entry>
          <key>Skip Header Line</key>
          <value>
            <name>Skip Header Line</name>
          </value>
        </entry>
        <entry>
          <key>Quote Character</key>
          <value>
            <name>Quote Character</name>
          </value>
        </entry>
        <entry>
          <key>Escape Character</key>
          <value>
            <name>Escape Character</name>
          </value>
        </entry>
        <entry>
          <key>Comment Marker</key>
          <value>
            <name>Comment Marker</name>
          </value>
        </entry>
        <entry>
          <key>Null String</key>
          <value>
            <name>Null String</name>
          </value>
        </entry>
        <entry>
          <key>Trim Fields</key>
          <value>
            <name>Trim Fields</name>
          </value>
        </entry>
      </descriptors>
      <name>CSV Truck Events</name>
      <persistsState>false</persistsState>
      <properties>
        <entry>
          <key>schema-access-strategy</key>
          <value>hwx-schema-ref-attributes</value>
        </entry>
        <entry>
          <key>schema-registry</key>
          <value>5bbab1b5-691a-3a8d-0000-000000000000</value>
        </entry>
        <entry>
          <key>schema-name</key>
          <value>${schema.name}</value>
        </entry>
        <entry>
          <key>schema-text</key>
          <value>${avro.schema}</value>
        </entry>
        <entry>
          <key>Date Format</key>
        </entry>
        <entry>
          <key>Time Format</key>
        </entry>
        <entry>
          <key>Timestamp Format</key>
        </entry>
        <entry>
          <key>CSV Format</key>
          <value>custom</value>
        </entry>
        <entry>
          <key>Value Separator</key>
          <value>|</value>
        </entry>
        <entry>
          <key>Skip Header Line</key>
          <value>false</value>
        </entry>
        <entry>
          <key>Quote Character</key>
          <value>"</value>
        </entry>
        <entry>
          <key>Escape Character</key>
          <value>\</value>
        </entry>
        <entry>
          <key>Comment Marker</key>
        </entry>
        <entry>
          <key>Null String</key>
        </entry>
        <entry>
          <key>Trim Fields</key>
          <value>true</value>
        </entry>
      </properties>
      <state>DISABLED</state>
      <type>org.apache.nifi.csv.CSVReader</type>
    </controllerServices>
    <controllerServices>
      <id>2a820ba7-1de0-3898-0000-000000000000</id>
      <parentGroupId>46f95fe5-3024-31d8-0000-000000000000</parentGroupId>
      <bundle>
        <artifact>nifi-record-serialization-services-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.2.0.3.0.0.0-264</version>
      </bundle>
      <comments></comments>
      <descriptors>
        <entry>
          <key>Schema Write Strategy</key>
          <value>
            <name>Schema Write Strategy</name>
          </value>
        </entry>
        <entry>
          <key>schema-access-strategy</key>
          <value>
            <name>schema-access-strategy</name>
          </value>
        </entry>
        <entry>
          <key>schema-registry</key>
          <value>
            <identifiesControllerService>org.apache.nifi.schemaregistry.services.SchemaRegistry</identifiesControllerService>
            <name>schema-registry</name>
          </value>
        </entry>
        <entry>
          <key>schema-name</key>
          <value>
            <name>schema-name</name>
          </value>
        </entry>
        <entry>
          <key>schema-text</key>
          <value>
            <name>schema-text</name>
          </value>
        </entry>
        <entry>
          <key>Date Format</key>
          <value>
            <name>Date Format</name>
          </value>
        </entry>
        <entry>
          <key>Time Format</key>
          <value>
            <name>Time Format</name>
          </value>
        </entry>
        <entry>
          <key>Timestamp Format</key>
          <value>
            <name>Timestamp Format</name>
          </value>
        </entry>
        <entry>
          <key>CSV Format</key>
          <value>
            <name>CSV Format</name>
          </value>
        </entry>
        <entry>
          <key>Value Separator</key>
          <value>
            <name>Value Separator</name>
          </value>
        </entry>
        <entry>
          <key>Include Header Line</key>
          <value>
            <name>Include Header Line</name>
          </value>
        </entry>
        <entry>
          <key>Quote Character</key>
          <value>
            <name>Quote Character</name>
          </value>
        </entry>
        <entry>
          <key>Escape Character</key>
          <value>
            <name>Escape Character</name>
          </value>
        </entry>
        <entry>
          <key>Comment Marker</key>
          <value>
            <name>Comment Marker</name>
          </value>
        </entry>
        <entry>
          <key>Null String</key>
          <value>
            <name>Null String</name>
          </value>
        </entry>
        <entry>
          <key>Trim Fields</key>
          <value>
            <name>Trim Fields</name>
          </value>
        </entry>
        <entry>
          <key>Quote Mode</key>
          <value>
            <name>Quote Mode</name>
          </value>
        </entry>
        <entry>
          <key>Record Separator</key>
          <value>
            <name>Record Separator</name>
          </value>
        </entry>
        <entry>
          <key>Include Trailing Delimiter</key>
          <value>
            <name>Include Trailing Delimiter</name>
          </value>
        </entry>
      </descriptors>
      <name>CSVRecordSetWriter</name>
      <persistsState>false</persistsState>
      <properties>
        <entry>
          <key>Schema Write Strategy</key>
          <value>hwx-schema-ref-attributes</value>
        </entry>
        <entry>
          <key>schema-access-strategy</key>
          <value>hwx-schema-ref-attributes</value>
        </entry>
        <entry>
          <key>schema-registry</key>
          <value>5bbab1b5-691a-3a8d-0000-000000000000</value>
        </entry>
        <entry>
          <key>schema-name</key>
        </entry>
        <entry>
          <key>schema-text</key>
        </entry>
        <entry>
          <key>Date Format</key>
        </entry>
        <entry>
          <key>Time Format</key>
        </entry>
        <entry>
          <key>Timestamp Format</key>
        </entry>
        <entry>
          <key>CSV Format</key>
        </entry>
        <entry>
          <key>Value Separator</key>
          <value>|</value>
        </entry>
        <entry>
          <key>Include Header Line</key>
          <value>false</value>
        </entry>
        <entry>
          <key>Quote Character</key>
        </entry>
        <entry>
          <key>Escape Character</key>
        </entry>
        <entry>
          <key>Comment Marker</key>
        </entry>
        <entry>
          <key>Null String</key>
        </entry>
        <entry>
          <key>Trim Fields</key>
        </entry>
        <entry>
          <key>Quote Mode</key>
        </entry>
        <entry>
          <key>Record Separator</key>
          <value>|</value>
        </entry>
        <entry>
          <key>Include Trailing Delimiter</key>
        </entry>
      </properties>
      <state>DISABLED</state>
      <type>org.apache.nifi.csv.CSVRecordSetWriter</type>
    </controllerServices>
    <controllerServices>
      <id>5bbab1b5-691a-3a8d-0000-000000000000</id>
      <parentGroupId>46f95fe5-3024-31d8-0000-000000000000</parentGroupId>
      <bundle>
        <artifact>nifi-hwx-schema-registry-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.2.0.3.0.0.0-264</version>
      </bundle>
      <comments></comments>
      <descriptors>
        <entry>
          <key>url</key>
          <value>
            <name>url</name>
          </value>
        </entry>
      </descriptors>
      <name>HWX Schema Registry</name>
      <persistsState>false</persistsState>
      <properties>
        <entry>
          <key>url</key>
          <value>http://tp2-hdf1.field.hortonworks.com:7788/api/v1</value>
        </entry>
      </properties>
      <state>DISABLED</state>
      <type>org.apache.nifi.schemaregistry.hortonworks.HortonworksSchemaRegistry</type>
    </controllerServices>
    <controllerServices>
      <id>7921e345-e880-3616-0000-000000000000</id>
      <parentGroupId>46f95fe5-3024-31d8-0000-000000000000</parentGroupId>
      <bundle>
        <artifact>nifi-record-serialization-services-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.2.0.3.0.0.0-264</version>
      </bundle>
      <comments></comments>
      <descriptors>
        <entry>
          <key>Schema Write Strategy</key>
          <value>
            <name>Schema Write Strategy</name>
          </value>
        </entry>
        <entry>
          <key>schema-access-strategy</key>
          <value>
            <name>schema-access-strategy</name>
          </value>
        </entry>
        <entry>
          <key>schema-registry</key>
          <value>
            <identifiesControllerService>org.apache.nifi.schemaregistry.services.SchemaRegistry</identifiesControllerService>
            <name>schema-registry</name>
          </value>
        </entry>
        <entry>
          <key>schema-name</key>
          <value>
            <name>schema-name</name>
          </value>
        </entry>
        <entry>
          <key>schema-text</key>
          <value>
            <name>schema-text</name>
          </value>
        </entry>
        <entry>
          <key>Date Format</key>
          <value>
            <name>Date Format</name>
          </value>
        </entry>
        <entry>
          <key>Time Format</key>
          <value>
            <name>Time Format</name>
          </value>
        </entry>
        <entry>
          <key>Timestamp Format</key>
          <value>
            <name>Timestamp Format</name>
          </value>
        </entry>
        <entry>
          <key>CSV Format</key>
          <value>
            <name>CSV Format</name>
          </value>
        </entry>
        <entry>
          <key>Value Separator</key>
          <value>
            <name>Value Separator</name>
          </value>
        </entry>
        <entry>
          <key>Include Header Line</key>
          <value>
            <name>Include Header Line</name>
          </value>
        </entry>
        <entry>
          <key>Quote Character</key>
          <value>
            <name>Quote Character</name>
          </value>
        </entry>
        <entry>
          <key>Escape Character</key>
          <value>
            <name>Escape Character</name>
          </value>
        </entry>
        <entry>
          <key>Comment Marker</key>
          <value>
            <name>Comment Marker</name>
          </value>
        </entry>
        <entry>
          <key>Null String</key>
          <value>
            <name>Null String</name>
          </value>
        </entry>
        <entry>
          <key>Trim Fields</key>
          <value>
            <name>Trim Fields</name>
          </value>
        </entry>
        <entry>
          <key>Quote Mode</key>
          <value>
            <name>Quote Mode</name>
          </value>
        </entry>
        <entry>
          <key>Record Separator</key>
          <value>
            <name>Record Separator</name>
          </value>
        </entry>
        <entry>
          <key>Include Trailing Delimiter</key>
          <value>
            <name>Include Trailing Delimiter</name>
          </value>
        </entry>
      </descriptors>
      <name>CSVRecordSetWriter-Read-Schema-From-HWX-Embedded</name>
      <persistsState>false</persistsState>
      <properties>
        <entry>
          <key>Schema Write Strategy</key>
          <value>hwx-schema-ref-attributes</value>
        </entry>
        <entry>
          <key>schema-access-strategy</key>
          <value>hwx-content-encoded-schema</value>
        </entry>
        <entry>
          <key>schema-registry</key>
          <value>5bbab1b5-691a-3a8d-0000-000000000000</value>
        </entry>
        <entry>
          <key>schema-name</key>
        </entry>
        <entry>
          <key>schema-text</key>
        </entry>
        <entry>
          <key>Date Format</key>
        </entry>
        <entry>
          <key>Time Format</key>
        </entry>
        <entry>
          <key>Timestamp Format</key>
        </entry>
        <entry>
          <key>CSV Format</key>
        </entry>
        <entry>
          <key>Value Separator</key>
          <value>|</value>
        </entry>
        <entry>
          <key>Include Header Line</key>
          <value>false</value>
        </entry>
        <entry>
          <key>Quote Character</key>
        </entry>
        <entry>
          <key>Escape Character</key>
        </entry>
        <entry>
          <key>Comment Marker</key>
        </entry>
        <entry>
          <key>Null String</key>
        </entry>
        <entry>
          <key>Trim Fields</key>
        </entry>
        <entry>
          <key>Quote Mode</key>
        </entry>
        <entry>
          <key>Record Separator</key>
        </entry>
        <entry>
          <key>Include Trailing Delimiter</key>
          <value>true</value>
        </entry>
      </properties>
      <state>DISABLED</state>
      <type>org.apache.nifi.csv.CSVRecordSetWriter</type>
    </controllerServices>
    <labels>
      <id>13a1765a-de46-3636-0000-000000000000</id>
      <parentGroupId>46f95fe5-3024-31d8-0000-000000000000</parentGroupId>
      <position>
        <x>0.0</x>
        <y>0.0</y>
      </position>
      <height>266.6058044433594</height>
      <label>1. Nifi ingest HWX Registry serialized Avro events. 
The HWX registry will put the schema identifier in beginning
bytes of each payload

2. Nifi extracts the schema key and fetches schema from the 
HWX Schema Registry and then converts from AVro to CSV. 

3. These CSV records are then enriched and converted into Avro Records 
and pushed into a Kafka Topic. 
 
When publishing to Kafka Topic, Nifi will look up the schema associated
with the kafka topic and then use it to serialize into Avro before
publishing into Kafka
</label>
      <style>
        <entry>
          <key>font-size</key>
          <value>20px</value>
        </entry>
      </style>
      <width>704.3400268554688</width>
    </labels>
    <labels>
      <id>1625ecba-15a0-350d-0000-000000000000</id>
      <parentGroupId>46f95fe5-3024-31d8-0000-000000000000</parentGroupId>
      <position>
        <x>9.156633377075195</x>
        <y>578.0346984863281</y>
      </position>
      <height>239.05677795410156</height>
      <label>1. Nifi ingest CSV events with schema identifier embedded
2. Nifi converts them to CSV records using schema fetched from HWX Schema Registry.
3. These CSV records are then enriched and converted into Avro Records 
and pushed into a Kafka Topic. 
 
The schema associated with the Avro objects is retrieved from the 
HWX Schema Registry based on the schema registered for the Kafka topic.
 
In this approach events associated with the the same schema are 
grouped together as Process Records into a single File and each of those
process records are pushed into Kafka Topic in Avro format


</label>
      <style>
        <entry>
          <key>font-size</key>
          <value>16px</value>
        </entry>
      </style>
      <width>696.9364013671875</width>
    </labels>
    <labels>
      <id>7676421b-9a45-361c-0000-000000000000</id>
      <parentGroupId>46f95fe5-3024-31d8-0000-000000000000</parentGroupId>
      <position>
        <x>4.578291893005371</x>
        <y>1095.1533508300781</y>
      </position>
      <height>239.05677795410156</height>
      <label>1. Nifi ingest CSV events with schema identifier embedded
2. Nifi converts them to CSV records using schema fetched from HWX Schema Registry.
3. These CSV records are then enriched and converted into Avro Records 
and pushed into a Kafka Topic. 
 
The schema associated with the Avro objects is retrieved from the 
HWX Schema Registry based on the schema registered for the Kafka topic.
 
In this approach, each event is converted into a single CSV Process Record
and then Nifi uses SQL to filter different events to different Kafka topics. 
Each of these CSV events are converted into Avro before being pushed
into Kafka topic

</label>
      <style>
        <entry>
          <key>font-size</key>
          <value>16px</value>
        </entry>
      </style>
      <width>696.9364013671875</width>
    </labels>
    <processGroups>
      <id>bb3b1ddd-c17e-31d0-0000-000000000000</id>
      <parentGroupId>46f95fe5-3024-31d8-0000-000000000000</parentGroupId>
      <position>
        <x>115.07784223665635</x>
        <y>347.1381960471426</y>
      </position>
      <comments></comments>
      <contents>
        <connections>
          <id>ae81fcf7-e6f3-334f-0000-000000000000</id>
          <parentGroupId>bb3b1ddd-c17e-31d0-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <destination>
            <groupId>bb3b1ddd-c17e-31d0-0000-000000000000</groupId>
            <id>a75380ca-45d5-3c8c-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>success</selectedRelationships>
          <source>
            <groupId>bb3b1ddd-c17e-31d0-0000-000000000000</groupId>
            <id>c0f8bd8f-8d93-399b-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>087ce650-4dfa-3bcd-0000-000000000000</id>
          <parentGroupId>bb3b1ddd-c17e-31d0-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <destination>
            <groupId>bb3b1ddd-c17e-31d0-0000-000000000000</groupId>
            <id>a75380ca-45d5-3c8c-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>success</selectedRelationships>
          <source>
            <groupId>bb3b1ddd-c17e-31d0-0000-000000000000</groupId>
            <id>cb08e2df-0a8e-399a-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>57637d7e-87df-3c8f-0000-000000000000</id>
          <parentGroupId>bb3b1ddd-c17e-31d0-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <destination>
            <groupId>bb3b1ddd-c17e-31d0-0000-000000000000</groupId>
            <id>f406d360-e755-3010-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <source>
            <groupId>b31f1e34-8077-3f5c-0000-000000000000</groupId>
            <id>50944a49-7eff-3e21-0000-000000000000</id>
            <type>OUTPUT_PORT</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>6b16a9fb-5ab8-3d15-0000-000000000000</id>
          <parentGroupId>bb3b1ddd-c17e-31d0-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <bends>
            <x>1211.0447148908875</x>
            <y>463.467917062308</y>
          </bends>
          <bends>
            <x>1316.6106023420593</x>
            <y>555.8380743041293</y>
          </bends>
          <destination>
            <groupId>bb3b1ddd-c17e-31d0-0000-000000000000</groupId>
            <id>cb08e2df-0a8e-399a-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <source>
            <groupId>b31f1e34-8077-3f5c-0000-000000000000</groupId>
            <id>fa5f7092-b79e-309a-0000-000000000000</id>
            <type>OUTPUT_PORT</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>7c004065-e0ed-3789-0000-000000000000</id>
          <parentGroupId>bb3b1ddd-c17e-31d0-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <destination>
            <groupId>bb3b1ddd-c17e-31d0-0000-000000000000</groupId>
            <id>c0f8bd8f-8d93-399b-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>success</selectedRelationships>
          <source>
            <groupId>bb3b1ddd-c17e-31d0-0000-000000000000</groupId>
            <id>f406d360-e755-3010-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <labels>
          <id>be37c051-9886-3a76-0000-000000000000</id>
          <parentGroupId>bb3b1ddd-c17e-31d0-0000-000000000000</parentGroupId>
          <position>
            <x>412.0000125979997</x>
            <y>663.1692298309256</y>
          </position>
          <height>44.64159393310547</height>
          <label>Enrich the Data</label>
          <style>
            <entry>
              <key>font-size</key>
              <value>24px</value>
            </entry>
          </style>
          <width>196.63572692871094</width>
        </labels>
        <labels>
          <id>25ab7b90-ddb5-36b7-0000-000000000000</id>
          <parentGroupId>bb3b1ddd-c17e-31d0-0000-000000000000</parentGroupId>
          <position>
            <x>181.81319394354136</x>
            <y>955.6125100090098</y>
          </position>
          <height>128.3921356201172</height>
          <label>Serialize CSV into Avro by fetching  Schema 
associated with kafka topic from the HWX Schema REgistry.
</label>
          <style>
            <entry>
              <key>font-size</key>
              <value>24px</value>
            </entry>
          </style>
          <width>673.6242065429688</width>
        </labels>
        <labels>
          <id>67a48a07-931d-3a43-0000-000000000000</id>
          <parentGroupId>bb3b1ddd-c17e-31d0-0000-000000000000</parentGroupId>
          <position>
            <x>560.8052965336119</x>
            <y>301.78472233006846</y>
          </position>
          <height>57.396385192871094</height>
          <label>Go Get the Data</label>
          <style>
            <entry>
              <key>font-size</key>
              <value>24px</value>
            </entry>
          </style>
          <width>221.0823516845703</width>
        </labels>
        <processGroups>
          <id>b31f1e34-8077-3f5c-0000-000000000000</id>
          <parentGroupId>bb3b1ddd-c17e-31d0-0000-000000000000</parentGroupId>
          <position>
            <x>900.6595677961609</x>
            <y>250.00100765373867</y>
          </position>
          <comments></comments>
          <contents>
            <connections>
              <id>e3c6dacd-913f-30de-0000-000000000000</id>
              <parentGroupId>b31f1e34-8077-3f5c-0000-000000000000</parentGroupId>
              <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
              <backPressureObjectThreshold>10000</backPressureObjectThreshold>
              <destination>
                <groupId>b31f1e34-8077-3f5c-0000-000000000000</groupId>
                <id>50944a49-7eff-3e21-0000-000000000000</id>
                <type>OUTPUT_PORT</type>
              </destination>
              <flowFileExpiration>0 sec</flowFileExpiration>
              <labelIndex>1</labelIndex>
              <name></name>
              <selectedRelationships>success</selectedRelationships>
              <source>
                <groupId>b31f1e34-8077-3f5c-0000-000000000000</groupId>
                <id>3d68e1f1-48a5-3cb5-0000-000000000000</id>
                <type>PROCESSOR</type>
              </source>
              <zIndex>0</zIndex>
            </connections>
            <connections>
              <id>6941a582-654a-3646-0000-000000000000</id>
              <parentGroupId>b31f1e34-8077-3f5c-0000-000000000000</parentGroupId>
              <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
              <backPressureObjectThreshold>10000</backPressureObjectThreshold>
              <destination>
                <groupId>b31f1e34-8077-3f5c-0000-000000000000</groupId>
                <id>fa5f7092-b79e-309a-0000-000000000000</id>
                <type>OUTPUT_PORT</type>
              </destination>
              <flowFileExpiration>0 sec</flowFileExpiration>
              <labelIndex>1</labelIndex>
              <name></name>
              <selectedRelationships>success</selectedRelationships>
              <source>
                <groupId>b31f1e34-8077-3f5c-0000-000000000000</groupId>
                <id>bf8f269e-4d89-3ce1-0000-000000000000</id>
                <type>PROCESSOR</type>
              </source>
              <zIndex>0</zIndex>
            </connections>
            <labels>
              <id>3c6b32fa-8889-3536-0000-000000000000</id>
              <parentGroupId>b31f1e34-8077-3f5c-0000-000000000000</parentGroupId>
              <position>
                <x>525.4642227588656</x>
                <y>389.4875654679138</y>
              </position>
              <height>214.21615600585938</height>
              <label>Upstream app is sending avro objects serialized 
via HWX Schema REgistry into kafka topics

Use ConsumeKafkaRecord to read Avro and convert to CSV by 
doing the following:
1. Get schemaId from beginning bytes of serialized AVro object
2. Use the schemaId to lookup the schema
3. Convert Avro object to CSV Records using the schema
</label>
              <style>
                <entry>
                  <key>font-size</key>
                  <value>22px</value>
                </entry>
              </style>
              <width>647.0797119140625</width>
            </labels>
            <outputPorts>
              <id>fa5f7092-b79e-309a-0000-000000000000</id>
              <parentGroupId>b31f1e34-8077-3f5c-0000-000000000000</parentGroupId>
              <position>
                <x>907.7151873479033</x>
                <y>911.8526619634938</y>
              </position>
              <comments></comments>
              <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
              <name>Truck Speed Events</name>
              <state>STOPPED</state>
              <type>OUTPUT_PORT</type>
            </outputPorts>
            <outputPorts>
              <id>50944a49-7eff-3e21-0000-000000000000</id>
              <parentGroupId>b31f1e34-8077-3f5c-0000-000000000000</parentGroupId>
              <position>
                <x>490.72727230884084</x>
                <y>908.2175911627126</y>
              </position>
              <comments></comments>
              <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
              <name>Truck Geo Events</name>
              <state>STOPPED</state>
              <type>OUTPUT_PORT</type>
            </outputPorts>
            <processors>
              <id>bf8f269e-4d89-3ce1-0000-000000000000</id>
              <parentGroupId>b31f1e34-8077-3f5c-0000-000000000000</parentGroupId>
              <position>
                <x>844.0467531833801</x>
                <y>654.1467673252282</y>
              </position>
              <bundle>
                <artifact>nifi-kafka-0-10-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.2.0.3.0.0.0-264</version>
              </bundle>
              <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                  <entry>
                    <key>bootstrap.servers</key>
                    <value>
                      <name>bootstrap.servers</name>
                    </value>
                  </entry>
                  <entry>
                    <key>topic</key>
                    <value>
                      <name>topic</name>
                    </value>
                  </entry>
                  <entry>
                    <key>topic_type</key>
                    <value>
                      <name>topic_type</name>
                    </value>
                  </entry>
                  <entry>
                    <key>record-reader</key>
                    <value>
                      <identifiesControllerService>org.apache.nifi.serialization.RecordReaderFactory</identifiesControllerService>
                      <name>record-reader</name>
                    </value>
                  </entry>
                  <entry>
                    <key>record-writer</key>
                    <value>
                      <identifiesControllerService>org.apache.nifi.serialization.RecordSetWriterFactory</identifiesControllerService>
                      <name>record-writer</name>
                    </value>
                  </entry>
                  <entry>
                    <key>security.protocol</key>
                    <value>
                      <name>security.protocol</name>
                    </value>
                  </entry>
                  <entry>
                    <key>sasl.kerberos.service.name</key>
                    <value>
                      <name>sasl.kerberos.service.name</name>
                    </value>
                  </entry>
                  <entry>
                    <key>sasl.kerberos.principal</key>
                    <value>
                      <name>sasl.kerberos.principal</name>
                    </value>
                  </entry>
                  <entry>
                    <key>sasl.kerberos.keytab</key>
                    <value>
                      <name>sasl.kerberos.keytab</name>
                    </value>
                  </entry>
                  <entry>
                    <key>ssl.context.service</key>
                    <value>
                      <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
                      <name>ssl.context.service</name>
                    </value>
                  </entry>
                  <entry>
                    <key>group.id</key>
                    <value>
                      <name>group.id</name>
                    </value>
                  </entry>
                  <entry>
                    <key>auto.offset.reset</key>
                    <value>
                      <name>auto.offset.reset</name>
                    </value>
                  </entry>
                  <entry>
                    <key>max.poll.records</key>
                    <value>
                      <name>max.poll.records</name>
                    </value>
                  </entry>
                  <entry>
                    <key>max-uncommit-offset-wait</key>
                    <value>
                      <name>max-uncommit-offset-wait</name>
                    </value>
                  </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                  <entry>
                    <key>bootstrap.servers</key>
                    <value>tp2-hdf6.field.hortonworks.com:6667</value>
                  </entry>
                  <entry>
                    <key>topic</key>
                    <value>raw-truck_speed_events_avro</value>
                  </entry>
                  <entry>
                    <key>topic_type</key>
                    <value>names</value>
                  </entry>
                  <entry>
                    <key>record-reader</key>
                    <value>94e20c6a-c1f6-3919-0000-000000000000</value>
                  </entry>
                  <entry>
                    <key>record-writer</key>
                    <value>7921e345-e880-3616-0000-000000000000</value>
                  </entry>
                  <entry>
                    <key>security.protocol</key>
                    <value>PLAINTEXT</value>
                  </entry>
                  <entry>
                    <key>sasl.kerberos.service.name</key>
                  </entry>
                  <entry>
                    <key>sasl.kerberos.principal</key>
                  </entry>
                  <entry>
                    <key>sasl.kerberos.keytab</key>
                  </entry>
                  <entry>
                    <key>ssl.context.service</key>
                  </entry>
                  <entry>
                    <key>group.id</key>
                    <value>1</value>
                  </entry>
                  <entry>
                    <key>auto.offset.reset</key>
                    <value>latest</value>
                  </entry>
                  <entry>
                    <key>max.poll.records</key>
                    <value>10000</value>
                  </entry>
                  <entry>
                    <key>max-uncommit-offset-wait</key>
                    <value>1 secs</value>
                  </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
              </config>
              <name>Truck Speed Kafka Stream</name>
              <relationships>
                <autoTerminate>true</autoTerminate>
                <name>parse.failure</name>
              </relationships>
              <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
              </relationships>
              <style></style>
              <type>org.apache.nifi.processors.kafka.pubsub.ConsumeKafkaRecord_0_10</type>
            </processors>
            <processors>
              <id>3d68e1f1-48a5-3cb5-0000-000000000000</id>
              <parentGroupId>b31f1e34-8077-3f5c-0000-000000000000</parentGroupId>
              <position>
                <x>440.0856325779114</x>
                <y>653.1126486728845</y>
              </position>
              <bundle>
                <artifact>nifi-kafka-0-10-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.2.0.3.0.0.0-264</version>
              </bundle>
              <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                  <entry>
                    <key>bootstrap.servers</key>
                    <value>
                      <name>bootstrap.servers</name>
                    </value>
                  </entry>
                  <entry>
                    <key>topic</key>
                    <value>
                      <name>topic</name>
                    </value>
                  </entry>
                  <entry>
                    <key>topic_type</key>
                    <value>
                      <name>topic_type</name>
                    </value>
                  </entry>
                  <entry>
                    <key>record-reader</key>
                    <value>
                      <identifiesControllerService>org.apache.nifi.serialization.RecordReaderFactory</identifiesControllerService>
                      <name>record-reader</name>
                    </value>
                  </entry>
                  <entry>
                    <key>record-writer</key>
                    <value>
                      <identifiesControllerService>org.apache.nifi.serialization.RecordSetWriterFactory</identifiesControllerService>
                      <name>record-writer</name>
                    </value>
                  </entry>
                  <entry>
                    <key>security.protocol</key>
                    <value>
                      <name>security.protocol</name>
                    </value>
                  </entry>
                  <entry>
                    <key>sasl.kerberos.service.name</key>
                    <value>
                      <name>sasl.kerberos.service.name</name>
                    </value>
                  </entry>
                  <entry>
                    <key>sasl.kerberos.principal</key>
                    <value>
                      <name>sasl.kerberos.principal</name>
                    </value>
                  </entry>
                  <entry>
                    <key>sasl.kerberos.keytab</key>
                    <value>
                      <name>sasl.kerberos.keytab</name>
                    </value>
                  </entry>
                  <entry>
                    <key>ssl.context.service</key>
                    <value>
                      <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
                      <name>ssl.context.service</name>
                    </value>
                  </entry>
                  <entry>
                    <key>group.id</key>
                    <value>
                      <name>group.id</name>
                    </value>
                  </entry>
                  <entry>
                    <key>auto.offset.reset</key>
                    <value>
                      <name>auto.offset.reset</name>
                    </value>
                  </entry>
                  <entry>
                    <key>max.poll.records</key>
                    <value>
                      <name>max.poll.records</name>
                    </value>
                  </entry>
                  <entry>
                    <key>max-uncommit-offset-wait</key>
                    <value>
                      <name>max-uncommit-offset-wait</name>
                    </value>
                  </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                  <entry>
                    <key>bootstrap.servers</key>
                    <value>tp2-hdf6.field.hortonworks.com:6667</value>
                  </entry>
                  <entry>
                    <key>topic</key>
                    <value>raw-truck_events_avro</value>
                  </entry>
                  <entry>
                    <key>topic_type</key>
                    <value>names</value>
                  </entry>
                  <entry>
                    <key>record-reader</key>
                    <value>94e20c6a-c1f6-3919-0000-000000000000</value>
                  </entry>
                  <entry>
                    <key>record-writer</key>
                    <value>7921e345-e880-3616-0000-000000000000</value>
                  </entry>
                  <entry>
                    <key>security.protocol</key>
                    <value>PLAINTEXT</value>
                  </entry>
                  <entry>
                    <key>sasl.kerberos.service.name</key>
                  </entry>
                  <entry>
                    <key>sasl.kerberos.principal</key>
                  </entry>
                  <entry>
                    <key>sasl.kerberos.keytab</key>
                  </entry>
                  <entry>
                    <key>ssl.context.service</key>
                  </entry>
                  <entry>
                    <key>group.id</key>
                    <value>1</value>
                  </entry>
                  <entry>
                    <key>auto.offset.reset</key>
                    <value>latest</value>
                  </entry>
                  <entry>
                    <key>max.poll.records</key>
                    <value>10000</value>
                  </entry>
                  <entry>
                    <key>max-uncommit-offset-wait</key>
                    <value>1 secs</value>
                  </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
              </config>
              <name>Truck Geo Kafka Stream</name>
              <relationships>
                <autoTerminate>true</autoTerminate>
                <name>parse.failure</name>
              </relationships>
              <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
              </relationships>
              <style></style>
              <type>org.apache.nifi.processors.kafka.pubsub.ConsumeKafkaRecord_0_10</type>
            </processors>
          </contents>
          <name>Acquire Events</name>
        </processGroups>
        <processors>
          <id>a75380ca-45d5-3c8c-0000-000000000000</id>
          <parentGroupId>bb3b1ddd-c17e-31d0-0000-000000000000</parentGroupId>
          <position>
            <x>909.1922793677413</x>
            <y>950.0607574216406</y>
          </position>
          <bundle>
            <artifact>nifi-kafka-0-10-nar</artifact>
            <group>org.apache.nifi</group>
            <version>1.2.0.3.0.0.0-264</version>
          </bundle>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>bootstrap.servers</key>
                <value>
                  <name>bootstrap.servers</name>
                </value>
              </entry>
              <entry>
                <key>topic</key>
                <value>
                  <name>topic</name>
                </value>
              </entry>
              <entry>
                <key>record-reader</key>
                <value>
                  <identifiesControllerService>org.apache.nifi.serialization.RecordReaderFactory</identifiesControllerService>
                  <name>record-reader</name>
                </value>
              </entry>
              <entry>
                <key>record-writer</key>
                <value>
                  <identifiesControllerService>org.apache.nifi.serialization.RecordSetWriterFactory</identifiesControllerService>
                  <name>record-writer</name>
                </value>
              </entry>
              <entry>
                <key>security.protocol</key>
                <value>
                  <name>security.protocol</name>
                </value>
              </entry>
              <entry>
                <key>sasl.kerberos.service.name</key>
                <value>
                  <name>sasl.kerberos.service.name</name>
                </value>
              </entry>
              <entry>
                <key>sasl.kerberos.principal</key>
                <value>
                  <name>sasl.kerberos.principal</name>
                </value>
              </entry>
              <entry>
                <key>sasl.kerberos.keytab</key>
                <value>
                  <name>sasl.kerberos.keytab</name>
                </value>
              </entry>
              <entry>
                <key>ssl.context.service</key>
                <value>
                  <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
                  <name>ssl.context.service</name>
                </value>
              </entry>
              <entry>
                <key>acks</key>
                <value>
                  <name>acks</name>
                </value>
              </entry>
              <entry>
                <key>message-key-field</key>
                <value>
                  <name>message-key-field</name>
                </value>
              </entry>
              <entry>
                <key>max.request.size</key>
                <value>
                  <name>max.request.size</name>
                </value>
              </entry>
              <entry>
                <key>ack.wait.time</key>
                <value>
                  <name>ack.wait.time</name>
                </value>
              </entry>
              <entry>
                <key>max.block.ms</key>
                <value>
                  <name>max.block.ms</name>
                </value>
              </entry>
              <entry>
                <key>partitioner.class</key>
                <value>
                  <name>partitioner.class</name>
                </value>
              </entry>
              <entry>
                <key>compression.type</key>
                <value>
                  <name>compression.type</name>
                </value>
              </entry>
            </descriptors>
            <executionNode>ALL</executionNode>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>bootstrap.servers</key>
                <value>tp2-hdf6.field.hortonworks.com:6667</value>
              </entry>
              <entry>
                <key>topic</key>
                <value>${kafka.topic}</value>
              </entry>
              <entry>
                <key>record-reader</key>
                <value>ac8788ce-5f50-37fc-0000-000000000000</value>
              </entry>
              <entry>
                <key>record-writer</key>
                <value>8b3247f0-d86b-3002-0000-000000000000</value>
              </entry>
              <entry>
                <key>security.protocol</key>
                <value>PLAINTEXT</value>
              </entry>
              <entry>
                <key>sasl.kerberos.service.name</key>
              </entry>
              <entry>
                <key>sasl.kerberos.principal</key>
              </entry>
              <entry>
                <key>sasl.kerberos.keytab</key>
              </entry>
              <entry>
                <key>ssl.context.service</key>
              </entry>
              <entry>
                <key>acks</key>
                <value>0</value>
              </entry>
              <entry>
                <key>message-key-field</key>
              </entry>
              <entry>
                <key>max.request.size</key>
                <value>1 MB</value>
              </entry>
              <entry>
                <key>ack.wait.time</key>
                <value>5 secs</value>
              </entry>
              <entry>
                <key>max.block.ms</key>
                <value>5 sec</value>
              </entry>
              <entry>
                <key>partitioner.class</key>
                <value>org.apache.kafka.clients.producer.internals.DefaultPartitioner</value>
              </entry>
              <entry>
                <key>compression.type</key>
                <value>none</value>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>Publish Events to Truck Stream Topics</name>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>failure</name>
          </relationships>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>success</name>
          </relationships>
          <style></style>
          <type>org.apache.nifi.processors.kafka.pubsub.PublishKafkaRecord_0_10</type>
        </processors>
        <processors>
          <id>c0f8bd8f-8d93-399b-0000-000000000000</id>
          <parentGroupId>bb3b1ddd-c17e-31d0-0000-000000000000</parentGroupId>
          <position>
            <x>665.8958818317703</x>
            <y>713.3622010260376</y>
          </position>
          <bundle>
            <artifact>nifi-update-attribute-nar</artifact>
            <group>org.apache.nifi</group>
            <version>1.2.0.3.0.0.0-264</version>
          </bundle>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>Delete Attributes Expression</key>
                <value>
                  <name>Delete Attributes Expression</name>
                </value>
              </entry>
              <entry>
                <key>Store State</key>
                <value>
                  <name>Store State</name>
                </value>
              </entry>
              <entry>
                <key>Stateful Variables Initial Value</key>
                <value>
                  <name>Stateful Variables Initial Value</name>
                </value>
              </entry>
              <entry>
                <key>kafka.topic</key>
                <value>
                  <name>kafka.topic</name>
                </value>
              </entry>
              <entry>
                <key>schema.identifier</key>
                <value>
                  <name>schema.identifier</name>
                </value>
              </entry>
              <entry>
                <key>schema.protocol.version</key>
                <value>
                  <name>schema.protocol.version</name>
                </value>
              </entry>
              <entry>
                <key>schema.version</key>
                <value>
                  <name>schema.version</name>
                </value>
              </entry>
            </descriptors>
            <executionNode>ALL</executionNode>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>Delete Attributes Expression</key>
              </entry>
              <entry>
                <key>Store State</key>
                <value>Do not store state</value>
              </entry>
              <entry>
                <key>Stateful Variables Initial Value</key>
              </entry>
              <entry>
                <key>kafka.topic</key>
                <value>truck_events_avro</value>
              </entry>
              <entry>
                <key>schema.identifier</key>
                <value>3</value>
              </entry>
              <entry>
                <key>schema.protocol.version</key>
                <value>1</value>
              </entry>
              <entry>
                <key>schema.version</key>
                <value>1</value>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>Specify Schema and Destination</name>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>success</name>
          </relationships>
          <style></style>
          <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
        </processors>
        <processors>
          <id>cb08e2df-0a8e-399a-0000-000000000000</id>
          <parentGroupId>bb3b1ddd-c17e-31d0-0000-000000000000</parentGroupId>
          <position>
            <x>1145.8907857649033</x>
            <y>710.8879825131966</y>
          </position>
          <bundle>
            <artifact>nifi-update-attribute-nar</artifact>
            <group>org.apache.nifi</group>
            <version>1.2.0.3.0.0.0-264</version>
          </bundle>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>Delete Attributes Expression</key>
                <value>
                  <name>Delete Attributes Expression</name>
                </value>
              </entry>
              <entry>
                <key>Store State</key>
                <value>
                  <name>Store State</name>
                </value>
              </entry>
              <entry>
                <key>Stateful Variables Initial Value</key>
                <value>
                  <name>Stateful Variables Initial Value</name>
                </value>
              </entry>
              <entry>
                <key>kafka.topic</key>
                <value>
                  <name>kafka.topic</name>
                </value>
              </entry>
              <entry>
                <key>schema.identifier</key>
                <value>
                  <name>schema.identifier</name>
                </value>
              </entry>
              <entry>
                <key>schema.protocol.version</key>
                <value>
                  <name>schema.protocol.version</name>
                </value>
              </entry>
              <entry>
                <key>schema.version</key>
                <value>
                  <name>schema.version</name>
                </value>
              </entry>
            </descriptors>
            <executionNode>ALL</executionNode>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>Delete Attributes Expression</key>
              </entry>
              <entry>
                <key>Store State</key>
                <value>Do not store state</value>
              </entry>
              <entry>
                <key>Stateful Variables Initial Value</key>
              </entry>
              <entry>
                <key>kafka.topic</key>
                <value>truck_speed_events_avro</value>
              </entry>
              <entry>
                <key>schema.identifier</key>
                <value>4</value>
              </entry>
              <entry>
                <key>schema.protocol.version</key>
                <value>1</value>
              </entry>
              <entry>
                <key>schema.version</key>
                <value>1</value>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>Specify Schema and Destination</name>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>success</name>
          </relationships>
          <style></style>
          <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
        </processors>
        <processors>
          <id>f406d360-e755-3010-0000-000000000000</id>
          <parentGroupId>bb3b1ddd-c17e-31d0-0000-000000000000</parentGroupId>
          <position>
            <x>666.3000934047266</x>
            <y>530.9509798486299</y>
          </position>
          <bundle>
            <artifact>nifi-scripting-nar</artifact>
            <group>org.apache.nifi</group>
            <version>1.2.0.3.0.0.0-264</version>
          </bundle>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>Script Engine</key>
                <value>
                  <name>Script Engine</name>
                </value>
              </entry>
              <entry>
                <key>Script File</key>
                <value>
                  <name>Script File</name>
                </value>
              </entry>
              <entry>
                <key>Script Body</key>
                <value>
                  <name>Script Body</name>
                </value>
              </entry>
              <entry>
                <key>Module Directory</key>
                <value>
                  <name>Module Directory</name>
                </value>
              </entry>
            </descriptors>
            <executionNode>ALL</executionNode>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>Script Engine</key>
                <value>Groovy</value>
              </entry>
              <entry>
                <key>Script File</key>
              </entry>
              <entry>
                <key>Script Body</key>
                <value>import java.nio.charset.StandardCharsets


def flowFile = session.get()
if(!flowFile) return

lat =  flowFile.getAttribute('latitudeForGeoCodeEnrichment')
lng =  flowFile.getAttribute('longitudeForGeoCodeEnrichment')


flowFile = session.write(flowFile, {inputStream, outputStream -&gt;
   inputStream.eachLine { line -&gt;
      fmt_addr = "2106 Morton Ave, Des Moines, IA 50317, USA\n"
      outputStream.write("$line$fmt_addr".toString().getBytes(StandardCharsets.UTF_8))
   }
} as StreamCallback)

session.transfer(flowFile, REL_SUCCESS)</value>
              </entry>
              <entry>
                <key>Module Directory</key>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>GeoCode Enrichment</name>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>failure</name>
          </relationships>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>success</name>
          </relationships>
          <style></style>
          <type>org.apache.nifi.processors.script.ExecuteScript</type>
        </processors>
      </contents>
      <name>Use Case 1</name>
    </processGroups>
    <processGroups>
      <id>30b500a2-62a9-308c-0000-000000000000</id>
      <parentGroupId>46f95fe5-3024-31d8-0000-000000000000</parentGroupId>
      <position>
        <x>144.85354566683213</x>
        <y>850.1154909690176</y>
      </position>
      <comments></comments>
      <contents>
        <connections>
          <id>a6d40c0a-182a-3e2b-0000-000000000000</id>
          <parentGroupId>30b500a2-62a9-308c-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <destination>
            <groupId>30b500a2-62a9-308c-0000-000000000000</groupId>
            <id>174f15fd-df44-3cd8-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <source>
            <groupId>cfb52fe3-b649-3142-0000-000000000000</groupId>
            <id>2dcc4c5b-5558-3e5b-0000-000000000000</id>
            <type>OUTPUT_PORT</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>a752ab9f-5889-34c9-0000-000000000000</id>
          <parentGroupId>30b500a2-62a9-308c-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <destination>
            <groupId>30b500a2-62a9-308c-0000-000000000000</groupId>
            <id>809cae75-faa7-32be-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>success</selectedRelationships>
          <source>
            <groupId>30b500a2-62a9-308c-0000-000000000000</groupId>
            <id>f8f0e467-0d74-34d6-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>b42a4978-4fc2-32e7-0000-000000000000</id>
          <parentGroupId>30b500a2-62a9-308c-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <destination>
            <groupId>30b500a2-62a9-308c-0000-000000000000</groupId>
            <id>cb2224d0-f640-3fc6-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>success</selectedRelationships>
          <source>
            <groupId>30b500a2-62a9-308c-0000-000000000000</groupId>
            <id>174f15fd-df44-3cd8-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>57d8fe30-8adb-38a7-0000-000000000000</id>
          <parentGroupId>30b500a2-62a9-308c-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <destination>
            <groupId>30b500a2-62a9-308c-0000-000000000000</groupId>
            <id>809cae75-faa7-32be-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>success</selectedRelationships>
          <source>
            <groupId>30b500a2-62a9-308c-0000-000000000000</groupId>
            <id>cb2224d0-f640-3fc6-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>6493cc58-5908-388a-0000-000000000000</id>
          <parentGroupId>30b500a2-62a9-308c-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <bends>
            <x>1211.0447148908875</x>
            <y>463.467917062308</y>
          </bends>
          <bends>
            <x>1316.6106023420593</x>
            <y>555.8380743041293</y>
          </bends>
          <destination>
            <groupId>30b500a2-62a9-308c-0000-000000000000</groupId>
            <id>f8f0e467-0d74-34d6-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <source>
            <groupId>cfb52fe3-b649-3142-0000-000000000000</groupId>
            <id>7966d1ff-b69e-3c1d-0000-000000000000</id>
            <type>OUTPUT_PORT</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <labels>
          <id>e0b339f9-a9be-3b63-0000-000000000000</id>
          <parentGroupId>30b500a2-62a9-308c-0000-000000000000</parentGroupId>
          <position>
            <x>181.81319394354136</x>
            <y>955.6125100090098</y>
          </position>
          <height>128.3921356201172</height>
          <label>Serialize CSV into Avro by fetching  Schema 
associated with kafka topic from the HWX Schema REgistry.
</label>
          <style>
            <entry>
              <key>font-size</key>
              <value>24px</value>
            </entry>
          </style>
          <width>673.6242065429688</width>
        </labels>
        <labels>
          <id>5b016e50-17e8-35fe-0000-000000000000</id>
          <parentGroupId>30b500a2-62a9-308c-0000-000000000000</parentGroupId>
          <position>
            <x>412.0000125979997</x>
            <y>663.1692298309256</y>
          </position>
          <height>44.64159393310547</height>
          <label>Enrich the Data</label>
          <style>
            <entry>
              <key>font-size</key>
              <value>24px</value>
            </entry>
          </style>
          <width>196.63572692871094</width>
        </labels>
        <labels>
          <id>73d2ae53-a5a2-3f76-0000-000000000000</id>
          <parentGroupId>30b500a2-62a9-308c-0000-000000000000</parentGroupId>
          <position>
            <x>560.8052965336119</x>
            <y>301.78472233006846</y>
          </position>
          <height>57.396385192871094</height>
          <label>Go Get the Data</label>
          <style>
            <entry>
              <key>font-size</key>
              <value>24px</value>
            </entry>
          </style>
          <width>221.0823516845703</width>
        </labels>
        <processGroups>
          <id>cfb52fe3-b649-3142-0000-000000000000</id>
          <parentGroupId>30b500a2-62a9-308c-0000-000000000000</parentGroupId>
          <position>
            <x>900.6595677961609</x>
            <y>250.00100765373867</y>
          </position>
          <comments></comments>
          <contents>
            <connections>
              <id>a5ea6189-7423-3f32-0000-000000000000</id>
              <parentGroupId>cfb52fe3-b649-3142-0000-000000000000</parentGroupId>
              <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
              <backPressureObjectThreshold>10000</backPressureObjectThreshold>
              <destination>
                <groupId>cfb52fe3-b649-3142-0000-000000000000</groupId>
                <id>fc216701-38ab-3f1a-0000-000000000000</id>
                <type>PROCESSOR</type>
              </destination>
              <flowFileExpiration>0 sec</flowFileExpiration>
              <labelIndex>1</labelIndex>
              <name></name>
              <selectedRelationships>all</selectedRelationships>
              <source>
                <groupId>cfb52fe3-b649-3142-0000-000000000000</groupId>
                <id>ec03f876-0789-31cf-0000-000000000000</id>
                <type>PROCESSOR</type>
              </source>
              <zIndex>0</zIndex>
            </connections>
            <connections>
              <id>bef7f915-7ceb-3809-0000-000000000000</id>
              <parentGroupId>cfb52fe3-b649-3142-0000-000000000000</parentGroupId>
              <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
              <backPressureObjectThreshold>10000</backPressureObjectThreshold>
              <destination>
                <groupId>cfb52fe3-b649-3142-0000-000000000000</groupId>
                <id>2dcc4c5b-5558-3e5b-0000-000000000000</id>
                <type>OUTPUT_PORT</type>
              </destination>
              <flowFileExpiration>0 sec</flowFileExpiration>
              <labelIndex>1</labelIndex>
              <name></name>
              <selectedRelationships>truck_geo_event</selectedRelationships>
              <source>
                <groupId>cfb52fe3-b649-3142-0000-000000000000</groupId>
                <id>d1201e79-0929-33d1-0000-000000000000</id>
                <type>PROCESSOR</type>
              </source>
              <zIndex>0</zIndex>
            </connections>
            <connections>
              <id>061c0cad-f2ed-330e-0000-000000000000</id>
              <parentGroupId>cfb52fe3-b649-3142-0000-000000000000</parentGroupId>
              <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
              <backPressureObjectThreshold>10000</backPressureObjectThreshold>
              <destination>
                <groupId>cfb52fe3-b649-3142-0000-000000000000</groupId>
                <id>2754490b-0d8b-3288-0000-000000000000</id>
                <type>PROCESSOR</type>
              </destination>
              <flowFileExpiration>0 sec</flowFileExpiration>
              <labelIndex>1</labelIndex>
              <name></name>
              <selectedRelationships>success</selectedRelationships>
              <source>
                <groupId>cfb52fe3-b649-3142-0000-000000000000</groupId>
                <id>cb42a3d1-0128-3888-0000-000000000000</id>
                <type>PROCESSOR</type>
              </source>
              <zIndex>0</zIndex>
            </connections>
            <connections>
              <id>2eca0d6a-a6b6-3347-0000-000000000000</id>
              <parentGroupId>cfb52fe3-b649-3142-0000-000000000000</parentGroupId>
              <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
              <backPressureObjectThreshold>10000</backPressureObjectThreshold>
              <destination>
                <groupId>cfb52fe3-b649-3142-0000-000000000000</groupId>
                <id>cb42a3d1-0128-3888-0000-000000000000</id>
                <type>PROCESSOR</type>
              </destination>
              <flowFileExpiration>0 sec</flowFileExpiration>
              <labelIndex>1</labelIndex>
              <name></name>
              <selectedRelationships>matched</selectedRelationships>
              <source>
                <groupId>cfb52fe3-b649-3142-0000-000000000000</groupId>
                <id>fc216701-38ab-3f1a-0000-000000000000</id>
                <type>PROCESSOR</type>
              </source>
              <zIndex>0</zIndex>
            </connections>
            <connections>
              <id>403814c6-d9c9-3665-0000-000000000000</id>
              <parentGroupId>cfb52fe3-b649-3142-0000-000000000000</parentGroupId>
              <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
              <backPressureObjectThreshold>10000</backPressureObjectThreshold>
              <destination>
                <groupId>cfb52fe3-b649-3142-0000-000000000000</groupId>
                <id>ec03f876-0789-31cf-0000-000000000000</id>
                <type>PROCESSOR</type>
              </destination>
              <flowFileExpiration>0 sec</flowFileExpiration>
              <labelIndex>1</labelIndex>
              <name></name>
              <selectedRelationships>success</selectedRelationships>
              <source>
                <groupId>cfb52fe3-b649-3142-0000-000000000000</groupId>
                <id>3fc0e8f9-bd18-37b8-0000-000000000000</id>
                <type>PROCESSOR</type>
              </source>
              <zIndex>0</zIndex>
            </connections>
            <connections>
              <id>5757052f-a5a9-3719-0000-000000000000</id>
              <parentGroupId>cfb52fe3-b649-3142-0000-000000000000</parentGroupId>
              <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
              <backPressureObjectThreshold>10000</backPressureObjectThreshold>
              <destination>
                <groupId>cfb52fe3-b649-3142-0000-000000000000</groupId>
                <id>d1201e79-0929-33d1-0000-000000000000</id>
                <type>PROCESSOR</type>
              </destination>
              <flowFileExpiration>0 sec</flowFileExpiration>
              <labelIndex>1</labelIndex>
              <name></name>
              <selectedRelationships>success</selectedRelationships>
              <source>
                <groupId>cfb52fe3-b649-3142-0000-000000000000</groupId>
                <id>2754490b-0d8b-3288-0000-000000000000</id>
                <type>PROCESSOR</type>
              </source>
              <zIndex>0</zIndex>
            </connections>
            <connections>
              <id>7bb7fb9f-af8a-39d5-0000-000000000000</id>
              <parentGroupId>cfb52fe3-b649-3142-0000-000000000000</parentGroupId>
              <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
              <backPressureObjectThreshold>10000</backPressureObjectThreshold>
              <destination>
                <groupId>cfb52fe3-b649-3142-0000-000000000000</groupId>
                <id>7966d1ff-b69e-3c1d-0000-000000000000</id>
                <type>OUTPUT_PORT</type>
              </destination>
              <flowFileExpiration>0 sec</flowFileExpiration>
              <labelIndex>1</labelIndex>
              <name></name>
              <selectedRelationships>truck_speed_event</selectedRelationships>
              <source>
                <groupId>cfb52fe3-b649-3142-0000-000000000000</groupId>
                <id>d1201e79-0929-33d1-0000-000000000000</id>
                <type>PROCESSOR</type>
              </source>
              <zIndex>0</zIndex>
            </connections>
            <outputPorts>
              <id>2dcc4c5b-5558-3e5b-0000-000000000000</id>
              <parentGroupId>cfb52fe3-b649-3142-0000-000000000000</parentGroupId>
              <position>
                <x>284.02124813891896</x>
                <y>1433.9699715338063</y>
              </position>
              <comments></comments>
              <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
              <name>Truck Geo Events</name>
              <state>STOPPED</state>
              <type>OUTPUT_PORT</type>
            </outputPorts>
            <outputPorts>
              <id>7966d1ff-b69e-3c1d-0000-000000000000</id>
              <parentGroupId>cfb52fe3-b649-3142-0000-000000000000</parentGroupId>
              <position>
                <x>621.6219866643096</x>
                <y>1433.1113289556813</y>
              </position>
              <comments></comments>
              <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
              <name>Truck Speed Events</name>
              <state>STOPPED</state>
              <type>OUTPUT_PORT</type>
            </outputPorts>
            <processors>
              <id>cb42a3d1-0128-3888-0000-000000000000</id>
              <parentGroupId>cfb52fe3-b649-3142-0000-000000000000</parentGroupId>
              <position>
                <x>409.0</x>
                <y>806.000015434651</y>
              </position>
              <bundle>
                <artifact>nifi-update-attribute-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.2.0.3.0.0.0-264</version>
              </bundle>
              <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                  <entry>
                    <key>Delete Attributes Expression</key>
                    <value>
                      <name>Delete Attributes Expression</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Store State</key>
                    <value>
                      <name>Store State</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Stateful Variables Initial Value</key>
                    <value>
                      <name>Stateful Variables Initial Value</name>
                    </value>
                  </entry>
                  <entry>
                    <key>schema.protocol.version</key>
                    <value>
                      <name>schema.protocol.version</name>
                    </value>
                  </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                  <entry>
                    <key>Delete Attributes Expression</key>
                  </entry>
                  <entry>
                    <key>Store State</key>
                    <value>Do not store state</value>
                  </entry>
                  <entry>
                    <key>Stateful Variables Initial Value</key>
                  </entry>
                  <entry>
                    <key>schema.protocol.version</key>
                    <value>1</value>
                  </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
              </config>
              <name>Add Schema Reference Protocol Version</name>
              <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
              </relationships>
              <style></style>
              <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
            </processors>
            <processors>
              <id>d1201e79-0929-33d1-0000-000000000000</id>
              <parentGroupId>cfb52fe3-b649-3142-0000-000000000000</parentGroupId>
              <position>
                <x>409.0</x>
                <y>1209.000015434651</y>
              </position>
              <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.2.0.3.0.0.0-264</version>
              </bundle>
              <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                  <entry>
                    <key>Routing Strategy</key>
                    <value>
                      <name>Routing Strategy</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Matching Strategy</key>
                    <value>
                      <name>Matching Strategy</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Character Set</key>
                    <value>
                      <name>Character Set</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Ignore Leading/Trailing Whitespace</key>
                    <value>
                      <name>Ignore Leading/Trailing Whitespace</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Ignore Case</key>
                    <value>
                      <name>Ignore Case</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Grouping Regular Expression</key>
                    <value>
                      <name>Grouping Regular Expression</name>
                    </value>
                  </entry>
                  <entry>
                    <key>truck_geo_event</key>
                    <value>
                      <name>truck_geo_event</name>
                    </value>
                  </entry>
                  <entry>
                    <key>truck_speed_event</key>
                    <value>
                      <name>truck_speed_event</name>
                    </value>
                  </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                  <entry>
                    <key>Routing Strategy</key>
                    <value>Route to each matching Property Name</value>
                  </entry>
                  <entry>
                    <key>Matching Strategy</key>
                    <value>Contains</value>
                  </entry>
                  <entry>
                    <key>Character Set</key>
                    <value>UTF-8</value>
                  </entry>
                  <entry>
                    <key>Ignore Leading/Trailing Whitespace</key>
                    <value>true</value>
                  </entry>
                  <entry>
                    <key>Ignore Case</key>
                    <value>false</value>
                  </entry>
                  <entry>
                    <key>Grouping Regular Expression</key>
                  </entry>
                  <entry>
                    <key>truck_geo_event</key>
                    <value>truck_geo_event</value>
                  </entry>
                  <entry>
                    <key>truck_speed_event</key>
                    <value>truck_speed_event</value>
                  </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
              </config>
              <name>Route By Telemetry Events</name>
              <relationships>
                <autoTerminate>true</autoTerminate>
                <name>original</name>
              </relationships>
              <relationships>
                <autoTerminate>false</autoTerminate>
                <name>truck_geo_event</name>
              </relationships>
              <relationships>
                <autoTerminate>false</autoTerminate>
                <name>truck_speed_event</name>
              </relationships>
              <relationships>
                <autoTerminate>true</autoTerminate>
                <name>unmatched</name>
              </relationships>
              <style></style>
              <type>org.apache.nifi.processors.standard.RouteText</type>
            </processors>
            <processors>
              <id>ec03f876-0789-31cf-0000-000000000000</id>
              <parentGroupId>cfb52fe3-b649-3142-0000-000000000000</parentGroupId>
              <position>
                <x>407.0</x>
                <y>408.000015434651</y>
              </position>
              <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.2.0.3.0.0.0-264</version>
              </bundle>
              <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                  <entry>
                    <key>Routing Strategy</key>
                    <value>
                      <name>Routing Strategy</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Matching Strategy</key>
                    <value>
                      <name>Matching Strategy</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Character Set</key>
                    <value>
                      <name>Character Set</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Ignore Leading/Trailing Whitespace</key>
                    <value>
                      <name>Ignore Leading/Trailing Whitespace</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Ignore Case</key>
                    <value>
                      <name>Ignore Case</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Grouping Regular Expression</key>
                    <value>
                      <name>Grouping Regular Expression</name>
                    </value>
                  </entry>
                  <entry>
                    <key>all</key>
                    <value>
                      <name>all</name>
                    </value>
                  </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>5 sec</penaltyDuration>
                <properties>
                  <entry>
                    <key>Routing Strategy</key>
                    <value>Route to each matching Property Name</value>
                  </entry>
                  <entry>
                    <key>Matching Strategy</key>
                    <value>Matches Regular Expression</value>
                  </entry>
                  <entry>
                    <key>Character Set</key>
                    <value>UTF-8</value>
                  </entry>
                  <entry>
                    <key>Ignore Leading/Trailing Whitespace</key>
                    <value>true</value>
                  </entry>
                  <entry>
                    <key>Ignore Case</key>
                    <value>false</value>
                  </entry>
                  <entry>
                    <key>Grouping Regular Expression</key>
                    <value>(.*?)\|.*?\|(.*?)\|.*</value>
                  </entry>
                  <entry>
                    <key>all</key>
                    <value>.*</value>
                  </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>1 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
              </config>
              <name>Group By Schema</name>
              <relationships>
                <autoTerminate>false</autoTerminate>
                <name>all</name>
              </relationships>
              <relationships>
                <autoTerminate>true</autoTerminate>
                <name>original</name>
              </relationships>
              <relationships>
                <autoTerminate>true</autoTerminate>
                <name>unmatched</name>
              </relationships>
              <style></style>
              <type>org.apache.nifi.processors.standard.RouteText</type>
            </processors>
            <processors>
              <id>fc216701-38ab-3f1a-0000-000000000000</id>
              <parentGroupId>cfb52fe3-b649-3142-0000-000000000000</parentGroupId>
              <position>
                <x>408.0</x>
                <y>604.000015434651</y>
              </position>
              <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.2.0.3.0.0.0-264</version>
              </bundle>
              <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                  <entry>
                    <key>Character Set</key>
                    <value>
                      <name>Character Set</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Maximum Buffer Size</key>
                    <value>
                      <name>Maximum Buffer Size</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Maximum Capture Group Length</key>
                    <value>
                      <name>Maximum Capture Group Length</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Enable Canonical Equivalence</key>
                    <value>
                      <name>Enable Canonical Equivalence</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Enable Case-insensitive Matching</key>
                    <value>
                      <name>Enable Case-insensitive Matching</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Permit Whitespace and Comments in Pattern</key>
                    <value>
                      <name>Permit Whitespace and Comments in Pattern</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Enable DOTALL Mode</key>
                    <value>
                      <name>Enable DOTALL Mode</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Enable Literal Parsing of the Pattern</key>
                    <value>
                      <name>Enable Literal Parsing of the Pattern</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Enable Multiline Mode</key>
                    <value>
                      <name>Enable Multiline Mode</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Enable Unicode-aware Case Folding</key>
                    <value>
                      <name>Enable Unicode-aware Case Folding</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Enable Unicode Predefined Character Classes</key>
                    <value>
                      <name>Enable Unicode Predefined Character Classes</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Enable Unix Lines Mode</key>
                    <value>
                      <name>Enable Unix Lines Mode</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Include Capture Group 0</key>
                    <value>
                      <name>Include Capture Group 0</name>
                    </value>
                  </entry>
                  <entry>
                    <key>extract-text-enable-repeating-capture-group</key>
                    <value>
                      <name>extract-text-enable-repeating-capture-group</name>
                    </value>
                  </entry>
                  <entry>
                    <key>schema.identifier</key>
                    <value>
                      <name>schema.identifier</name>
                    </value>
                  </entry>
                  <entry>
                    <key>schema.version</key>
                    <value>
                      <name>schema.version</name>
                    </value>
                  </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                  <entry>
                    <key>Character Set</key>
                    <value>UTF-8</value>
                  </entry>
                  <entry>
                    <key>Maximum Buffer Size</key>
                    <value>1 KB</value>
                  </entry>
                  <entry>
                    <key>Maximum Capture Group Length</key>
                    <value>1024</value>
                  </entry>
                  <entry>
                    <key>Enable Canonical Equivalence</key>
                    <value>false</value>
                  </entry>
                  <entry>
                    <key>Enable Case-insensitive Matching</key>
                    <value>false</value>
                  </entry>
                  <entry>
                    <key>Permit Whitespace and Comments in Pattern</key>
                    <value>false</value>
                  </entry>
                  <entry>
                    <key>Enable DOTALL Mode</key>
                    <value>false</value>
                  </entry>
                  <entry>
                    <key>Enable Literal Parsing of the Pattern</key>
                    <value>false</value>
                  </entry>
                  <entry>
                    <key>Enable Multiline Mode</key>
                    <value>false</value>
                  </entry>
                  <entry>
                    <key>Enable Unicode-aware Case Folding</key>
                    <value>false</value>
                  </entry>
                  <entry>
                    <key>Enable Unicode Predefined Character Classes</key>
                    <value>false</value>
                  </entry>
                  <entry>
                    <key>Enable Unix Lines Mode</key>
                    <value>false</value>
                  </entry>
                  <entry>
                    <key>Include Capture Group 0</key>
                    <value>false</value>
                  </entry>
                  <entry>
                    <key>extract-text-enable-repeating-capture-group</key>
                    <value>false</value>
                  </entry>
                  <entry>
                    <key>schema.identifier</key>
                    <value>.*?\&lt;schema-id&gt;(.*?)\&lt;schema-id&gt;.*</value>
                  </entry>
                  <entry>
                    <key>schema.version</key>
                    <value>.*?\&lt;schema-version&gt;(.*?)\&lt;schema-version&gt;.*</value>
                  </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
              </config>
              <name>Extract Schema Reference</name>
              <relationships>
                <autoTerminate>false</autoTerminate>
                <name>matched</name>
              </relationships>
              <relationships>
                <autoTerminate>true</autoTerminate>
                <name>unmatched</name>
              </relationships>
              <style></style>
              <type>org.apache.nifi.processors.standard.ExtractText</type>
            </processors>
            <processors>
              <id>2754490b-0d8b-3288-0000-000000000000</id>
              <parentGroupId>cfb52fe3-b649-3142-0000-000000000000</parentGroupId>
              <position>
                <x>409.0</x>
                <y>1005.000015434651</y>
              </position>
              <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.2.0.3.0.0.0-264</version>
              </bundle>
              <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                  <entry>
                    <key>Regular Expression</key>
                    <value>
                      <name>Regular Expression</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Replacement Value</key>
                    <value>
                      <name>Replacement Value</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Character Set</key>
                    <value>
                      <name>Character Set</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Maximum Buffer Size</key>
                    <value>
                      <name>Maximum Buffer Size</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Replacement Strategy</key>
                    <value>
                      <name>Replacement Strategy</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Evaluation Mode</key>
                    <value>
                      <name>Evaluation Mode</name>
                    </value>
                  </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                  <entry>
                    <key>Regular Expression</key>
                    <value>(?:.*?\|)(.*)</value>
                  </entry>
                  <entry>
                    <key>Replacement Value</key>
                    <value>$1</value>
                  </entry>
                  <entry>
                    <key>Character Set</key>
                    <value>UTF-8</value>
                  </entry>
                  <entry>
                    <key>Maximum Buffer Size</key>
                    <value>1 MB</value>
                  </entry>
                  <entry>
                    <key>Replacement Strategy</key>
                    <value>Regex Replace</value>
                  </entry>
                  <entry>
                    <key>Evaluation Mode</key>
                    <value>Line-by-Line</value>
                  </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
              </config>
              <name>Remove Line Headers and Trailing Pipe</name>
              <relationships>
                <autoTerminate>true</autoTerminate>
                <name>failure</name>
              </relationships>
              <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
              </relationships>
              <style></style>
              <type>org.apache.nifi.processors.standard.ReplaceText</type>
            </processors>
            <processors>
              <id>3fc0e8f9-bd18-37b8-0000-000000000000</id>
              <parentGroupId>cfb52fe3-b649-3142-0000-000000000000</parentGroupId>
              <position>
                <x>404.50037434084663</x>
                <y>149.38899565620542</y>
              </position>
              <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.2.0.3.0.0.0-264</version>
              </bundle>
              <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                  <entry>
                    <key>tail-mode</key>
                    <value>
                      <name>tail-mode</name>
                    </value>
                  </entry>
                  <entry>
                    <key>File to Tail</key>
                    <value>
                      <name>File to Tail</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Rolling Filename Pattern</key>
                    <value>
                      <name>Rolling Filename Pattern</name>
                    </value>
                  </entry>
                  <entry>
                    <key>tail-base-directory</key>
                    <value>
                      <name>tail-base-directory</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Initial Start Position</key>
                    <value>
                      <name>Initial Start Position</name>
                    </value>
                  </entry>
                  <entry>
                    <key>File Location</key>
                    <value>
                      <name>File Location</name>
                    </value>
                  </entry>
                  <entry>
                    <key>tailfile-recursive-lookup</key>
                    <value>
                      <name>tailfile-recursive-lookup</name>
                    </value>
                  </entry>
                  <entry>
                    <key>tailfile-rolling-strategy</key>
                    <value>
                      <name>tailfile-rolling-strategy</name>
                    </value>
                  </entry>
                  <entry>
                    <key>tailfile-lookup-frequency</key>
                    <value>
                      <name>tailfile-lookup-frequency</name>
                    </value>
                  </entry>
                  <entry>
                    <key>tailfile-maximum-age</key>
                    <value>
                      <name>tailfile-maximum-age</name>
                    </value>
                  </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                  <entry>
                    <key>tail-mode</key>
                    <value>Single file</value>
                  </entry>
                  <entry>
                    <key>File to Tail</key>
                    <value>/tmp/truck-sensor-data/all-streams-with-schemaid-embedded-1a.txt</value>
                  </entry>
                  <entry>
                    <key>Rolling Filename Pattern</key>
                  </entry>
                  <entry>
                    <key>tail-base-directory</key>
                  </entry>
                  <entry>
                    <key>Initial Start Position</key>
                    <value>Beginning of File</value>
                  </entry>
                  <entry>
                    <key>File Location</key>
                    <value>Local</value>
                  </entry>
                  <entry>
                    <key>tailfile-recursive-lookup</key>
                    <value>false</value>
                  </entry>
                  <entry>
                    <key>tailfile-rolling-strategy</key>
                    <value>Fixed name</value>
                  </entry>
                  <entry>
                    <key>tailfile-lookup-frequency</key>
                    <value>10 minutes</value>
                  </entry>
                  <entry>
                    <key>tailfile-maximum-age</key>
                    <value>24 hours</value>
                  </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
              </config>
              <name>TruckStreams</name>
              <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
              </relationships>
              <style></style>
              <type>org.apache.nifi.processors.standard.TailFile</type>
            </processors>
          </contents>
          <name>Acquire Events</name>
        </processGroups>
        <processors>
          <id>809cae75-faa7-32be-0000-000000000000</id>
          <parentGroupId>30b500a2-62a9-308c-0000-000000000000</parentGroupId>
          <position>
            <x>909.1922793677413</x>
            <y>950.0607574216406</y>
          </position>
          <bundle>
            <artifact>nifi-kafka-0-10-nar</artifact>
            <group>org.apache.nifi</group>
            <version>1.2.0.3.0.0.0-264</version>
          </bundle>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>bootstrap.servers</key>
                <value>
                  <name>bootstrap.servers</name>
                </value>
              </entry>
              <entry>
                <key>topic</key>
                <value>
                  <name>topic</name>
                </value>
              </entry>
              <entry>
                <key>record-reader</key>
                <value>
                  <identifiesControllerService>org.apache.nifi.serialization.RecordReaderFactory</identifiesControllerService>
                  <name>record-reader</name>
                </value>
              </entry>
              <entry>
                <key>record-writer</key>
                <value>
                  <identifiesControllerService>org.apache.nifi.serialization.RecordSetWriterFactory</identifiesControllerService>
                  <name>record-writer</name>
                </value>
              </entry>
              <entry>
                <key>security.protocol</key>
                <value>
                  <name>security.protocol</name>
                </value>
              </entry>
              <entry>
                <key>sasl.kerberos.service.name</key>
                <value>
                  <name>sasl.kerberos.service.name</name>
                </value>
              </entry>
              <entry>
                <key>sasl.kerberos.principal</key>
                <value>
                  <name>sasl.kerberos.principal</name>
                </value>
              </entry>
              <entry>
                <key>sasl.kerberos.keytab</key>
                <value>
                  <name>sasl.kerberos.keytab</name>
                </value>
              </entry>
              <entry>
                <key>ssl.context.service</key>
                <value>
                  <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
                  <name>ssl.context.service</name>
                </value>
              </entry>
              <entry>
                <key>acks</key>
                <value>
                  <name>acks</name>
                </value>
              </entry>
              <entry>
                <key>message-key-field</key>
                <value>
                  <name>message-key-field</name>
                </value>
              </entry>
              <entry>
                <key>max.request.size</key>
                <value>
                  <name>max.request.size</name>
                </value>
              </entry>
              <entry>
                <key>ack.wait.time</key>
                <value>
                  <name>ack.wait.time</name>
                </value>
              </entry>
              <entry>
                <key>max.block.ms</key>
                <value>
                  <name>max.block.ms</name>
                </value>
              </entry>
              <entry>
                <key>partitioner.class</key>
                <value>
                  <name>partitioner.class</name>
                </value>
              </entry>
              <entry>
                <key>compression.type</key>
                <value>
                  <name>compression.type</name>
                </value>
              </entry>
            </descriptors>
            <executionNode>ALL</executionNode>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>bootstrap.servers</key>
                <value>fenton-hdf6.field.hortonworks.com:6667</value>
              </entry>
              <entry>
                <key>topic</key>
                <value>${kafka.topic}</value>
              </entry>
              <entry>
                <key>record-reader</key>
                <value>ac8788ce-5f50-37fc-0000-000000000000</value>
              </entry>
              <entry>
                <key>record-writer</key>
                <value>8b3247f0-d86b-3002-0000-000000000000</value>
              </entry>
              <entry>
                <key>security.protocol</key>
                <value>PLAINTEXT</value>
              </entry>
              <entry>
                <key>sasl.kerberos.service.name</key>
              </entry>
              <entry>
                <key>sasl.kerberos.principal</key>
              </entry>
              <entry>
                <key>sasl.kerberos.keytab</key>
              </entry>
              <entry>
                <key>ssl.context.service</key>
              </entry>
              <entry>
                <key>acks</key>
                <value>0</value>
              </entry>
              <entry>
                <key>message-key-field</key>
              </entry>
              <entry>
                <key>max.request.size</key>
                <value>1 MB</value>
              </entry>
              <entry>
                <key>ack.wait.time</key>
                <value>5 secs</value>
              </entry>
              <entry>
                <key>max.block.ms</key>
                <value>5 sec</value>
              </entry>
              <entry>
                <key>partitioner.class</key>
                <value>org.apache.kafka.clients.producer.internals.DefaultPartitioner</value>
              </entry>
              <entry>
                <key>compression.type</key>
                <value>none</value>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>Publish Events to Truck Stream Topics</name>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>failure</name>
          </relationships>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>success</name>
          </relationships>
          <style></style>
          <type>org.apache.nifi.processors.kafka.pubsub.PublishKafkaRecord_0_10</type>
        </processors>
        <processors>
          <id>cb2224d0-f640-3fc6-0000-000000000000</id>
          <parentGroupId>30b500a2-62a9-308c-0000-000000000000</parentGroupId>
          <position>
            <x>665.8958818317703</x>
            <y>713.3622010260376</y>
          </position>
          <bundle>
            <artifact>nifi-update-attribute-nar</artifact>
            <group>org.apache.nifi</group>
            <version>1.2.0.3.0.0.0-264</version>
          </bundle>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>Delete Attributes Expression</key>
                <value>
                  <name>Delete Attributes Expression</name>
                </value>
              </entry>
              <entry>
                <key>Store State</key>
                <value>
                  <name>Store State</name>
                </value>
              </entry>
              <entry>
                <key>Stateful Variables Initial Value</key>
                <value>
                  <name>Stateful Variables Initial Value</name>
                </value>
              </entry>
              <entry>
                <key>kafka.topic</key>
                <value>
                  <name>kafka.topic</name>
                </value>
              </entry>
              <entry>
                <key>schema.identifier</key>
                <value>
                  <name>schema.identifier</name>
                </value>
              </entry>
              <entry>
                <key>schema.protocol.version</key>
                <value>
                  <name>schema.protocol.version</name>
                </value>
              </entry>
              <entry>
                <key>schema.version</key>
                <value>
                  <name>schema.version</name>
                </value>
              </entry>
            </descriptors>
            <executionNode>ALL</executionNode>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>Delete Attributes Expression</key>
              </entry>
              <entry>
                <key>Store State</key>
                <value>Do not store state</value>
              </entry>
              <entry>
                <key>Stateful Variables Initial Value</key>
              </entry>
              <entry>
                <key>kafka.topic</key>
                <value>truck_events_avro</value>
              </entry>
              <entry>
                <key>schema.identifier</key>
                <value>3</value>
              </entry>
              <entry>
                <key>schema.protocol.version</key>
                <value>1</value>
              </entry>
              <entry>
                <key>schema.version</key>
                <value>1</value>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>Specify Schema and Destination</name>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>success</name>
          </relationships>
          <style></style>
          <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
        </processors>
        <processors>
          <id>f8f0e467-0d74-34d6-0000-000000000000</id>
          <parentGroupId>30b500a2-62a9-308c-0000-000000000000</parentGroupId>
          <position>
            <x>1145.8907857649033</x>
            <y>710.8879825131966</y>
          </position>
          <bundle>
            <artifact>nifi-update-attribute-nar</artifact>
            <group>org.apache.nifi</group>
            <version>1.2.0.3.0.0.0-264</version>
          </bundle>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>Delete Attributes Expression</key>
                <value>
                  <name>Delete Attributes Expression</name>
                </value>
              </entry>
              <entry>
                <key>Store State</key>
                <value>
                  <name>Store State</name>
                </value>
              </entry>
              <entry>
                <key>Stateful Variables Initial Value</key>
                <value>
                  <name>Stateful Variables Initial Value</name>
                </value>
              </entry>
              <entry>
                <key>kafka.topic</key>
                <value>
                  <name>kafka.topic</name>
                </value>
              </entry>
              <entry>
                <key>schema.identifier</key>
                <value>
                  <name>schema.identifier</name>
                </value>
              </entry>
              <entry>
                <key>schema.protocol.version</key>
                <value>
                  <name>schema.protocol.version</name>
                </value>
              </entry>
              <entry>
                <key>schema.version</key>
                <value>
                  <name>schema.version</name>
                </value>
              </entry>
            </descriptors>
            <executionNode>ALL</executionNode>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>Delete Attributes Expression</key>
              </entry>
              <entry>
                <key>Store State</key>
                <value>Do not store state</value>
              </entry>
              <entry>
                <key>Stateful Variables Initial Value</key>
              </entry>
              <entry>
                <key>kafka.topic</key>
                <value>truck_speed_events_avro</value>
              </entry>
              <entry>
                <key>schema.identifier</key>
                <value>4</value>
              </entry>
              <entry>
                <key>schema.protocol.version</key>
                <value>1</value>
              </entry>
              <entry>
                <key>schema.version</key>
                <value>1</value>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>Specify Schema and Destination</name>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>success</name>
          </relationships>
          <style></style>
          <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
        </processors>
        <processors>
          <id>174f15fd-df44-3cd8-0000-000000000000</id>
          <parentGroupId>30b500a2-62a9-308c-0000-000000000000</parentGroupId>
          <position>
            <x>666.3000934047266</x>
            <y>530.9509798486299</y>
          </position>
          <bundle>
            <artifact>nifi-scripting-nar</artifact>
            <group>org.apache.nifi</group>
            <version>1.2.0.3.0.0.0-264</version>
          </bundle>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>Script Engine</key>
                <value>
                  <name>Script Engine</name>
                </value>
              </entry>
              <entry>
                <key>Script File</key>
                <value>
                  <name>Script File</name>
                </value>
              </entry>
              <entry>
                <key>Script Body</key>
                <value>
                  <name>Script Body</name>
                </value>
              </entry>
              <entry>
                <key>Module Directory</key>
                <value>
                  <name>Module Directory</name>
                </value>
              </entry>
            </descriptors>
            <executionNode>ALL</executionNode>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>Script Engine</key>
                <value>Groovy</value>
              </entry>
              <entry>
                <key>Script File</key>
              </entry>
              <entry>
                <key>Script Body</key>
                <value>import java.nio.charset.StandardCharsets


def flowFile = session.get()
if(!flowFile) return

lat =  flowFile.getAttribute('latitudeForGeoCodeEnrichment')
lng =  flowFile.getAttribute('longitudeForGeoCodeEnrichment')


flowFile = session.write(flowFile, {inputStream, outputStream -&gt;
   inputStream.eachLine { line -&gt;
      fmt_addr = "2106 Morton Ave, Des Moines, IA 50317, USA\n"
      outputStream.write("$line$fmt_addr".toString().getBytes(StandardCharsets.UTF_8))
   }
} as StreamCallback)

session.transfer(flowFile, REL_SUCCESS)</value>
              </entry>
              <entry>
                <key>Module Directory</key>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>GeoCode Enrichment</name>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>failure</name>
          </relationships>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>success</name>
          </relationships>
          <style></style>
          <type>org.apache.nifi.processors.script.ExecuteScript</type>
        </processors>
      </contents>
      <name>Use Case 2 - Approach A (Joe)</name>
    </processGroups>
    <processGroups>
      <id>6b90ce3e-ce0a-3325-0000-000000000000</id>
      <parentGroupId>46f95fe5-3024-31d8-0000-000000000000</parentGroupId>
      <position>
        <x>164.38508272280137</x>
        <y>1380.2611208518301</y>
      </position>
      <comments></comments>
      <contents>
        <connections>
          <id>a31ecdbb-f876-36e4-0000-000000000000</id>
          <parentGroupId>6b90ce3e-ce0a-3325-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <destination>
            <groupId>6b90ce3e-ce0a-3325-0000-000000000000</groupId>
            <id>eded85d4-10c2-38a5-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <source>
            <groupId>1258ba39-1017-351c-0000-000000000000</groupId>
            <id>67a46b76-06f1-3685-0000-000000000000</id>
            <type>OUTPUT_PORT</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>a890247a-9fc6-367e-0000-000000000000</id>
          <parentGroupId>6b90ce3e-ce0a-3325-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <destination>
            <groupId>6b90ce3e-ce0a-3325-0000-000000000000</groupId>
            <id>9eb27086-5cd2-35b7-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>success</selectedRelationships>
          <source>
            <groupId>6b90ce3e-ce0a-3325-0000-000000000000</groupId>
            <id>a21bc6c3-54a2-3ffe-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>b97d1dc8-0c84-3481-0000-000000000000</id>
          <parentGroupId>6b90ce3e-ce0a-3325-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <bends>
            <x>1211.0447148908875</x>
            <y>463.467917062308</y>
          </bends>
          <bends>
            <x>1316.6106023420593</x>
            <y>555.8380743041293</y>
          </bends>
          <destination>
            <groupId>6b90ce3e-ce0a-3325-0000-000000000000</groupId>
            <id>1f5af951-7f04-3ead-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <source>
            <groupId>1258ba39-1017-351c-0000-000000000000</groupId>
            <id>f80255f1-1b41-35aa-0000-000000000000</id>
            <type>OUTPUT_PORT</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>0bf3dbbd-cad6-3875-0000-000000000000</id>
          <parentGroupId>6b90ce3e-ce0a-3325-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <destination>
            <groupId>6b90ce3e-ce0a-3325-0000-000000000000</groupId>
            <id>9eb27086-5cd2-35b7-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>success</selectedRelationships>
          <source>
            <groupId>6b90ce3e-ce0a-3325-0000-000000000000</groupId>
            <id>1f5af951-7f04-3ead-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>25c6bf99-a4fe-3b9d-0000-000000000000</id>
          <parentGroupId>6b90ce3e-ce0a-3325-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <destination>
            <groupId>6b90ce3e-ce0a-3325-0000-000000000000</groupId>
            <id>a21bc6c3-54a2-3ffe-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>success</selectedRelationships>
          <source>
            <groupId>6b90ce3e-ce0a-3325-0000-000000000000</groupId>
            <id>eded85d4-10c2-38a5-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <labels>
          <id>cec33cb9-4682-3f61-0000-000000000000</id>
          <parentGroupId>6b90ce3e-ce0a-3325-0000-000000000000</parentGroupId>
          <position>
            <x>560.8052965336119</x>
            <y>301.78472233006846</y>
          </position>
          <height>57.396385192871094</height>
          <label>Go Get the Data</label>
          <style>
            <entry>
              <key>font-size</key>
              <value>24px</value>
            </entry>
          </style>
          <width>221.0823516845703</width>
        </labels>
        <labels>
          <id>2dcfd066-52da-38fe-0000-000000000000</id>
          <parentGroupId>6b90ce3e-ce0a-3325-0000-000000000000</parentGroupId>
          <position>
            <x>202.29585995916636</x>
            <y>972.9440529777598</y>
          </position>
          <height>92.15825653076172</height>
          <label>Serialize CSV into Avro by fetching  Schema 
associated with kafka topic from the HWX Schema REgistry.
</label>
          <style>
            <entry>
              <key>font-size</key>
              <value>24px</value>
            </entry>
          </style>
          <width>669.0045776367188</width>
        </labels>
        <labels>
          <id>3748e9a2-3679-3a8b-0000-000000000000</id>
          <parentGroupId>6b90ce3e-ce0a-3325-0000-000000000000</parentGroupId>
          <position>
            <x>429.3314945315935</x>
            <y>545.0001014129568</y>
          </position>
          <height>44.64159393310547</height>
          <label>Enrich the Data</label>
          <style>
            <entry>
              <key>font-size</key>
              <value>24px</value>
            </entry>
          </style>
          <width>196.63572692871094</width>
        </labels>
        <labels>
          <id>5444f50e-3d2d-31f1-0000-000000000000</id>
          <parentGroupId>6b90ce3e-ce0a-3325-0000-000000000000</parentGroupId>
          <position>
            <x>202.23737832065598</x>
            <y>716.5298255340506</y>
          </position>
          <height>102.78064727783203</height>
          <label>Setup the schema keys for the 
Kafka Topicthat we are publishing to.</label>
          <style>
            <entry>
              <key>font-size</key>
              <value>24px</value>
            </entry>
          </style>
          <width>434.3003845214844</width>
        </labels>
        <processGroups>
          <id>1258ba39-1017-351c-0000-000000000000</id>
          <parentGroupId>6b90ce3e-ce0a-3325-0000-000000000000</parentGroupId>
          <position>
            <x>900.6595677961609</x>
            <y>250.00100765373867</y>
          </position>
          <comments></comments>
          <contents>
            <connections>
              <id>b1d13591-654c-30e6-0000-000000000000</id>
              <parentGroupId>1258ba39-1017-351c-0000-000000000000</parentGroupId>
              <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
              <backPressureObjectThreshold>10000</backPressureObjectThreshold>
              <destination>
                <groupId>1258ba39-1017-351c-0000-000000000000</groupId>
                <id>7919ccb6-3519-3964-0000-000000000000</id>
                <type>PROCESSOR</type>
              </destination>
              <flowFileExpiration>0 sec</flowFileExpiration>
              <labelIndex>1</labelIndex>
              <name></name>
              <selectedRelationships>splits</selectedRelationships>
              <source>
                <groupId>1258ba39-1017-351c-0000-000000000000</groupId>
                <id>0a187522-39c5-34ed-0000-000000000000</id>
                <type>PROCESSOR</type>
              </source>
              <zIndex>0</zIndex>
            </connections>
            <connections>
              <id>c3c95a8a-f5b5-3e6b-0000-000000000000</id>
              <parentGroupId>1258ba39-1017-351c-0000-000000000000</parentGroupId>
              <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
              <backPressureObjectThreshold>10000</backPressureObjectThreshold>
              <destination>
                <groupId>1258ba39-1017-351c-0000-000000000000</groupId>
                <id>0a187522-39c5-34ed-0000-000000000000</id>
                <type>PROCESSOR</type>
              </destination>
              <flowFileExpiration>0 sec</flowFileExpiration>
              <labelIndex>1</labelIndex>
              <name></name>
              <selectedRelationships>success</selectedRelationships>
              <source>
                <groupId>1258ba39-1017-351c-0000-000000000000</groupId>
                <id>5a8c8e56-e7e7-3462-0000-000000000000</id>
                <type>PROCESSOR</type>
              </source>
              <zIndex>0</zIndex>
            </connections>
            <connections>
              <id>dec1db34-aa22-3c7b-0000-000000000000</id>
              <parentGroupId>1258ba39-1017-351c-0000-000000000000</parentGroupId>
              <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
              <backPressureObjectThreshold>10000</backPressureObjectThreshold>
              <destination>
                <groupId>1258ba39-1017-351c-0000-000000000000</groupId>
                <id>f80255f1-1b41-35aa-0000-000000000000</id>
                <type>OUTPUT_PORT</type>
              </destination>
              <flowFileExpiration>0 sec</flowFileExpiration>
              <labelIndex>1</labelIndex>
              <name></name>
              <selectedRelationships>truck_speed_event</selectedRelationships>
              <source>
                <groupId>1258ba39-1017-351c-0000-000000000000</groupId>
                <id>e7c17ec9-e2e3-3d71-0000-000000000000</id>
                <type>PROCESSOR</type>
              </source>
              <zIndex>0</zIndex>
            </connections>
            <connections>
              <id>13255e7e-2002-3fa4-0000-000000000000</id>
              <parentGroupId>1258ba39-1017-351c-0000-000000000000</parentGroupId>
              <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
              <backPressureObjectThreshold>10000</backPressureObjectThreshold>
              <destination>
                <groupId>1258ba39-1017-351c-0000-000000000000</groupId>
                <id>48b09a6e-0a80-3518-0000-000000000000</id>
                <type>PROCESSOR</type>
              </destination>
              <flowFileExpiration>0 sec</flowFileExpiration>
              <labelIndex>1</labelIndex>
              <name></name>
              <selectedRelationships>matched</selectedRelationships>
              <source>
                <groupId>1258ba39-1017-351c-0000-000000000000</groupId>
                <id>7919ccb6-3519-3964-0000-000000000000</id>
                <type>PROCESSOR</type>
              </source>
              <zIndex>0</zIndex>
            </connections>
            <connections>
              <id>2f194b39-ab00-3cdc-0000-000000000000</id>
              <parentGroupId>1258ba39-1017-351c-0000-000000000000</parentGroupId>
              <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
              <backPressureObjectThreshold>10000</backPressureObjectThreshold>
              <destination>
                <groupId>1258ba39-1017-351c-0000-000000000000</groupId>
                <id>67a46b76-06f1-3685-0000-000000000000</id>
                <type>OUTPUT_PORT</type>
              </destination>
              <flowFileExpiration>0 sec</flowFileExpiration>
              <labelIndex>1</labelIndex>
              <name></name>
              <selectedRelationships>truck_geo_event</selectedRelationships>
              <source>
                <groupId>1258ba39-1017-351c-0000-000000000000</groupId>
                <id>e7c17ec9-e2e3-3d71-0000-000000000000</id>
                <type>PROCESSOR</type>
              </source>
              <zIndex>0</zIndex>
            </connections>
            <connections>
              <id>39ef98d9-c910-398e-0000-000000000000</id>
              <parentGroupId>1258ba39-1017-351c-0000-000000000000</parentGroupId>
              <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
              <backPressureObjectThreshold>10000</backPressureObjectThreshold>
              <destination>
                <groupId>1258ba39-1017-351c-0000-000000000000</groupId>
                <id>e7c17ec9-e2e3-3d71-0000-000000000000</id>
                <type>PROCESSOR</type>
              </destination>
              <flowFileExpiration>0 sec</flowFileExpiration>
              <labelIndex>1</labelIndex>
              <name></name>
              <selectedRelationships>success</selectedRelationships>
              <source>
                <groupId>1258ba39-1017-351c-0000-000000000000</groupId>
                <id>32d27184-ef1b-3ca9-0000-000000000000</id>
                <type>PROCESSOR</type>
              </source>
              <zIndex>0</zIndex>
            </connections>
            <connections>
              <id>64d48113-7402-3a04-0000-000000000000</id>
              <parentGroupId>1258ba39-1017-351c-0000-000000000000</parentGroupId>
              <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
              <backPressureObjectThreshold>10000</backPressureObjectThreshold>
              <destination>
                <groupId>1258ba39-1017-351c-0000-000000000000</groupId>
                <id>32d27184-ef1b-3ca9-0000-000000000000</id>
                <type>PROCESSOR</type>
              </destination>
              <flowFileExpiration>0 sec</flowFileExpiration>
              <labelIndex>1</labelIndex>
              <name></name>
              <selectedRelationships>success</selectedRelationships>
              <source>
                <groupId>1258ba39-1017-351c-0000-000000000000</groupId>
                <id>48b09a6e-0a80-3518-0000-000000000000</id>
                <type>PROCESSOR</type>
              </source>
              <zIndex>0</zIndex>
            </connections>
            <outputPorts>
              <id>f80255f1-1b41-35aa-0000-000000000000</id>
              <parentGroupId>1258ba39-1017-351c-0000-000000000000</parentGroupId>
              <position>
                <x>621.6219866643096</x>
                <y>1433.1113289556813</y>
              </position>
              <comments></comments>
              <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
              <name>Truck Speed Events</name>
              <state>STOPPED</state>
              <type>OUTPUT_PORT</type>
            </outputPorts>
            <outputPorts>
              <id>67a46b76-06f1-3685-0000-000000000000</id>
              <parentGroupId>1258ba39-1017-351c-0000-000000000000</parentGroupId>
              <position>
                <x>284.02124813891896</x>
                <y>1433.9699715338063</y>
              </position>
              <comments></comments>
              <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
              <name>Truck Geo Events</name>
              <state>STOPPED</state>
              <type>OUTPUT_PORT</type>
            </outputPorts>
            <processors>
              <id>e7c17ec9-e2e3-3d71-0000-000000000000</id>
              <parentGroupId>1258ba39-1017-351c-0000-000000000000</parentGroupId>
              <position>
                <x>417.8637039447758</x>
                <y>1208.0031260064022</y>
              </position>
              <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.2.0.3.0.0.0-264</version>
              </bundle>
              <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                  <entry>
                    <key>record-reader</key>
                    <value>
                      <identifiesControllerService>org.apache.nifi.serialization.RecordReaderFactory</identifiesControllerService>
                      <name>record-reader</name>
                    </value>
                  </entry>
                  <entry>
                    <key>record-writer</key>
                    <value>
                      <identifiesControllerService>org.apache.nifi.serialization.RecordSetWriterFactory</identifiesControllerService>
                      <name>record-writer</name>
                    </value>
                  </entry>
                  <entry>
                    <key>include-zero-record-flowfiles</key>
                    <value>
                      <name>include-zero-record-flowfiles</name>
                    </value>
                  </entry>
                  <entry>
                    <key>cache-schema</key>
                    <value>
                      <name>cache-schema</name>
                    </value>
                  </entry>
                  <entry>
                    <key>truck_geo_event</key>
                    <value>
                      <name>truck_geo_event</name>
                    </value>
                  </entry>
                  <entry>
                    <key>truck_speed_event</key>
                    <value>
                      <name>truck_speed_event</name>
                    </value>
                  </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                  <entry>
                    <key>record-reader</key>
                    <value>ac8788ce-5f50-37fc-0000-000000000000</value>
                  </entry>
                  <entry>
                    <key>record-writer</key>
                    <value>2a820ba7-1de0-3898-0000-000000000000</value>
                  </entry>
                  <entry>
                    <key>include-zero-record-flowfiles</key>
                    <value>false</value>
                  </entry>
                  <entry>
                    <key>cache-schema</key>
                    <value>false</value>
                  </entry>
                  <entry>
                    <key>truck_geo_event</key>
                    <value>SELECT * FROM FLOWFILE where eventSource = 'truck_geo_event'</value>
                  </entry>
                  <entry>
                    <key>truck_speed_event</key>
                    <value>SELECT * FROM FLOWFILE where eventSource = 'truck_speed_event'</value>
                  </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
              </config>
              <name>Route Telemetry Events</name>
              <relationships>
                <autoTerminate>true</autoTerminate>
                <name>failure</name>
              </relationships>
              <relationships>
                <autoTerminate>true</autoTerminate>
                <name>original</name>
              </relationships>
              <relationships>
                <autoTerminate>false</autoTerminate>
                <name>truck_geo_event</name>
              </relationships>
              <relationships>
                <autoTerminate>false</autoTerminate>
                <name>truck_speed_event</name>
              </relationships>
              <style></style>
              <type>org.apache.nifi.processors.standard.QueryRecord</type>
            </processors>
            <processors>
              <id>0a187522-39c5-34ed-0000-000000000000</id>
              <parentGroupId>1258ba39-1017-351c-0000-000000000000</parentGroupId>
              <position>
                <x>405.44474692546794</x>
                <y>387.6851758408749</y>
              </position>
              <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.2.0.3.0.0.0-264</version>
              </bundle>
              <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                  <entry>
                    <key>Line Split Count</key>
                    <value>
                      <name>Line Split Count</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Maximum Fragment Size</key>
                    <value>
                      <name>Maximum Fragment Size</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Header Line Count</key>
                    <value>
                      <name>Header Line Count</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Header Line Marker Characters</key>
                    <value>
                      <name>Header Line Marker Characters</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Remove Trailing Newlines</key>
                    <value>
                      <name>Remove Trailing Newlines</name>
                    </value>
                  </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                  <entry>
                    <key>Line Split Count</key>
                    <value>1</value>
                  </entry>
                  <entry>
                    <key>Maximum Fragment Size</key>
                  </entry>
                  <entry>
                    <key>Header Line Count</key>
                    <value>0</value>
                  </entry>
                  <entry>
                    <key>Header Line Marker Characters</key>
                  </entry>
                  <entry>
                    <key>Remove Trailing Newlines</key>
                    <value>true</value>
                  </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
              </config>
              <name>SplitText</name>
              <relationships>
                <autoTerminate>true</autoTerminate>
                <name>failure</name>
              </relationships>
              <relationships>
                <autoTerminate>true</autoTerminate>
                <name>original</name>
              </relationships>
              <relationships>
                <autoTerminate>false</autoTerminate>
                <name>splits</name>
              </relationships>
              <style></style>
              <type>org.apache.nifi.processors.standard.SplitText</type>
            </processors>
            <processors>
              <id>32d27184-ef1b-3ca9-0000-000000000000</id>
              <parentGroupId>1258ba39-1017-351c-0000-000000000000</parentGroupId>
              <position>
                <x>409.0</x>
                <y>1005.000015434651</y>
              </position>
              <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.2.0.3.0.0.0-264</version>
              </bundle>
              <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                  <entry>
                    <key>Regular Expression</key>
                    <value>
                      <name>Regular Expression</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Replacement Value</key>
                    <value>
                      <name>Replacement Value</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Character Set</key>
                    <value>
                      <name>Character Set</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Maximum Buffer Size</key>
                    <value>
                      <name>Maximum Buffer Size</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Replacement Strategy</key>
                    <value>
                      <name>Replacement Strategy</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Evaluation Mode</key>
                    <value>
                      <name>Evaluation Mode</name>
                    </value>
                  </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                  <entry>
                    <key>Regular Expression</key>
                    <value>(?:.*?\|)(.*)</value>
                  </entry>
                  <entry>
                    <key>Replacement Value</key>
                    <value>$1</value>
                  </entry>
                  <entry>
                    <key>Character Set</key>
                    <value>UTF-8</value>
                  </entry>
                  <entry>
                    <key>Maximum Buffer Size</key>
                    <value>1 MB</value>
                  </entry>
                  <entry>
                    <key>Replacement Strategy</key>
                    <value>Regex Replace</value>
                  </entry>
                  <entry>
                    <key>Evaluation Mode</key>
                    <value>Line-by-Line</value>
                  </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
              </config>
              <name>Remove Line Headers and Trailing Pipe</name>
              <relationships>
                <autoTerminate>true</autoTerminate>
                <name>failure</name>
              </relationships>
              <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
              </relationships>
              <style></style>
              <type>org.apache.nifi.processors.standard.ReplaceText</type>
            </processors>
            <processors>
              <id>48b09a6e-0a80-3518-0000-000000000000</id>
              <parentGroupId>1258ba39-1017-351c-0000-000000000000</parentGroupId>
              <position>
                <x>409.0</x>
                <y>806.000015434651</y>
              </position>
              <bundle>
                <artifact>nifi-update-attribute-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.2.0.3.0.0.0-264</version>
              </bundle>
              <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                  <entry>
                    <key>Delete Attributes Expression</key>
                    <value>
                      <name>Delete Attributes Expression</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Store State</key>
                    <value>
                      <name>Store State</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Stateful Variables Initial Value</key>
                    <value>
                      <name>Stateful Variables Initial Value</name>
                    </value>
                  </entry>
                  <entry>
                    <key>schema.protocol.version</key>
                    <value>
                      <name>schema.protocol.version</name>
                    </value>
                  </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                  <entry>
                    <key>Delete Attributes Expression</key>
                  </entry>
                  <entry>
                    <key>Store State</key>
                    <value>Do not store state</value>
                  </entry>
                  <entry>
                    <key>Stateful Variables Initial Value</key>
                  </entry>
                  <entry>
                    <key>schema.protocol.version</key>
                    <value>1</value>
                  </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
              </config>
              <name>Add Schema Reference Protocol Version</name>
              <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
              </relationships>
              <style></style>
              <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
            </processors>
            <processors>
              <id>5a8c8e56-e7e7-3462-0000-000000000000</id>
              <parentGroupId>1258ba39-1017-351c-0000-000000000000</parentGroupId>
              <position>
                <x>404.50037434084663</x>
                <y>149.38899565620542</y>
              </position>
              <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.2.0.3.0.0.0-264</version>
              </bundle>
              <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                  <entry>
                    <key>tail-mode</key>
                    <value>
                      <name>tail-mode</name>
                    </value>
                  </entry>
                  <entry>
                    <key>File to Tail</key>
                    <value>
                      <name>File to Tail</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Rolling Filename Pattern</key>
                    <value>
                      <name>Rolling Filename Pattern</name>
                    </value>
                  </entry>
                  <entry>
                    <key>tail-base-directory</key>
                    <value>
                      <name>tail-base-directory</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Initial Start Position</key>
                    <value>
                      <name>Initial Start Position</name>
                    </value>
                  </entry>
                  <entry>
                    <key>File Location</key>
                    <value>
                      <name>File Location</name>
                    </value>
                  </entry>
                  <entry>
                    <key>tailfile-recursive-lookup</key>
                    <value>
                      <name>tailfile-recursive-lookup</name>
                    </value>
                  </entry>
                  <entry>
                    <key>tailfile-rolling-strategy</key>
                    <value>
                      <name>tailfile-rolling-strategy</name>
                    </value>
                  </entry>
                  <entry>
                    <key>tailfile-lookup-frequency</key>
                    <value>
                      <name>tailfile-lookup-frequency</name>
                    </value>
                  </entry>
                  <entry>
                    <key>tailfile-maximum-age</key>
                    <value>
                      <name>tailfile-maximum-age</name>
                    </value>
                  </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                  <entry>
                    <key>tail-mode</key>
                    <value>Single file</value>
                  </entry>
                  <entry>
                    <key>File to Tail</key>
                    <value>/tmp/truck-sensor-data/all-streams-with-schemaid-embedded-1b.txt</value>
                  </entry>
                  <entry>
                    <key>Rolling Filename Pattern</key>
                  </entry>
                  <entry>
                    <key>tail-base-directory</key>
                  </entry>
                  <entry>
                    <key>Initial Start Position</key>
                    <value>Beginning of File</value>
                  </entry>
                  <entry>
                    <key>File Location</key>
                    <value>Local</value>
                  </entry>
                  <entry>
                    <key>tailfile-recursive-lookup</key>
                    <value>false</value>
                  </entry>
                  <entry>
                    <key>tailfile-rolling-strategy</key>
                    <value>Fixed name</value>
                  </entry>
                  <entry>
                    <key>tailfile-lookup-frequency</key>
                    <value>10 minutes</value>
                  </entry>
                  <entry>
                    <key>tailfile-maximum-age</key>
                    <value>24 hours</value>
                  </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
              </config>
              <name>TruckStreams</name>
              <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
              </relationships>
              <style></style>
              <type>org.apache.nifi.processors.standard.TailFile</type>
            </processors>
            <processors>
              <id>7919ccb6-3519-3964-0000-000000000000</id>
              <parentGroupId>1258ba39-1017-351c-0000-000000000000</parentGroupId>
              <position>
                <x>408.0</x>
                <y>604.000015434651</y>
              </position>
              <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.2.0.3.0.0.0-264</version>
              </bundle>
              <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                  <entry>
                    <key>Character Set</key>
                    <value>
                      <name>Character Set</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Maximum Buffer Size</key>
                    <value>
                      <name>Maximum Buffer Size</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Maximum Capture Group Length</key>
                    <value>
                      <name>Maximum Capture Group Length</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Enable Canonical Equivalence</key>
                    <value>
                      <name>Enable Canonical Equivalence</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Enable Case-insensitive Matching</key>
                    <value>
                      <name>Enable Case-insensitive Matching</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Permit Whitespace and Comments in Pattern</key>
                    <value>
                      <name>Permit Whitespace and Comments in Pattern</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Enable DOTALL Mode</key>
                    <value>
                      <name>Enable DOTALL Mode</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Enable Literal Parsing of the Pattern</key>
                    <value>
                      <name>Enable Literal Parsing of the Pattern</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Enable Multiline Mode</key>
                    <value>
                      <name>Enable Multiline Mode</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Enable Unicode-aware Case Folding</key>
                    <value>
                      <name>Enable Unicode-aware Case Folding</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Enable Unicode Predefined Character Classes</key>
                    <value>
                      <name>Enable Unicode Predefined Character Classes</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Enable Unix Lines Mode</key>
                    <value>
                      <name>Enable Unix Lines Mode</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Include Capture Group 0</key>
                    <value>
                      <name>Include Capture Group 0</name>
                    </value>
                  </entry>
                  <entry>
                    <key>extract-text-enable-repeating-capture-group</key>
                    <value>
                      <name>extract-text-enable-repeating-capture-group</name>
                    </value>
                  </entry>
                  <entry>
                    <key>schema.identifier</key>
                    <value>
                      <name>schema.identifier</name>
                    </value>
                  </entry>
                  <entry>
                    <key>schema.version</key>
                    <value>
                      <name>schema.version</name>
                    </value>
                  </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                  <entry>
                    <key>Character Set</key>
                    <value>UTF-8</value>
                  </entry>
                  <entry>
                    <key>Maximum Buffer Size</key>
                    <value>1 KB</value>
                  </entry>
                  <entry>
                    <key>Maximum Capture Group Length</key>
                    <value>1024</value>
                  </entry>
                  <entry>
                    <key>Enable Canonical Equivalence</key>
                    <value>false</value>
                  </entry>
                  <entry>
                    <key>Enable Case-insensitive Matching</key>
                    <value>false</value>
                  </entry>
                  <entry>
                    <key>Permit Whitespace and Comments in Pattern</key>
                    <value>false</value>
                  </entry>
                  <entry>
                    <key>Enable DOTALL Mode</key>
                    <value>false</value>
                  </entry>
                  <entry>
                    <key>Enable Literal Parsing of the Pattern</key>
                    <value>false</value>
                  </entry>
                  <entry>
                    <key>Enable Multiline Mode</key>
                    <value>false</value>
                  </entry>
                  <entry>
                    <key>Enable Unicode-aware Case Folding</key>
                    <value>false</value>
                  </entry>
                  <entry>
                    <key>Enable Unicode Predefined Character Classes</key>
                    <value>false</value>
                  </entry>
                  <entry>
                    <key>Enable Unix Lines Mode</key>
                    <value>false</value>
                  </entry>
                  <entry>
                    <key>Include Capture Group 0</key>
                    <value>false</value>
                  </entry>
                  <entry>
                    <key>extract-text-enable-repeating-capture-group</key>
                    <value>false</value>
                  </entry>
                  <entry>
                    <key>schema.identifier</key>
                    <value>.*?\&lt;schema-id&gt;(.*?)\&lt;schema-id&gt;.*</value>
                  </entry>
                  <entry>
                    <key>schema.version</key>
                    <value>.*?\&lt;schema-version&gt;(.*?)\&lt;schema-version&gt;.*</value>
                  </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
              </config>
              <name>Extract Schema Reference</name>
              <relationships>
                <autoTerminate>false</autoTerminate>
                <name>matched</name>
              </relationships>
              <relationships>
                <autoTerminate>true</autoTerminate>
                <name>unmatched</name>
              </relationships>
              <style></style>
              <type>org.apache.nifi.processors.standard.ExtractText</type>
            </processors>
          </contents>
          <name>Acquire Events</name>
        </processGroups>
        <processors>
          <id>9eb27086-5cd2-35b7-0000-000000000000</id>
          <parentGroupId>6b90ce3e-ce0a-3325-0000-000000000000</parentGroupId>
          <position>
            <x>909.1922793677413</x>
            <y>950.0607574216406</y>
          </position>
          <bundle>
            <artifact>nifi-kafka-0-10-nar</artifact>
            <group>org.apache.nifi</group>
            <version>1.2.0.3.0.0.0-264</version>
          </bundle>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>bootstrap.servers</key>
                <value>
                  <name>bootstrap.servers</name>
                </value>
              </entry>
              <entry>
                <key>topic</key>
                <value>
                  <name>topic</name>
                </value>
              </entry>
              <entry>
                <key>record-reader</key>
                <value>
                  <identifiesControllerService>org.apache.nifi.serialization.RecordReaderFactory</identifiesControllerService>
                  <name>record-reader</name>
                </value>
              </entry>
              <entry>
                <key>record-writer</key>
                <value>
                  <identifiesControllerService>org.apache.nifi.serialization.RecordSetWriterFactory</identifiesControllerService>
                  <name>record-writer</name>
                </value>
              </entry>
              <entry>
                <key>security.protocol</key>
                <value>
                  <name>security.protocol</name>
                </value>
              </entry>
              <entry>
                <key>sasl.kerberos.service.name</key>
                <value>
                  <name>sasl.kerberos.service.name</name>
                </value>
              </entry>
              <entry>
                <key>sasl.kerberos.principal</key>
                <value>
                  <name>sasl.kerberos.principal</name>
                </value>
              </entry>
              <entry>
                <key>sasl.kerberos.keytab</key>
                <value>
                  <name>sasl.kerberos.keytab</name>
                </value>
              </entry>
              <entry>
                <key>ssl.context.service</key>
                <value>
                  <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
                  <name>ssl.context.service</name>
                </value>
              </entry>
              <entry>
                <key>acks</key>
                <value>
                  <name>acks</name>
                </value>
              </entry>
              <entry>
                <key>message-key-field</key>
                <value>
                  <name>message-key-field</name>
                </value>
              </entry>
              <entry>
                <key>max.request.size</key>
                <value>
                  <name>max.request.size</name>
                </value>
              </entry>
              <entry>
                <key>ack.wait.time</key>
                <value>
                  <name>ack.wait.time</name>
                </value>
              </entry>
              <entry>
                <key>max.block.ms</key>
                <value>
                  <name>max.block.ms</name>
                </value>
              </entry>
              <entry>
                <key>partitioner.class</key>
                <value>
                  <name>partitioner.class</name>
                </value>
              </entry>
              <entry>
                <key>compression.type</key>
                <value>
                  <name>compression.type</name>
                </value>
              </entry>
            </descriptors>
            <executionNode>ALL</executionNode>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>bootstrap.servers</key>
                <value>fenton-hdf6.field.hortonworks.com:6667</value>
              </entry>
              <entry>
                <key>topic</key>
                <value>${kafka.topic}</value>
              </entry>
              <entry>
                <key>record-reader</key>
                <value>ac8788ce-5f50-37fc-0000-000000000000</value>
              </entry>
              <entry>
                <key>record-writer</key>
                <value>8b3247f0-d86b-3002-0000-000000000000</value>
              </entry>
              <entry>
                <key>security.protocol</key>
                <value>PLAINTEXT</value>
              </entry>
              <entry>
                <key>sasl.kerberos.service.name</key>
              </entry>
              <entry>
                <key>sasl.kerberos.principal</key>
              </entry>
              <entry>
                <key>sasl.kerberos.keytab</key>
              </entry>
              <entry>
                <key>ssl.context.service</key>
              </entry>
              <entry>
                <key>acks</key>
                <value>0</value>
              </entry>
              <entry>
                <key>message-key-field</key>
              </entry>
              <entry>
                <key>max.request.size</key>
                <value>1 MB</value>
              </entry>
              <entry>
                <key>ack.wait.time</key>
                <value>5 secs</value>
              </entry>
              <entry>
                <key>max.block.ms</key>
                <value>5 sec</value>
              </entry>
              <entry>
                <key>partitioner.class</key>
                <value>org.apache.kafka.clients.producer.internals.DefaultPartitioner</value>
              </entry>
              <entry>
                <key>compression.type</key>
                <value>none</value>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>Publish Events to Truck Stream Topics</name>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>failure</name>
          </relationships>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>success</name>
          </relationships>
          <style></style>
          <type>org.apache.nifi.processors.kafka.pubsub.PublishKafkaRecord_0_10</type>
        </processors>
        <processors>
          <id>a21bc6c3-54a2-3ffe-0000-000000000000</id>
          <parentGroupId>6b90ce3e-ce0a-3325-0000-000000000000</parentGroupId>
          <position>
            <x>665.8958818317703</x>
            <y>713.3622010260376</y>
          </position>
          <bundle>
            <artifact>nifi-update-attribute-nar</artifact>
            <group>org.apache.nifi</group>
            <version>1.2.0.3.0.0.0-264</version>
          </bundle>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>Delete Attributes Expression</key>
                <value>
                  <name>Delete Attributes Expression</name>
                </value>
              </entry>
              <entry>
                <key>Store State</key>
                <value>
                  <name>Store State</name>
                </value>
              </entry>
              <entry>
                <key>Stateful Variables Initial Value</key>
                <value>
                  <name>Stateful Variables Initial Value</name>
                </value>
              </entry>
              <entry>
                <key>kafka.topic</key>
                <value>
                  <name>kafka.topic</name>
                </value>
              </entry>
              <entry>
                <key>schema.identifier</key>
                <value>
                  <name>schema.identifier</name>
                </value>
              </entry>
              <entry>
                <key>schema.protocol.version</key>
                <value>
                  <name>schema.protocol.version</name>
                </value>
              </entry>
              <entry>
                <key>schema.version</key>
                <value>
                  <name>schema.version</name>
                </value>
              </entry>
            </descriptors>
            <executionNode>ALL</executionNode>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>Delete Attributes Expression</key>
              </entry>
              <entry>
                <key>Store State</key>
                <value>Do not store state</value>
              </entry>
              <entry>
                <key>Stateful Variables Initial Value</key>
              </entry>
              <entry>
                <key>kafka.topic</key>
                <value>truck_events_avro</value>
              </entry>
              <entry>
                <key>schema.identifier</key>
                <value>3</value>
              </entry>
              <entry>
                <key>schema.protocol.version</key>
                <value>1</value>
              </entry>
              <entry>
                <key>schema.version</key>
                <value>1</value>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>Specify Schema and Destination</name>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>success</name>
          </relationships>
          <style></style>
          <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
        </processors>
        <processors>
          <id>eded85d4-10c2-38a5-0000-000000000000</id>
          <parentGroupId>6b90ce3e-ce0a-3325-0000-000000000000</parentGroupId>
          <position>
            <x>665.0710894984766</x>
            <y>508.8282381494111</y>
          </position>
          <bundle>
            <artifact>nifi-scripting-nar</artifact>
            <group>org.apache.nifi</group>
            <version>1.2.0.3.0.0.0-264</version>
          </bundle>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>Script Engine</key>
                <value>
                  <name>Script Engine</name>
                </value>
              </entry>
              <entry>
                <key>Script File</key>
                <value>
                  <name>Script File</name>
                </value>
              </entry>
              <entry>
                <key>Script Body</key>
                <value>
                  <name>Script Body</name>
                </value>
              </entry>
              <entry>
                <key>Module Directory</key>
                <value>
                  <name>Module Directory</name>
                </value>
              </entry>
            </descriptors>
            <executionNode>ALL</executionNode>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>Script Engine</key>
                <value>Groovy</value>
              </entry>
              <entry>
                <key>Script File</key>
              </entry>
              <entry>
                <key>Script Body</key>
                <value>import java.nio.charset.StandardCharsets


def flowFile = session.get()
if(!flowFile) return

lat =  flowFile.getAttribute('latitudeForGeoCodeEnrichment')
lng =  flowFile.getAttribute('longitudeForGeoCodeEnrichment')


flowFile = session.write(flowFile, {inputStream, outputStream -&gt;
   inputStream.eachLine { line -&gt;
      fmt_addr = "2106 Morton Ave, Des Moines, IA 50317, USA\n"
      outputStream.write("$line$fmt_addr".toString().getBytes(StandardCharsets.UTF_8))
   }
} as StreamCallback)

session.transfer(flowFile, REL_SUCCESS)</value>
              </entry>
              <entry>
                <key>Module Directory</key>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>GeoCode Enrichment</name>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>failure</name>
          </relationships>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>success</name>
          </relationships>
          <style></style>
          <type>org.apache.nifi.processors.script.ExecuteScript</type>
        </processors>
        <processors>
          <id>1f5af951-7f04-3ead-0000-000000000000</id>
          <parentGroupId>6b90ce3e-ce0a-3325-0000-000000000000</parentGroupId>
          <position>
            <x>1145.8907857649033</x>
            <y>710.8879825131966</y>
          </position>
          <bundle>
            <artifact>nifi-update-attribute-nar</artifact>
            <group>org.apache.nifi</group>
            <version>1.2.0.3.0.0.0-264</version>
          </bundle>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>Delete Attributes Expression</key>
                <value>
                  <name>Delete Attributes Expression</name>
                </value>
              </entry>
              <entry>
                <key>Store State</key>
                <value>
                  <name>Store State</name>
                </value>
              </entry>
              <entry>
                <key>Stateful Variables Initial Value</key>
                <value>
                  <name>Stateful Variables Initial Value</name>
                </value>
              </entry>
              <entry>
                <key>kafka.topic</key>
                <value>
                  <name>kafka.topic</name>
                </value>
              </entry>
              <entry>
                <key>schema.identifier</key>
                <value>
                  <name>schema.identifier</name>
                </value>
              </entry>
              <entry>
                <key>schema.protocol.version</key>
                <value>
                  <name>schema.protocol.version</name>
                </value>
              </entry>
              <entry>
                <key>schema.version</key>
                <value>
                  <name>schema.version</name>
                </value>
              </entry>
            </descriptors>
            <executionNode>ALL</executionNode>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>Delete Attributes Expression</key>
              </entry>
              <entry>
                <key>Store State</key>
                <value>Do not store state</value>
              </entry>
              <entry>
                <key>Stateful Variables Initial Value</key>
              </entry>
              <entry>
                <key>kafka.topic</key>
                <value>truck_speed_events_avro</value>
              </entry>
              <entry>
                <key>schema.identifier</key>
                <value>4</value>
              </entry>
              <entry>
                <key>schema.protocol.version</key>
                <value>1</value>
              </entry>
              <entry>
                <key>schema.version</key>
                <value>1</value>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>Specify Schema and Destination</name>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>success</name>
          </relationships>
          <style></style>
          <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
        </processors>
      </contents>
      <name>Use Case 2 - Approach B (George)</name>
    </processGroups>
  </snippet>
  <timestamp>05/05/2017 10:05:59 UTC</timestamp>
</template>